astrogrid/registry/webapp/src/webapp/wsdl/RegistrySearch-v0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="IVOARegistrySearch" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
             xmlns:adql="http://www.ivoa.net/xml/ADQL/v0.7.4"
             xmlns:vr="http://www.ivoa.net/xml/VOResource/v0.10" 
             xmlns:ri="http://www.ivoa.net/xml/RegistryInterface/v0.1" 
             xmlns:tns="http://www.ivoa.net/wsdl/RegistrySearch/v0.1"
             targetNamespace="http://www.ivoa.net/wsdl/RegistrySearch/v0.1">   <types>      <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" 
         xmlns:tns="http://www.ivoa.net/wsdl/RegistrySearch/v0.1" 
         targetNamespace="http://www.ivoa.net/wsdl/RegistrySearch/v0.1">
         <xs:import namespace="http://www.ivoa.net/xml/ADQL/v0.7.4" 
                    schemaLocation="../schema/adql/ADQL-0.7.4.xsd" />
         <xs:import namespace="http://www.ivoa.net/xml/RegistryInterface/v0.1"
                    schemaLocation="../schema/RegistryInterface-v0.1.xsd"/>
      <xs:element name="Search">        <xs:complexType>          <xs:sequence>            <xs:element minOccurs="0" maxOccurs="1" ref="adql:Select" />          </xs:sequence>        </xs:complexType>      </xs:element>
      <xs:element name="SearchResponse">        <xs:complexType>          <xs:sequence>            <xs:element minOccurs="1" maxOccurs="1" ref="ri:VOResources" />          </xs:sequence>        </xs:complexType>      </xs:element>
      <xs:element name="KeywordSearch">        <xs:complexType>          <xs:sequence>            <xs:element minOccurs="1" maxOccurs="1" name="keywords" type="xs:string" />            <xs:element minOccurs="1" maxOccurs="1" name="orValue" type="xs:boolean" />          </xs:sequence>        </xs:complexType>      </xs:element>            </xs:schema>         </types>
   <message name="empty"/>
   <message name="SearchReq">        <part name="Search" element="tns:Search" />   </message>
   <message name="SearchResp">      <part name="VoResources" element="tns:SearchResponse" />   </message>
   <message name="KeywordSearchReq">      <part name="KeywordSearch" element="tns:KeywordSearch" />   </message>
   <portType name="RegistrySearchPortType">      <operation name="Search">         <input message="tns:SearchReq" />         <output message="tns:SearchResp" />      </operation>      <operation name="KeywordSearch">         <input message="tns:KeywordSearchReq" />         <output message="tns:SearchResp" />      </operation>         </portType>
   <binding name="RegistrySearchSOAP" type="tns:RegistrySearchPortType">      <soap:binding style="document"                     transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Search">         <soap:operation style="document" soapAction="Search" />         <input>            <soap:body use="literal" />         </input>         <output>            <soap:body use="literal" />         </output>      </operation>
      <operation name="KeywordSearch">         <soap:operation style="document" soapAction="KeywordSearch" />         <input>            <soap:body use="literal" />         </input>         <output>            <soap:body use="literal" />         </output>      </operation>         </binding></definitions>
