astrogrid/registry/webapp/src/webapp/wsdl/RegistryHarvest-v0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OAI-PMH" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
             xmlns:oai="http://www.openarchives.org/OAI/2.0/"
             xmlns:vr="http://www.ivoa.net/xml/VOResource/v0.10" 
             xmlns:ri="http://www.ivoa.net/xml/RegistryInterface/v0.1" 
             xmlns:tns="http://www.ivoa.net/wsdl/RegistryHarvest/v0.1"
             targetNamespace="http://www.ivoa.net/wsdl/RegistryHarvest/v0.1">
             
   <types>
      <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" 
         xmlns:tns="http://www.ivoa.net/wsdl/RegistryHarvest/v0.1" 
         targetNamespace="http://www.ivoa.net/wsdl/RegistryHarvest/v0.1">

         <xs:import namespace="http://www.openarchives.org/OAI/2.0/" 
                    schemaLocation="OAI-PMH.xsd"/>
         <xs:import namespace="http://www.ivoa.net/xml/RegistryInterface/v0.1"
                    schemaLocation="RegistryInterface-v0.1.xsd"/>
         
         <xs:complexType name="RequestQualifiers">
            <xs:sequence>
               <xs:element name="from" type="xs:string" 
                        minOccurs="0" maxOccurs="1"/>
               <xs:element name="until" type="xs:string" 
                        minOccurs="0" maxOccurs="1"/>
               <xs:element name="set" type="xs:string" 
                        minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
         </xs:complexType>
         
         <xs:complexType name="Response">
            <xs:sequence>
               <xs:element name="responseDate" type="xs:dateTime"/>
               <xs:element name="request" type="oai:requestType"/>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="ErrorResp">
            <xs:complexContent>
               <xs:extension base="tns:Response">
                  <xs:sequence>
           <xs:element name="Error" type="oai:OAI-PMHerrorType"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>

         <xs:complexType name="IdentifyResp">
            <xs:complexContent>
               <xs:extension base="tns:Response">
                  <xs:sequence>
           <xs:element name="Identify" type="oai:IdentifyType"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>

         <xs:complexType name="ListMetadataFormatsResp">
            <xs:complexContent>
               <xs:extension base="tns:Response">
                  <xs:sequence>
           <xs:element name="Identify" 
                       type="oai:ListMetadataFormatsType"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>

         <xs:complexType name="ListSetsResp">
            <xs:complexContent>
               <xs:extension base="tns:Response">
                  <xs:sequence>
           <xs:element name="ListSets" type="oai:ListSetsType"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>

         <xs:complexType name="GetRecordResp">
            <xs:complexContent>
               <xs:extension base="tns:Response">
                  <xs:sequence>
           <xs:element name="GetRecord" type="oai:GetRecordType"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>

         <xs:complexType name="ListIdentifiersResp">
            <xs:complexContent>
               <xs:extension base="tns:Response">
                  <xs:sequence>
                     <xs:element name="ListIdentifiers" type="oai:ListIdentifiersType"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>


         <xs:complexType name="ListRecordsResp">
            <xs:complexContent>
               <xs:extension base="tns:Response">
                  <xs:sequence>
           <xs:element name="ListRecords" type="oai:ListRecordsType"/>
                  </xs:sequence>
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>

      </xs:schema>
   </types>

   <message name="empty"/>

   <message name="ErrorResponse">
      <part name="ErrorResp" type="tns:ErrorResp"/>
   </message>

   <!-- Identify verb -->
   <!-- the Identify verb take no inputs -->   
   
   <message name="IdentifyResponse">
      <part name="IdentifyResp" type="tns:IdentifyResp"/>
   </message>
   
   <!-- ListMetadataFormats verb -->
   <message name="ListMetadataFormatsRequest">
      <part name="qualifiers" type="tns:RequestQualifiers"/>
   </message>
   
   <message name="ListMetadataFormatsResponse">
      <part name="ListMetadataFormatsResp" type="tns:ListMetadataFormatsResp"/>
   </message>
   
   <!-- ListSets verb -->
   <!-- the ListSets operations take no inputs -->   
   
   <message name="ListSetsResponse">
      <part name="ListSetsResp" type="tns:ListSetsResp"/>
   </message>

   <message name="ListIdentifiersResponse">
      <part name="ListIdentifiersResp" type="tns:ListIdentifiersResp"/>
   </message>
   
   <!-- GetRecord verb -->
   <message name="GetRecordRequest">
      <part name="identifier" type="xs:anyURI"/>
      <part name="metadataPrefix" type="xs:string"/>
   </message>
   
   <message name="GetRecordResponse">
      <part name="GetRecordResp" type="tns:GetRecordResp"/>
   </message>
   
   <!-- ListIdentifiers verb -->                  
   <message name="ListIdentifiersRequest">
      <part name="qualifiers" type="tns:RequestQualifiers"/>
      <part name="metadataPrefix" type="xs:string"/>
   </message>
   
   <!-- ListRecords verb -->
   <message name="ListRecordsRequest">
      <part name="qualifiers" type="tns:RequestQualifiers"/>
      <part name="metadataPrefix" type="xs:string"/>
   </message>
   
   <message name="ListRecordsResponse">
      <part name="ListRecordsResp" type="tns:ListRecordsResp"/>
   </message>
   
   <message name="ResumptionRequest">
      <part name="resumptionToken" type="xs:string"/>
   </message>
   
   <message name="GetRegistriesReq">

   </message>

   <message name="SearchResp">
      <part name="voresources" element="ri:VOResources" />
   </message>

   <portType name="RegistryHarvestPortType">

      <operation name="GetRegistries">
         <input message="tns:GetRegistriesReq" />     
         <output message="tns:SearchResp" />
      </operation>      

      <!-- Identify verb -->
      <operation name="Identify">
         <input message="tns:empty"/>
         <output message="tns:IdentifyResponse"/>
         <fault name="IdentifyError" message="tns:ErrorResponse"/>
      </operation>
   
      <!-- ListMetadataFormats verb -->
      <operation name="ListMetadataFormats">
         <input message="tns:ListMetadataFormatsRequest"/>
         <output message="tns:ListMetadataFormatsResponse"/>
         <fault name="ListMetadataFormatsError" message="tns:ErrorResponse"/>
      </operation>
   
      <!-- ListSets verb (with resume version) -->
      <operation name="ListSets">
         <input message="tns:empty"/>
         <output message="tns:ListSetsResponse"/>
         <fault name="ListSetsError" message="tns:ErrorResponse"/>
      </operation>
   
      <operation name="ResumeListSets">
         <input message="tns:ResumptionRequest"/>
         <output message="tns:ListSetsResponse"/>
         <fault name="ResumeListSetsError" message="tns:ErrorResponse"/>
      </operation>
   
      <!-- GetRecord verb -->
      <operation name="GetRecord">
         <input message="tns:GetRecordRequest"/>
         <output message="tns:GetRecordResponse"/>
         <fault name="GetRecordError" message="tns:ErrorResponse"/>
      </operation>
   
      <!-- ListIdentifiers verb (with resume version) -->
      <operation name="ListIdentifiers">
         <input message="tns:ListIdentifiersRequest"/>
         <output message="tns:ListIdentifiersResponse"/>
         <fault name="ListIdentifiersError" message="tns:ErrorResponse"/>
      </operation>
   
      <operation name="ResumeListIdentifiers">
         <input message="tns:ResumptionRequest"/>
         <output message="tns:ListIdentifiersResponse"/>
         <fault name="ResumeListIdentifiersError" message="tns:ErrorResponse"/>
      </operation>
   
      <!-- ListRecords verb (with resume version) -->
      <operation name="ListRecords">
         <input message="tns:ListRecordsRequest"/>
         <output message="tns:ListRecordsResponse"/>
         <fault name="ListRecordsError" message="tns:ErrorResponse"/>
      </operation>
   
      <operation name="ResumeListRecords">
         <input message="tns:ResumptionRequest"/>
         <output message="tns:ListRecordsResponse"/>
         <fault name="ResumeListRecordsError" message="tns:ErrorResponse"/>
      </operation>
   
   </portType>
   
   <binding name="RegistryHarvestSOAP" type="tns:RegistryHarvestPortType">
      <soap:binding style="document" 
                    transport="http://schemas.xmlsoap.org/soap/http"/>
                    
      <operation name="GetRegistries">
         <soap:operation style="document" soapAction="GetRegistries" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>      

      <!-- Identify verb -->
      <operation name="Identify">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="IdentifyError">
            <soap:fault name="IdentifyError" use="literal" 
                        namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
      <!-- ListMetadataFormats verb -->
      <operation name="ListMetadataFormats">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="ListMetadataFormatsError">
            <soap:fault name="ListMetadataFormatsError" use="literal" 
                        namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
      <!-- ListSets verb (with resume version) -->
      <operation name="ListSets">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="ListSetsError">
            <soap:fault name="ListSetsError" use="literal" 
                        namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
      <operation name="ResumeListSets">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="ResumeListSetsError">
            <soap:fault name="ResumeListSetsError" use="literal" 
                        namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
      <!-- GetRecord verb -->
      <operation name="GetRecord">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="GetRecordError">
            <soap:fault name="GetRecordError" use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
      <!-- ListIdentifiers verb (with resume version) -->
      <operation name="ListIdentifiers">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="ListIdentifiersError">
            <soap:fault name="ListIdentifiersError" use="literal" 
                        namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
      <operation name="ResumeListIdentifiers">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="ResumeListIdentifiersError">
            <soap:fault name="ResumeListIdentifiersError" use="literal" 
                        namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
      <!-- ListRecords verb (with resume version) -->
      <operation name="ListRecords">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="ListRecordsError">
            <soap:fault name="ListRecordsError" use="literal" 
                        namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
      <operation name="ResumeListRecords">
         <soap:operation soapAction="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         <input>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </input>
         <output>
            <soap:body use="literal" 
                       namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </output>
         <fault name="ResumeListRecordsError">
            <soap:fault name="ResumeListRecordsError" use="literal" 
                        namespace="http://www.ivoa.net/wsdl/reginterface.wsdl"/>
         </fault>
      </operation>
   
   </binding>

</definitions>
