astrogrid/jes/wsdl/JobController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="jobController.delegate.jes.astrogrid.org" 
                  xmlns:impl="jobController.delegate.jes.astrogrid.org" 
                  xmlns:intf="jobController.delegate.jes.astrogrid.org" 
                  xmlns:apachesoap="http://xml.apache.org/xml-soap" 
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns="http://schemas.xmlsoap.org/wsdl/">
                  
   <wsdl:types/>
   
   <wsdl:message name="submitJobRequest">
      <wsdl:part name="jobXML" type="xsd:string"/>
   </wsdl:message>
   
   <wsdl:message name="submitJobResponse">
      <wsdl:part name="submitJobReturn" type="xsd:string"/>
   </wsdl:message>
   
   <wsdl:message name="userJobListRequest">
      <wsdl:part name="jobListXML" type="xsd:string"/>
   </wsdl:message>
   
   <wsdl:message name="userJobListResponse">
      <wsdl:part name="userJobListReturn" type="xsd:string"/>
   </wsdl:message>
   
   <wsdl:portType name="JobController">
      <wsdl:operation name="submitJob" parameterOrder="jobXML">
         <wsdl:input name="submitJobRequest" message="impl:submitJobRequest"/>
         <wsdl:output name="submitJobResponse" message="impl:submitJobResponse"/>
      </wsdl:operation>
      <wsdl:operation name="readJobList" parameterOrder="jobListXML">
         <wsdl:input name="userJobListRequest" message="impl:userJobListRequest"/>
         <wsdl:output name="userJobListResponse" message="impl:userJobListResponse"/>
      </wsdl:operation>      
   </wsdl:portType>
   
   <wsdl:binding name="JobControllerServiceSoapBinding" type="impl:JobController">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitJob">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="submitJobRequest">
            <wsdlsoap:body use="encoded" 
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                           namespace="jobController.astrogrid.org"/>
         </wsdl:input>
         <wsdl:output name="submitJobResponse">
            <wsdlsoap:body use="encoded" 
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                           namespace="jobController.astrogrid.org"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="readJobList">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="userJobListRequest">
            <wsdlsoap:body use="encoded" 
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                           namespace="jobController.astrogrid.org"/>
         </wsdl:input>
         <wsdl:output name="userJobListResponse">
            <wsdlsoap:body use="encoded" 
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                           namespace="jobController.astrogrid.org"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   
   <wsdl:service name="JobControllerService">
      <wsdl:port name="JobControllerService" binding="impl:JobControllerServiceSoapBinding">
         <wsdlsoap:address location="http://localhost:8080/axis/services/JobControllerService"/>
      </wsdl:port>
   </wsdl:service>
   
</wsdl:definitions>