astrogrid/registry/server/src/interface/coords.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:nvo-coords" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:crd="urn:nvo-coords" elementFormDefault="qualified">
	<!-- Attribute types: units and time scale-->
	<xs:simpleType name="unitType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="timeUnitType">
		<xs:annotation>
			<xs:documentation>Coordinate units may be angular (degrees, radians, hours, arcmins, arcsecs), linear (meters, km, mm, AUs, parsecs, kpc, Mpc, lightyears), or empty (i.e., dimensionless)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crd:unitType">
			<xs:enumeration value="s"/>
			<xs:enumeration value="d"/>
			<xs:enumeration value="a"/>
			<xs:enumeration value="yr"/>
			<xs:enumeration value="cy"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="posUnitType">
		<xs:annotation>
			<xs:documentation>Coordinate units may be angular (degrees, radians, hours, arcmins, arcsecs), linear (meters, km, mm, AUs, parsecs, kpc, Mpc, lightyears), or empty (i.e., dimensionless)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crd:unitType">
			<xs:enumeration value="deg"/>
			<xs:enumeration value="rad"/>
			<xs:enumeration value="h"/>
			<xs:enumeration value="arcmin"/>
			<xs:enumeration value="arcsec"/>
			<xs:enumeration value="m"/>
			<xs:enumeration value="km"/>
			<xs:enumeration value="mm"/>
			<xs:enumeration value="au"/>
			<xs:enumeration value="pc"/>
			<xs:enumeration value="kpc"/>
			<xs:enumeration value="Mpc"/>
			<xs:enumeration value="lyr"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="angleUnitType">
		<xs:annotation>
			<xs:documentation>Angular coordinate units may be degrees, radians, hours, arcmins, arcsecs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crd:unitType">
			<xs:enumeration value="deg"/>
			<xs:enumeration value="rad"/>
			<xs:enumeration value="h"/>
			<xs:enumeration value="arcmin"/>
			<xs:enumeration value="arcsec"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="velTimeUnitType">
		<xs:annotation>
			<xs:documentation>Velocity units are a posUnitType / velTimeType; the latter may be second, day, hour, year (a or yr), century, or empty</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crd:unitType">
			<xs:enumeration value="s"/>
			<xs:enumeration value="h"/>
			<xs:enumeration value="d"/>
			<xs:enumeration value="a"/>
			<xs:enumeration value="yr"/>
			<xs:enumeration value="century"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="spectralUnitType">
		<xs:annotation>
			<xs:documentation>Spectral units may be frequency (Hz, kHz, MHz, GHz), wavelength (meters, mm, micron, nm, Angstrom), or energy(eV, keV, MeV, GeV)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crd:unitType">
			<xs:enumeration value="Hz"/>
			<xs:enumeration value="kHz"/>
			<xs:enumeration value="MHz"/>
			<xs:enumeration value="GHz"/>
			<xs:enumeration value="m"/>
			<xs:enumeration value="mm"/>
			<xs:enumeration value="micron"/>
			<xs:enumeration value="nm"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="eV"/>
			<xs:enumeration value="keV"/>
			<xs:enumeration value="MeV"/>
			<xs:enumeration value="GeV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timeScaleType">
		<xs:annotation>
			<xs:documentation>The actual time scale used: TT, TAI, UTC, TDB, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TT"/>
			<xs:enumeration value="TDT"/>
			<xs:enumeration value="ET"/>
			<xs:enumeration value="TDB"/>
			<xs:enumeration value="TCG"/>
			<xs:enumeration value="TCB"/>
			<xs:enumeration value="TAI"/>
			<xs:enumeration value="IAT"/>
			<xs:enumeration value="UTC"/>
			<xs:enumeration value="LST"/>
		</xs:restriction>
	</xs:simpleType>
	<!--The definition of astronTimeType-->
	<xs:element name="TValue" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for astronTimeType</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ISOTime" substitutionGroup="crd:TValue">
		<xs:annotation>
			<xs:documentation>ISO8601 time; note: only a limited subset of ISO 8601 is allowed: yyyy-mm-ddThh:mm:ss.sss...</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:dateTime">
					<xs:attribute name="timescale" type="crd:timeScaleType" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ISOTimeRef" substitutionGroup="crd:TValue">
		<xs:annotation>
			<xs:documentation>IDREF to an ISO8601 time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:IDREF">
					<xs:attribute name="timescale" type="crd:timeScaleType" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="JDTime" substitutionGroup="crd:TValue">
		<xs:annotation>
			<xs:documentation>JD time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="timescale" type="crd:timeScaleType" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="JDTimeRef" substitutionGroup="crd:TValue">
		<xs:annotation>
			<xs:documentation>IDREF to a JD time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:IDREF">
					<xs:attribute name="timescale" type="crd:timeScaleType" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MJDTime" substitutionGroup="crd:TValue">
		<xs:annotation>
			<xs:documentation>MJD time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="timescale" type="crd:timeScaleType" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MJDTimeRef" substitutionGroup="crd:TValue">
		<xs:annotation>
			<xs:documentation>IDREF to an MJD time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:IDREF">
					<xs:attribute name="timescale" type="crd:timeScaleType" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RelativeTime" substitutionGroup="crd:TValue">
		<xs:annotation>
			<xs:documentation>Relative time consists of an elapsed time and a reference time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ElapsedTime">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:decimal">
								<xs:attribute name="unit" type="crd:timeUnitType" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReferenceTime" type="crd:astronTimeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RelativeTimeRef" substitutionGroup="crd:TValue">
		<xs:annotation>
			<xs:documentation>IDREF to the elapsed time part of a relative time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ElapsedTime">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:IDREF">
								<xs:attribute name="unit" type="crd:timeUnitType" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReferenceTime" type="crd:astronTimeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="astronTimeType">
		<xs:annotation>
			<xs:documentation>astronTime may be expressed in ISO8601 or as a double relative to a reference time; or it may be provided in an entity refered to by the Reference element</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="crd:TValue"/>
		</xs:sequence>
	</xs:complexType>
	<!--Some specific vectors of doubles-->
	<xs:simpleType name="doubleArrayType">
		<xs:annotation>
			<xs:documentation>For vector coordinates we need arrays of doubles</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:double"/>
	</xs:simpleType>
			<xs:simpleType name="TestHello">
				<xs:restriction base="xs:double">
					<xs:length value="2"/>
				</xs:restriction>
			</xs:simpleType>
	
	<xs:simpleType name="double2Type">
		<xs:annotation>
			<xs:documentation>A vector of 2 doubles</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:double" />

	</xs:simpleType>
	<xs:simpleType name="double3Type">
		<xs:annotation>
			<xs:documentation>A vector of 3 doubles</xs:documentation>
		</xs:annotation>
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:length value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	<xs:simpleType name="double4Type">
		<xs:annotation>
			<xs:documentation>A vector of 4 or 2x2 doubles</xs:documentation>
		</xs:annotation>
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:length value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	<xs:simpleType name="double9Type">
		<xs:annotation>
			<xs:documentation>A vector of 9 or 3x3 doubles</xs:documentation>
		</xs:annotation>
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:length value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	<!--Substitution groups for 1-D coordinates -->
	<xs:element name="CValue" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a scalar coordinate value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Value" type="xs:double" substitutionGroup="crd:CValue">
		<xs:annotation>
			<xs:documentation>double</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ValueRef" type="xs:IDREF" substitutionGroup="crd:CValue">
		<xs:annotation>
			<xs:documentation>IDREF to value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CError" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a scalar coordinate error</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Error" type="xs:double" substitutionGroup="crd:CError">
		<xs:annotation>
			<xs:documentation>double</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ErrorRef" type="xs:IDREF" substitutionGroup="crd:CError">
		<xs:annotation>
			<xs:documentation>IDREF to error</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CResolution" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a scalar coordinate resolution</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Resolution" type="xs:double" substitutionGroup="crd:CResolution">
		<xs:annotation>
			<xs:documentation>double</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResolutionRef" type="xs:IDREF" substitutionGroup="crd:CResolution">
		<xs:annotation>
			<xs:documentation>IDREF to resolution</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CSize" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a scalar coordinate size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size" type="xs:double" substitutionGroup="crd:CSize">
		<xs:annotation>
			<xs:documentation>double</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SizeRef" type="xs:IDREF" substitutionGroup="crd:CSize">
		<xs:annotation>
			<xs:documentation>IDREF to size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CPixSize" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a scalar coordinate pixel size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PixSize" type="xs:double" substitutionGroup="crd:CPixSize">
		<xs:annotation>
			<xs:documentation>double</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PixSizeRef" type="xs:IDREF" substitutionGroup="crd:CPixSize">
		<xs:annotation>
			<xs:documentation>IDREF to pixel size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--1-D coordinate types-->
	<xs:complexType name="coordinateType" abstract="true">
		<xs:annotation>
			<xs:documentation>Generic coordinate type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="scalarCoordinateType">
		<xs:annotation>
			<xs:documentation>generic scalar coordinate type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="crd:coordinateType">
				<xs:sequence>
					<xs:element ref="crd:CValue" minOccurs="0"/>
					<xs:element ref="crd:CError" minOccurs="0"/>
					<xs:element ref="crd:CResolution" minOccurs="0"/>
					<xs:element ref="crd:CSize" minOccurs="0"/>
					<xs:element ref="crd:CPixSize" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="timeCoordinateType">
		<xs:annotation>
			<xs:documentation>Time coordinate type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="crd:coordinateType">
				<xs:sequence>
					<xs:element ref="crd:TValue" minOccurs="0"/>
					<xs:element ref="crd:CError" minOccurs="0"/>
					<xs:element ref="crd:CResolution" minOccurs="0"/>
					<xs:element ref="crd:CSize" minOccurs="0"/>
					<xs:element ref="crd:CPixSize" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="unit" type="crd:timeUnitType" use="optional" default="s"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Substitution groups for 2-D coordinates -->
	<xs:complexType name="size2Type">
		<xs:annotation>
			<xs:documentation>2 doubles with optional position angle</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="crd:double2Type"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="CValue2" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 2-D coordinate value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Value2" type="crd:double2Type" substitutionGroup="crd:CValue2">
		<xs:annotation>
			<xs:documentation>double vector</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Value2Ref" type="xs:IDREF" substitutionGroup="crd:CValue2">
		<xs:annotation>
			<xs:documentation>IDREF to value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CError2" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 2-D coordinate error</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Error2" type="crd:size2Type" substitutionGroup="crd:CError2">
		<xs:annotation>
			<xs:documentation>size2Type element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Error2Matrix" type="crd:double4Type" substitutionGroup="crd:CError2">
		<xs:annotation>
			<xs:documentation>2x2 matrix</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Error2Ref" type="xs:IDREF" substitutionGroup="crd:CError2">
		<xs:annotation>
			<xs:documentation>IDREF to error</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CResolution2" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 2-D coordinate resolution</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Resolution2" type="crd:size2Type" substitutionGroup="crd:CResolution2">
		<xs:annotation>
			<xs:documentation>size2Type element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Resolution2Matrix" type="crd:double4Type" substitutionGroup="crd:CResolution2">
		<xs:annotation>
			<xs:documentation>2x2 matrix</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Resolution2Ref" type="xs:IDREF" substitutionGroup="crd:CResolution2">
		<xs:annotation>
			<xs:documentation>IDREF to resolution</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CSize2" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 2-D coordinate size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size2" type="crd:size2Type" substitutionGroup="crd:CSize2">
		<xs:annotation>
			<xs:documentation>size2Type element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size2Matrix" type="crd:double4Type" substitutionGroup="crd:CSize2">
		<xs:annotation>
			<xs:documentation>2x2 matrix</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size2Ref" type="xs:IDREF" substitutionGroup="crd:CSize2">
		<xs:annotation>
			<xs:documentation>IDREF to size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CPixSize2" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 2-D coordinate pixel size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PixSize2" type="crd:size2Type" substitutionGroup="crd:CPixSize2">
		<xs:annotation>
			<xs:documentation>size2Type element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PixSize2Matrix" type="crd:double4Type" substitutionGroup="crd:CPixSize2">
		<xs:annotation>
			<xs:documentation>2x2 matrix</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PixSize2Ref" type="xs:IDREF" substitutionGroup="crd:CPixSize2">
		<xs:annotation>
			<xs:documentation>IDREF to pixel size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--2-D coordinate types-->
	<xs:complexType name="vector2CoordinateType">
		<xs:annotation>
			<xs:documentation>Generic 2-D coordinate type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="crd:coordinateType">
				<xs:sequence>
					<xs:element ref="crd:CValue2" minOccurs="0"/>
					<xs:element ref="crd:CError2" minOccurs="0"/>
					<xs:element ref="crd:CResolution2" minOccurs="0"/>
					<xs:element ref="crd:CSize2" minOccurs="0"/>
					<xs:element ref="crd:CPixSize2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Substitution groups for 3-D coordinates -->
	<xs:complexType name="size3Type">
		<xs:annotation>
			<xs:documentation>3 doubles with optional position angles</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="crd:double3Type"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="CValue3" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 3-D coordinate value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Value3" type="crd:double3Type" substitutionGroup="crd:CValue3">
		<xs:annotation>
			<xs:documentation>Vector of 3 doubles</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Value3Ref" type="xs:IDREF" substitutionGroup="crd:CValue3">
		<xs:annotation>
			<xs:documentation>IDREF to value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CError3" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 3-D coordinate error</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Error3" type="crd:size3Type" substitutionGroup="crd:CError3">
		<xs:annotation>
			<xs:documentation>size3Type element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Error3Matrix" type="crd:double9Type" substitutionGroup="crd:CError3">
		<xs:annotation>
			<xs:documentation>3x3 matrix</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Error3Ref" type="xs:IDREF" substitutionGroup="crd:CError3">
		<xs:annotation>
			<xs:documentation>IDREF to error</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CResolution3" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 3-D coordinate resolution</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Resolution3" type="crd:size3Type" substitutionGroup="crd:CResolution3">
		<xs:annotation>
			<xs:documentation>size3Type element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Resolution3Matrix" type="crd:double9Type" substitutionGroup="crd:CResolution3">
		<xs:annotation>
			<xs:documentation>3x3 matrix</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Resolution3Ref" type="xs:IDREF" substitutionGroup="crd:CResolution3">
		<xs:annotation>
			<xs:documentation>IDREF to resolution</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CSize3" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 3-D coordinate size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size3" type="crd:size3Type" substitutionGroup="crd:CSize3">
		<xs:annotation>
			<xs:documentation>size3Type element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size3Matrix" type="crd:double9Type" substitutionGroup="crd:CSize3">
		<xs:annotation>
			<xs:documentation>3x3 matrix</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size3Ref" type="xs:IDREF" substitutionGroup="crd:CSize3">
		<xs:annotation>
			<xs:documentation>IDREF to size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CPixSize3" abstract="true">
		<xs:annotation>
			<xs:documentation>Substitution group for a 3-D coordinate pixel size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PixSize3" type="crd:size3Type" substitutionGroup="crd:CPixSize3">
		<xs:annotation>
			<xs:documentation>size3Type element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PixSize3Matrix" type="crd:double9Type" substitutionGroup="crd:CPixSize3">
		<xs:annotation>
			<xs:documentation>3x3 matrix</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PixSize3Ref" type="xs:IDREF" substitutionGroup="crd:CPixSize3">
		<xs:annotation>
			<xs:documentation>IDREF to pixel size</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--3-D coordinate types-->
	<xs:complexType name="vector3CoordinateType">
		<xs:annotation>
			<xs:documentation>Generic 3-D coordinate type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="crd:coordinateType">
				<xs:sequence>
					<xs:element ref="crd:CValue3" minOccurs="0"/>
					<xs:element ref="crd:CError3" minOccurs="0"/>
					<xs:element ref="crd:CResolution3" minOccurs="0"/>
					<xs:element ref="crd:CSize3" minOccurs="0"/>
					<xs:element ref="crd:CPixSize3" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Coord Substitution Groups-->
	<xs:element name="Coordinate" abstract="true">
		<xs:annotation>
			<xs:documentation>Coordinate substitution group</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="unit" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScalarCoordinate" substitutionGroup="crd:Coordinate">
		<xs:annotation>
			<xs:documentation>Generic scalar coordinate element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="crd:scalarCoordinateType">
					<xs:attribute name="unit" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="StringCoordinate" substitutionGroup="crd:Coordinate">
		<xs:annotation>
			<xs:documentation>Generic string coordinate element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="crd:coordinateType">
					<xs:sequence>
						<xs:element name="Name" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="unit" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Position" abstract="true">
		<xs:annotation>
			<xs:documentation>Position coordinate substitution group</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Position1D" substitutionGroup="crd:Position">
		<xs:annotation>
			<xs:documentation>1-D Position coordinate</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="crd:scalarCoordinateType">
					<xs:attribute name="unit" type="crd:posUnitType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Position2D" substitutionGroup="crd:Position">
		<xs:annotation>
			<xs:documentation>2-D Position coordinate</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="crd:vector2CoordinateType">
					<xs:attribute name="unit" type="crd:posUnitType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Position3D" substitutionGroup="crd:Position">
		<xs:annotation>
			<xs:documentation>3-D Position coordinate</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="crd:vector3CoordinateType">
					<xs:attribute name="unit" type="crd:posUnitType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Velocity" abstract="true">
		<xs:annotation>
			<xs:documentation>Velocity coordinate substitution group</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Velocity1D" substitutionGroup="crd:Velocity">
		<xs:annotation>
			<xs:documentation>1-D Velocity coordinate</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="crd:scalarCoordinateType">
					<xs:attribute name="unit" type="crd:posUnitType" use="required"/>
					<xs:attribute name="tunit" type="crd:velTimeUnitType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Velocity2D" substitutionGroup="crd:Velocity">
		<xs:annotation>
			<xs:documentation>2-D Velocity coordinate</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="crd:vector2CoordinateType">
					<xs:attribute name="unit" type="crd:posUnitType" use="required"/>
					<xs:attribute name="tunit" type="crd:velTimeUnitType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Velocity3D" substitutionGroup="crd:Velocity">
		<xs:annotation>
			<xs:documentation>3-D Velocity coordinate</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="crd:vector3CoordinateType">
					<xs:attribute name="unit" type="crd:posUnitType" use="required"/>
					<xs:attribute name="tunit" type="crd:velTimeUnitType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- Coords Types-->
	<xs:complexType name="coordsType">
		<xs:annotation>
			<xs:documentation>The generic coordsType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="crd:Coordinate" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="coord_system_id" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="astroCoordsType">
		<xs:annotation>
			<xs:documentation>The astronomical (STC) coordsType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Time" type="crd:timeCoordinateType" minOccurs="0"/>
			<xs:element ref="crd:Position" minOccurs="0"/>
			<xs:element ref="crd:Velocity" minOccurs="0"/>
			<xs:element name="Spectral" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="crd:scalarCoordinateType">
							<xs:attribute name="unit" type="crd:spectralUnitType" use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Redshift" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="crd:scalarCoordinateType">
							<xs:attribute name="unit" type="crd:posUnitType" use="optional"/>
							<xs:attribute name="tunit" type="crd:velTimeUnitType" use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="crd:Coordinate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="coord_system_id" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="ScalarPos60Value">
		<xs:annotation>
			<xs:documentation>Unused</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(\+|-)?\d?\d:\d?\d(:\d?\d)?(\.\d+)?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Vector2Pos60Value">
		<xs:annotation>
			<xs:documentation>Unused</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(\+|-)?\d?\d:\d?\d(:\d?\d)?(\.\d+)?(,|\s)[\s]*(\+|-)?\d?\d:\d?\d(:\d?\d)?(\.\d+)?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
