astrogrid/registry/server/src/interface/QueryRegistry.wsdl

<definitions targetNamespace="http://www.ivoa.net/schemas/services/QueryRegistry/wsdl"
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://www.ivoa.net/schemas/services/QueryRegistry/wsdl" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:adql="http://www.ivoa.net/xml/ADQL/v0.7.4"
    xmlns:vr="http://www.ivoa.net/xml/VOResource/v0.9">



    <import location="ADQL-0.7.4.xsd" namespace="http://www.ivoa.net/xml/ADQL/v0.7.4" />		
	<import location="VOResource-v0.9.xsd" namespace="http://www.ivoa.net/xml/VOResource/v0.9" />
	<import location="VORegistry-v0.2.xsd" namespace="http://www.ivoa.net/xml/VORegistry/v0.2"  />	
	<import location="VOCommunity-v0.2.xsd" namespace="http://www.ivoa.net/xml/VOCommunity/v0.2"  />		
	<import location="VODataService-v0.4.xsd" namespace="http://www.ivoa.net/xml/VODataService/v0.4"  />	
	
	<types>
 		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			    xmlns:vr="http://www.ivoa.net/xml/VOResource/v0.9"
		        xmlns:adql="http://www.ivoa.net/xml/ADQL/v0.7.4"
 		        targetNamespace="http://www.ivoa.net/schemas/services/QueryRegistry/wsdl">
		<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
	<xsd:element name="VOResources">
		<xsd:complexType>
	    	<xsd:sequence>
				<xsd:element ref="vr:Resource" maxOccurs="unbounded"/>
    		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	  </schema>
   </types>
	

	<message name="SearchReq">
        <part name="adql" element="adql:Select" />
	</message>

	<message name="KeywordSearchReq">
		<part name="keywords" type="xsd:string" />
		<part name="orValue" type="xsd:boolean" />
	</message>

	<message name="GetRegistriesReq">

	</message>

	<message name="SearchResp">
	<part name="voresources" element="tns:VOResources" />
	</message>

	<portType name="QueryRegistryPortType">
		<operation name="Search">
			<input message="tns:SearchReq" />
			<output message="tns:SearchResp" />
		</operation>
		<operation name="KeywordSearch">
			<input message="tns:KeywordSearchReq" />
			<output message="tns:SearchResp" />
		</operation>		
		<operation name="GetRegistries">
			<input message="tns:GetRegistriesReq" />		
			<output message="tns:SearchResp" />
		</operation>		
	</portType>

	<binding name="QueryRegistrySOAPBinding" type="tns:QueryRegistryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Search">
			<soap:operation style="document" soapAction="Search" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="KeywordSearch">
			<soap:operation style="document" soapAction="KeywordSearch" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>		
		<operation name="GetRegistries">
			<soap:operation style="document" soapAction="GetRegistries" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>		
	</binding>

	<service name="QueryRegistryService">
		<port name="QueryRegistrySOAPPort" binding="tns:QueryRegistrySOAPBinding">
			<soap:address location="http://localhost:8080/AxisWeb/services/QueryRegistrySOAPPort" />
		</port>
	</service>

</definitions>