astrogrid/applications/generated/wsdl/ApplicationControllerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:manager.applications.astrogrid.org" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:impl.manager.applications.astrogrid.org" xmlns:intf="urn:manager.applications.astrogrid.org" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:beans.applications.astrogrid.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="urn:manager.applications.astrogrid.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="urn:beans.applications.astrogrid.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SimpleApplicationDescription">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="xmlDescriptor" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="User">
    <sequence>
     <element name="account" nillable="true" type="xsd:string"/>
     <element name="group" nillable="true" type="xsd:string"/>
     <element name="token" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ParameterValues">
    <sequence>
     <element name="methodName" nillable="true" type="xsd:string"/>
     <element name="parameterSpec" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="executeApplicationResponse">

      <wsdl:part name="executeApplicationReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="returnRegistryEntryResponse">

      <wsdl:part name="returnRegistryEntryReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listApplicationsRequest">

   </wsdl:message>

   <wsdl:message name="listApplicationsResponse">

      <wsdl:part name="listApplicationsReturn" type="intf:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="queryApplicationExecutionStatusRequest">

      <wsdl:part name="executionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="initializeApplicationResponse">

      <wsdl:part name="initializeApplicationReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getApplicationDescriptionRequest">

      <wsdl:part name="applicationID" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="executeApplicationRequest">

      <wsdl:part name="executionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="returnRegistryEntryRequest">

   </wsdl:message>

   <wsdl:message name="getApplicationDescriptionResponse">

      <wsdl:part name="getApplicationDescriptionReturn" type="tns1:SimpleApplicationDescription"/>

   </wsdl:message>

   <wsdl:message name="queryApplicationExecutionStatusResponse">

      <wsdl:part name="queryApplicationExecutionStatusReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="initializeApplicationRequest">

      <wsdl:part name="applicationID" type="xsd:string"/>

      <wsdl:part name="jobstepID" type="xsd:string"/>

      <wsdl:part name="jobMonitorURL" type="xsd:string"/>

      <wsdl:part name="user" type="tns1:User"/>

      <wsdl:part name="parameters" type="tns1:ParameterValues"/>

   </wsdl:message>

   <wsdl:portType name="ApplicationController">

      <wsdl:operation name="listApplications">

         <wsdl:input message="intf:listApplicationsRequest" name="listApplicationsRequest"/>

         <wsdl:output message="intf:listApplicationsResponse" name="listApplicationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getApplicationDescription" parameterOrder="applicationID">

         <wsdl:input message="intf:getApplicationDescriptionRequest" name="getApplicationDescriptionRequest"/>

         <wsdl:output message="intf:getApplicationDescriptionResponse" name="getApplicationDescriptionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="initializeApplication" parameterOrder="applicationID jobstepID jobMonitorURL user parameters">

         <wsdl:input message="intf:initializeApplicationRequest" name="initializeApplicationRequest"/>

         <wsdl:output message="intf:initializeApplicationResponse" name="initializeApplicationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executeApplication" parameterOrder="executionId">

         <wsdl:input message="intf:executeApplicationRequest" name="executeApplicationRequest"/>

         <wsdl:output message="intf:executeApplicationResponse" name="executeApplicationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="queryApplicationExecutionStatus" parameterOrder="executionId">

         <wsdl:input message="intf:queryApplicationExecutionStatusRequest" name="queryApplicationExecutionStatusRequest"/>

         <wsdl:output message="intf:queryApplicationExecutionStatusResponse" name="queryApplicationExecutionStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="returnRegistryEntry">

         <wsdl:input message="intf:returnRegistryEntryRequest" name="returnRegistryEntryRequest"/>

         <wsdl:output message="intf:returnRegistryEntryResponse" name="returnRegistryEntryResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ApplicationControllerServiceSoapBinding" type="intf:ApplicationController">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listApplications">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listApplicationsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listApplicationsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getApplicationDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getApplicationDescriptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getApplicationDescriptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="initializeApplication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initializeApplicationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="initializeApplicationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executeApplication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeApplicationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeApplicationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="queryApplicationExecutionStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryApplicationExecutionStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryApplicationExecutionStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnRegistryEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnRegistryEntryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="returnRegistryEntryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:manager.applications.astrogrid.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ApplicationControllerService">

      <wsdl:port binding="intf:ApplicationControllerServiceSoapBinding" name="ApplicationControllerService">

         <wsdlsoap:address location="http://localhost:8080/astrogrid-applications/services/ApplicationControllerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
