astrogrid/portal/base/site/web/static/test/ag.ent

<!ENTITY % HTML PUBLIC
    "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%HTML;

<!ELEMENT ag-div (ag-link|ag-script|div)*>

<!ELEMENT ag-link EMPTY>
<!ELEMENT ag-script EMPTY>

<!ATTLIST ag-link href CDATA #REQUIRED>
<!ATTLIST ag-link rel CDATA #REQUIRED>
<!ATTLIST ag-link type CDATA #REQUIRED>

<!ATTLIST ag-script type CDATA #FIXED "text/javascript">
<!ATTLIST ag-script src CDATA #REQUIRED>

