astrogrid/desktop/impl/src/java/org/astrogrid/desktop/modules/cds/AstroCoo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:AstroCoo" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:AstroCoo" xmlns:intf="urn:AstroCoo" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->

   <wsdl:message name="convertResponse2">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="convertRequest2">

      <wsdl:part name="frame1" type="xsd:int"/>

      <wsdl:part name="frame2" type="xsd:int"/>

      <wsdl:part name="x" type="xsd:double"/>

      <wsdl:part name="y" type="xsd:double"/>

      <wsdl:part name="z" type="xsd:double"/>

      <wsdl:part name="precision" type="xsd:int"/>

      <wsdl:part name="equinox1" type="xsd:double"/>

      <wsdl:part name="equinox2" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="convertResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="convertResponse1">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="convertResponse3">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="convertRequest">

      <wsdl:part name="x" type="xsd:double"/>

      <wsdl:part name="y" type="xsd:double"/>

      <wsdl:part name="z" type="xsd:double"/>

      <wsdl:part name="precision" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="convertRequest3">

      <wsdl:part name="frame1" type="xsd:int"/>

      <wsdl:part name="frame2" type="xsd:int"/>

      <wsdl:part name="lon" type="xsd:double"/>

      <wsdl:part name="lat" type="xsd:double"/>

      <wsdl:part name="precision" type="xsd:int"/>

      <wsdl:part name="equinox1" type="xsd:double"/>

      <wsdl:part name="equinox2" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="convertRequest1">

      <wsdl:part name="lon" type="xsd:double"/>

      <wsdl:part name="lat" type="xsd:double"/>

      <wsdl:part name="precision" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="AstroCoo">

      <wsdl:operation name="convert" parameterOrder="x y z precision">

         <wsdl:input message="impl:convertRequest" name="convertRequest"/>

         <wsdl:output message="impl:convertResponse" name="convertResponse"/>

      </wsdl:operation>

      <wsdl:operation name="convert" parameterOrder="lon lat precision">

         <wsdl:input message="impl:convertRequest1" name="convertRequest1"/>

         <wsdl:output message="impl:convertResponse1" name="convertResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="convert" parameterOrder="frame1 frame2 x y z precision equinox1 equinox2">

         <wsdl:input message="impl:convertRequest2" name="convertRequest2"/>

         <wsdl:output message="impl:convertResponse2" name="convertResponse2"/>

      </wsdl:operation>

      <wsdl:operation name="convert" parameterOrder="frame1 frame2 lon lat precision equinox1 equinox2">

         <wsdl:input message="impl:convertRequest3" name="convertRequest3"/>

         <wsdl:output message="impl:convertResponse3" name="convertResponse3"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AstroCooSoapBinding" type="impl:AstroCoo">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:AstroCoo" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="convertResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:AstroCoo" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:AstroCoo" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="convertResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:AstroCoo" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertRequest2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:AstroCoo" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="convertResponse2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:AstroCoo" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertRequest3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:AstroCoo" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="convertResponse3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:AstroCoo" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AstroCooService">

      <wsdl:port binding="impl:AstroCooSoapBinding" name="AstroCoo">

         <wsdlsoap:address location="http://cdsws.u-strasbg.fr/axis/services/AstroCoo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
