astrogrid/desktop/impl/src/java/org/astrogrid/desktop/modules/cds/UCD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:UCD" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:UCD" xmlns:intf="urn:UCD" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->

   <wsdl:message name="UCDofCatalogResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="translateRequest">

      <wsdl:part name="ucd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="translateResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="resolveUCDRequest">

      <wsdl:part name="ucd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="assignRequest">

      <wsdl:part name="ucd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="UCDListRequest">

   </wsdl:message>

   <wsdl:message name="upgradeRequest">

      <wsdl:part name="ucd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="explainResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="explainRequest">

      <wsdl:part name="descr" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="assignResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="UCDofCatalogRequest">

      <wsdl:part name="catalog_designation" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="resolveUCDResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="upgradeResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="UCDListResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="validateRequest">

      <wsdl:part name="ucd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="validateResponse">

      <wsdl:part name="return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="UCD">

      <wsdl:operation name="UCDList">

         <wsdl:input message="impl:UCDListRequest" name="UCDListRequest"/>

         <wsdl:output message="impl:UCDListResponse" name="UCDListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="resolveUCD" parameterOrder="ucd">

         <wsdl:input message="impl:resolveUCDRequest" name="resolveUCDRequest"/>

         <wsdl:output message="impl:resolveUCDResponse" name="resolveUCDResponse"/>

      </wsdl:operation>

      <wsdl:operation name="UCDofCatalog" parameterOrder="catalog_designation">

         <wsdl:input message="impl:UCDofCatalogRequest" name="UCDofCatalogRequest"/>

         <wsdl:output message="impl:UCDofCatalogResponse" name="UCDofCatalogResponse"/>

      </wsdl:operation>

      <wsdl:operation name="translate" parameterOrder="ucd">

         <wsdl:input message="impl:translateRequest" name="translateRequest"/>

         <wsdl:output message="impl:translateResponse" name="translateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="upgrade" parameterOrder="ucd">

         <wsdl:input message="impl:upgradeRequest" name="upgradeRequest"/>

         <wsdl:output message="impl:upgradeResponse" name="upgradeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="validate" parameterOrder="ucd">

         <wsdl:input message="impl:validateRequest" name="validateRequest"/>

         <wsdl:output message="impl:validateResponse" name="validateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="explain" parameterOrder="descr">

         <wsdl:input message="impl:explainRequest" name="explainRequest"/>

         <wsdl:output message="impl:explainResponse" name="explainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="assign" parameterOrder="ucd">

         <wsdl:input message="impl:assignRequest" name="assignRequest"/>

         <wsdl:output message="impl:assignResponse" name="assignResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UCDSoapBinding" type="impl:UCD">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="UCDList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="UCDListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="UCDListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resolveUCD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resolveUCDRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="resolveUCDResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="UCDofCatalog">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="UCDofCatalogRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="UCDofCatalogResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="translate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="translateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="translateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="upgrade">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="upgradeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="upgradeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="validateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="explain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="explainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="explainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assign">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="assignRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="assignResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UCD" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UCDService">

      <wsdl:port binding="impl:UCDSoapBinding" name="UCD">

         <wsdlsoap:address location="http://cdsws.u-strasbg.fr/axis/services/UCD"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
