astrogrid/datacenter/schema/ADQLschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://tempuri.org/adql"
  xmlns="http://tempuri.org/adql"
> 
  <xs:element name="Literal" nillable="true" type="Literal" />
  <xs:complexType name="Literal" abstract="true" />
  <xs:element name="StringLiteral" nillable="true" type="StringLiteral" />
  <xs:complexType name="StringLiteral">
    <xs:complexContent mixed="false">
      <xs:extension base="Literal">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Value" type="ArrayOfString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumberLiteral" nillable="true" type="NumberLiteral" />
  <xs:complexType name="NumberLiteral">
    <xs:complexContent mixed="false">
      <xs:extension base="Literal">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="IntNum" type="IntNum" />
            <xs:element minOccurs="0" maxOccurs="1" name="ApproxNum" type="ApproxNum" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IntNum">
    <xs:complexContent mixed="false">
      <xs:extension base="Number">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Number" abstract="true" />
  <xs:complexType name="ApproxNum">
    <xs:complexContent mixed="false">
      <xs:extension base="Number">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Number" nillable="true" type="Number" />
  <xs:element name="IntNum" nillable="true" type="IntNum" />
  <xs:element name="ApproxNum" nillable="true" type="ApproxNum" />
  <xs:element name="Atom" nillable="true" type="Atom" />
  <xs:complexType name="Atom">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="StringLiteral" type="StringLiteral" />
        <xs:element minOccurs="0" maxOccurs="1" name="NumberLiteral" type="NumberLiteral" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comparison" type="Comparison" />
  <xs:simpleType name="Comparison">
    <xs:restriction base="xs:string">
      <xs:enumeration value="=" />
      <xs:enumeration value="&lt;&gt;" />
      <xs:enumeration value="&gt;" />
      <xs:enumeration value="&gt;=" />
      <xs:enumeration value="&lt;" />
      <xs:enumeration value="&lt;=" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnaryOperator" type="UnaryOperator" />
  <xs:simpleType name="UnaryOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="+" />
      <xs:enumeration value="-" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BinaryOperator" type="BinaryOperator" />
  <xs:simpleType name="BinaryOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="+" />
      <xs:enumeration value="-" />
      <xs:enumeration value="*" />
      <xs:enumeration value="/" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Table" nillable="true" type="Table" />
  <xs:complexType name="Table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AliasName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchiveTable" nillable="true" type="ArchiveTable" />
  <xs:complexType name="ArchiveTable">
    <xs:complexContent mixed="false">
      <xs:extension base="Table">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Archive" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColumnReference" nillable="true" type="ColumnReference" />
  <xs:complexType name="ColumnReference" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TableName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SingleColumnReference" nillable="true" type="SingleColumnReference" />
  <xs:complexType name="SingleColumnReference">
    <xs:complexContent mixed="false">
      <xs:extension base="ColumnReference">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AllColumnReference" nillable="true" type="AllColumnReference" />
  <xs:complexType name="AllColumnReference">
    <xs:complexContent mixed="false">
      <xs:extension base="ColumnReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScalarExpression" nillable="true" type="ScalarExpression" />
  <xs:complexType name="ScalarExpression" abstract="true" />
  <xs:element name="AtomExpr" nillable="true" type="AtomExpr" />
  <xs:complexType name="AtomExpr">
    <xs:complexContent mixed="false">
      <xs:extension base="ScalarExpression">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Value" type="Atom" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColumnExpr" nillable="true" type="ColumnExpr" />
  <xs:complexType name="ColumnExpr">
    <xs:complexContent mixed="false">
      <xs:extension base="ScalarExpression">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="AllColumnReference" type="AllColumnReference" />
            <xs:element minOccurs="0" maxOccurs="1" name="SingleColumnReference" type="SingleColumnReference" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnaryExpr" nillable="true" type="UnaryExpr" />
  <xs:complexType name="UnaryExpr">
    <xs:complexContent mixed="false">
      <xs:extension base="ScalarExpression">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Operator" type="UnaryOperator" />
          <xs:element minOccurs="0" maxOccurs="1" name="Expr" type="ScalarExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BinaryExpr" nillable="true" type="BinaryExpr" />
  <xs:complexType name="BinaryExpr">
    <xs:complexContent mixed="false">
      <xs:extension base="ScalarExpression">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="FirstExpr" type="ScalarExpression" />
          <xs:element minOccurs="1" maxOccurs="1" name="Operator" type="BinaryOperator" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecondExpr" type="ScalarExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClosedExpr" nillable="true" type="ClosedExpr" />
  <xs:complexType name="ClosedExpr">
    <xs:complexContent mixed="false">
      <xs:extension base="ScalarExpression">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Expr" type="ScalarExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FunctionExpr" nillable="true" type="FunctionExpr" />
  <xs:complexType name="FunctionExpr">
    <xs:complexContent mixed="false">
      <xs:extension base="ScalarExpression">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="AllExpressionsFunction" type="AllExpressionsFunction" />
            <xs:element minOccurs="0" maxOccurs="1" name="ExpressionFunction" type="ExpressionFunction" />
            <xs:element minOccurs="0" maxOccurs="1" name="MutipleColumnsFunction" type="MutipleColumnsFunction" />
            <xs:element minOccurs="0" maxOccurs="1" name="DistinctColumnFunction" type="DistinctColumnFunction" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AllExpressionsFunction">
    <xs:complexContent mixed="false">
      <xs:extension base="Function">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Expr" type="ScalarExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Function" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FunctionReference" type="AggregateFunction" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AggregateFunction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AVG" />
      <xs:enumeration value="MIN" />
      <xs:enumeration value="MAX" />
      <xs:enumeration value="SUM" />
      <xs:enumeration value="COUNT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DistinctColumnFunction">
    <xs:complexContent mixed="false">
      <xs:extension base="Function">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="AllColumnReference" type="AllColumnReference" />
            <xs:element minOccurs="0" maxOccurs="1" name="SingleColumnReference" type="SingleColumnReference" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MutipleColumnsFunction">
    <xs:complexContent mixed="false">
      <xs:extension base="Function" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExpressionFunction">
    <xs:complexContent mixed="false">
      <xs:extension base="Function">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Expr" type="ScalarExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Search" nillable="true" type="Search" />
  <xs:complexType name="Search" abstract="true" />
  <xs:element name="Area" nillable="true" type="Area" />
  <xs:complexType name="Area" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="Search" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Circle" nillable="true" type="Circle" />
  <xs:complexType name="Circle">
    <xs:complexContent mixed="false">
      <xs:extension base="Area">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Ra" type="ApproxNum" />
          <xs:element minOccurs="0" maxOccurs="1" name="Dec" type="ApproxNum" />
          <xs:element minOccurs="0" maxOccurs="1" name="Radius" type="ApproxNum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PredicateSearch" nillable="true" type="PredicateSearch" />
  <xs:complexType name="PredicateSearch">
    <xs:complexContent mixed="false">
      <xs:extension base="Search">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="LikePred" type="LikePred" />
            <xs:element minOccurs="0" maxOccurs="1" name="ComparisonPred" type="ComparisonPred" />
            <xs:element minOccurs="0" maxOccurs="1" name="BetweenPred" type="BetweenPred" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LikePred">
    <xs:complexContent mixed="false">
      <xs:extension base="Predicate">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Expr" type="ScalarExpression" />
          <xs:element minOccurs="1" maxOccurs="1" name="Negate" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Value" type="Atom" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Predicate" abstract="true" />
  <xs:complexType name="BetweenPred">
    <xs:complexContent mixed="false">
      <xs:extension base="Predicate">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Expr" type="ScalarExpression" />
          <xs:element minOccurs="1" maxOccurs="1" name="Negate" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirstExpr" type="ScalarExpression" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecondExpr" type="ScalarExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComparisonPred">
    <xs:complexContent mixed="false">
      <xs:extension base="Predicate">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="FirstExpr" type="ScalarExpression" />
          <xs:element minOccurs="1" maxOccurs="1" name="Compare" type="Comparison" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecondExpr" type="ScalarExpression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Predicate" nillable="true" type="Predicate" />
  <xs:element name="LikePred" nillable="true" type="LikePred" />
  <xs:element name="BetweenPred" nillable="true" type="BetweenPred" />
  <xs:element name="ComparisonPred" nillable="true" type="ComparisonPred" />
  <xs:element name="UnionSearch" nillable="true" type="UnionSearch" />
  <xs:complexType name="UnionSearch">
    <xs:complexContent mixed="false">
      <xs:extension base="Search">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="FirstCondition" type="Search" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecondCondition" type="Search" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntersectionSearch" nillable="true" type="IntersectionSearch" />
  <xs:complexType name="IntersectionSearch">
    <xs:complexContent mixed="false">
      <xs:extension base="Search">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="FirstCondition" type="Search" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecondCondition" type="Search" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InverseSearch" nillable="true" type="InverseSearch" />
  <xs:complexType name="InverseSearch">
    <xs:complexContent mixed="false">
      <xs:extension base="Search">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Condition" type="Search" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClosedSearch" nillable="true" type="ClosedSearch" />
  <xs:complexType name="ClosedSearch">
    <xs:complexContent mixed="false">
      <xs:extension base="Search">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Condition" type="Search" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateFunction" type="AggregateFunction" />
  <xs:element name="Function" nillable="true" type="Function" />
  <xs:element name="MutipleColumnsFunction" nillable="true" type="MutipleColumnsFunction" />
  <xs:element name="DistinctColumnFunction" nillable="true" type="DistinctColumnFunction" />
  <xs:element name="AllExpressionsFunction" nillable="true" type="AllExpressionsFunction" />
  <xs:element name="ExpressionFunction" nillable="true" type="ExpressionFunction" />
  <xs:element name="Having" nillable="true" type="Having" />
  <xs:complexType name="Having">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="Circle" type="Circle" />
        <xs:element minOccurs="0" maxOccurs="1" name="ClosedSearch" type="ClosedSearch" />
        <xs:element minOccurs="0" maxOccurs="1" name="PredicateSearch" type="PredicateSearch" />
        <xs:element minOccurs="0" maxOccurs="1" name="Area" type="Area" />
        <xs:element minOccurs="0" maxOccurs="1" name="IntersectionSearch" type="IntersectionSearch" />
        <xs:element minOccurs="0" maxOccurs="1" name="UnionSearch" type="UnionSearch" />
        <xs:element minOccurs="0" maxOccurs="1" name="InverseSearch" type="InverseSearch" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupBy" nillable="true" type="GroupBy" />
  <xs:complexType name="GroupBy">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="AllColumnReference" type="AllColumnReference" />
        <xs:element minOccurs="0" maxOccurs="1" name="SingleColumnReference" type="SingleColumnReference" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Where" nillable="true" type="Where" />
  <xs:complexType name="Where">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="IntersectionSearch" type="IntersectionSearch" />
        <xs:element minOccurs="0" maxOccurs="1" name="ClosedSearch" type="ClosedSearch" />
        <xs:element minOccurs="0" maxOccurs="1" name="PredicateSearch" type="PredicateSearch" />
        <xs:element minOccurs="0" maxOccurs="1" name="Circle" type="Circle" />
        <xs:element minOccurs="0" maxOccurs="1" name="Area" type="Area" />
        <xs:element minOccurs="0" maxOccurs="1" name="InverseSearch" type="InverseSearch" />
        <xs:element minOccurs="0" maxOccurs="1" name="UnionSearch" type="UnionSearch" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="From" nillable="true" type="From" />
  <xs:complexType name="From">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TableReference" type="ArrayOfTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Table" nillable="true" type="Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableExpression" nillable="true" type="TableExpression" />
  <xs:complexType name="TableExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FromClause" type="From" />
      <xs:element minOccurs="0" maxOccurs="1" name="WhereClause" type="Where" />
      <xs:element minOccurs="0" maxOccurs="1" name="GroupByClause" type="GroupBy" />
      <xs:element minOccurs="0" maxOccurs="1" name="HavingClause" type="Having" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Selection" nillable="true" type="Selection" />
  <xs:complexType name="Selection" abstract="true" />
  <xs:element name="SelectionAll" nillable="true" type="SelectionAll" />
  <xs:complexType name="SelectionAll">
    <xs:complexContent mixed="false">
      <xs:extension base="Selection" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectionList" nillable="true" type="SelectionList" />
  <xs:complexType name="SelectionList">
    <xs:complexContent mixed="false">
      <xs:extension base="Selection">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="UnaryExpr" type="UnaryExpr" />
            <xs:element minOccurs="0" maxOccurs="1" name="BinaryExpr" type="BinaryExpr" />
            <xs:element minOccurs="0" maxOccurs="1" name="ClosedExpr" type="ClosedExpr" />
            <xs:element minOccurs="0" maxOccurs="1" name="ColumnExpr" type="ColumnExpr" />
            <xs:element minOccurs="0" maxOccurs="1" name="FunctionExpr" type="FunctionExpr" />
            <xs:element minOccurs="0" maxOccurs="1" name="AtomExpr" type="AtomExpr" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AllOrDistinct" type="AllOrDistinct" />
  <xs:simpleType name="AllOrDistinct">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALL" />
      <xs:enumeration value="DISTINCT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SelectionOption" nillable="true" type="SelectionOption" />
  <xs:complexType name="SelectionOption">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Option" type="AllOrDistinct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDirection" type="OrderDirection" />
  <xs:simpleType name="OrderDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderOption" nillable="true" type="OrderOption" />
  <xs:complexType name="OrderOption">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Direction" type="OrderDirection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="Order" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Expr" type="ScalarExpression" />
      <xs:element minOccurs="0" maxOccurs="1" name="Option" type="OrderOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderExpression" nillable="true" type="OrderExpression" />
  <xs:complexType name="OrderExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OrderList" type="ArrayOfOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Select" nillable="true" type="Select" />
  <xs:complexType name="Select">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OptionalAllOrDistinct" type="SelectionOption" />
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="SelectionList" type="SelectionList" />
        <xs:element minOccurs="0" maxOccurs="1" name="SelectionAll" type="SelectionAll" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="TableClause" type="TableExpression" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrderBy" type="OrderExpression" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
