astrogrid/community/wsdl/AuthenticationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:server.authentication.community.astrogrid.org" xmlns:impl="urn:impl.server.authentication.community.astrogrid.org" xmlns:intf="urn:server.authentication.community.astrogrid.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="urn:data.authentication.community.astrogrid.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:data.authentication.community.astrogrid.org">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SecurityToken">
    <sequence>
     <element name="account" nillable="true" type="xsd:string"/>
     <element name="expirationDate" nillable="true" type="xsd:dateTime"/>
     <element name="startDate" nillable="true" type="xsd:dateTime"/>
     <element name="target" nillable="true" type="xsd:string"/>
     <element name="token" nillable="true" type="xsd:string"/>
     <element name="used" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createTokenRequest">

      <wsdl:part name="account" type="xsd:string"/>

      <wsdl:part name="token" type="tns1:SecurityToken"/>

      <wsdl:part name="target" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createTokenResponse">

      <wsdl:part name="createTokenReturn" type="tns1:SecurityToken"/>

   </wsdl:message>

   <wsdl:message name="authenticateLoginRequest">

      <wsdl:part name="account" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="authenticateTokenResponse">

      <wsdl:part name="authenticateTokenReturn" type="tns1:SecurityToken"/>

   </wsdl:message>

   <wsdl:message name="authenticateTokenRequest">

      <wsdl:part name="token" type="tns1:SecurityToken"/>

   </wsdl:message>

   <wsdl:message name="authenticateLoginResponse">

      <wsdl:part name="authenticateLoginReturn" type="tns1:SecurityToken"/>

   </wsdl:message>

   <wsdl:portType name="TokenAuthenticator">

      <wsdl:operation name="authenticateLogin" parameterOrder="account password">

         <wsdl:input name="authenticateLoginRequest" message="intf:authenticateLoginRequest"/>

         <wsdl:output name="authenticateLoginResponse" message="intf:authenticateLoginResponse"/>

      </wsdl:operation>

      <wsdl:operation name="authenticateToken" parameterOrder="token">

         <wsdl:input name="authenticateTokenRequest" message="intf:authenticateTokenRequest"/>

         <wsdl:output name="authenticateTokenResponse" message="intf:authenticateTokenResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createToken" parameterOrder="account token target">

         <wsdl:input name="createTokenRequest" message="intf:createTokenRequest"/>

         <wsdl:output name="createTokenResponse" message="intf:createTokenResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthenticationServiceSoapBinding" type="intf:TokenAuthenticator">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="authenticateLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateLoginRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:server.authentication.community.astrogrid.org"/>

         </wsdl:input>

         <wsdl:output name="authenticateLoginResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:server.authentication.community.astrogrid.org"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateTokenRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:server.authentication.community.astrogrid.org"/>

         </wsdl:input>

         <wsdl:output name="authenticateTokenResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:server.authentication.community.astrogrid.org"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTokenRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:server.authentication.community.astrogrid.org"/>

         </wsdl:input>

         <wsdl:output name="createTokenResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:server.authentication.community.astrogrid.org"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TokenAuthenticatorService">

      <wsdl:port name="AuthenticationService" binding="intf:AuthenticationServiceSoapBinding">

         <wsdlsoap:address location="http://localhost:8080/axis/services/AuthenticationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
