astrogrid/desktop/impl/src/java/org/astrogrid/desktop/modules/ivoa/SkyNode-v1.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://www.ivoa.net/xml/ADQL/v1.0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s3="http://www.ivoa.net/xml/STC/STCcoords/v1.10" xmlns:s2="http://www.ivoa.net/xml/STC/STCregion/v1.10" xmlns:s4="http://vizier.u-strasbg.fr/xml/VOTable-1.1.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="SkyNode.ivoa.net" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="SkyNode.ivoa.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="SkyNode.ivoa.net">
      <s:import namespace="http://www.ivoa.net/xml/ADQL/v1.0" />
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://vizier.u-strasbg.fr/xml/VOTable-1.1.xsd" />
      <s:import namespace="http://www.ivoa.net/xml/STC/STCregion/v1.10" />
      <s:element name="PerformQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Select" />
            <s:element minOccurs="0" maxOccurs="1" name="format" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformQueryResult" type="tns:VOData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VOData" abstract="true" />
      <s:complexType name="StringData">
        <s:complexContent mixed="false">
          <s:extension base="tns:VOData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TheString" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataSetData">
        <s:complexContent mixed="false">
          <s:extension base="tns:VOData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VOTableData">
        <s:complexContent mixed="false">
          <s:extension base="tns:VOData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="VOTABLE" type="s4:VOTABLE" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ErrorData">
        <s:complexContent mixed="false">
          <s:extension base="tns:VOData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ExecutePlan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plan" type="tns:ExecPlan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExecPlan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PlanId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="LogURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UploadTableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UploadTableAlias" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PlanIsXMatch" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanElements" type="tns:ArrayOfPlanElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlanElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlanElement" nillable="true" type="tns:PlanElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlanElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Format" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Statement" type="s1:selectType" />
          <s:element minOccurs="1" maxOccurs="1" name="Sigma" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Target" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hosts" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecutePlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecutePlanResult" type="tns:VOData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunIDHeader" type="tns:RunIDHeader" />
      <s:complexType name="RunIDHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IVOA_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Column">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="table" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="column" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ColumnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ColumnResult" type="tns:MetaColumn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MetaColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UCD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Precision" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ByteSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Columns">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="table" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ColumnsResult" type="tns:ArrayOfMetaColumn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaColumn" nillable="true" type="tns:MetaColumn" />
        </s:sequence>
      </s:complexType>
      <s:element name="Footprint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s2:regionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FootprintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FootprintResult" type="s2:regionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Formats">
        <s:complexType />
      </s:element>
      <s:element name="FormatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FormatsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Functions">
        <s:complexType />
      </s:element>
      <s:element name="FunctionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FunctionsResult" type="tns:ArrayOfMetaFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaFunction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaFunction" nillable="true" type="tns:MetaFunction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaFunction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAvailability">
        <s:complexType />
      </s:element>
      <s:element name="GetAvailabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailabilityResult" type="tns:Availability" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Availability">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="timeOnServer" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="upTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="validTo" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Servername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryCost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="planid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Select" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QueryCostResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Table">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="table" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TableResult" type="tns:MetaTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MetaTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rows" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Relations" type="tns:ArrayOfRelationShip" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRelationShip">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RelationShip" nillable="true" type="tns:RelationShip" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RelationShip">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ForeignKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Table" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Tables">
        <s:complexType />
      </s:element>
      <s:element name="TablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TablesResult" type="tns:ArrayOfMetaTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaTable" nillable="true" type="tns:MetaTable" />
        </s:sequence>
      </s:complexType>
      <s:element name="MetaColumn" nillable="true" type="tns:MetaColumn" />
      <s:element name="ArrayOfMetaColumn" nillable="true" type="tns:ArrayOfMetaColumn" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="ArrayOfMetaFunction" nillable="true" type="tns:ArrayOfMetaFunction" />
      <s:element name="Availability" nillable="true" type="tns:Availability" />
      <s:element name="MetaTable" nillable="true" type="tns:MetaTable" />
      <s:element name="ArrayOfMetaTable" nillable="true" type="tns:ArrayOfMetaTable" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/ADQL/v0.9">
      <s:import namespace="http://www.ivoa.net/xml/STC/STCregion/v1.10" />
      <s:element name="Select" type="s1:selectType" />
      <s:complexType name="selectType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Allow" type="s1:selectionOptionType" />
          <s:element minOccurs="0" maxOccurs="1" name="Restrict" type="s1:selectionLimitType" />
          <s:element minOccurs="0" maxOccurs="1" name="SelectionList" type="s1:selectionListType" />
          <s:element minOccurs="0" maxOccurs="1" name="InTo" type="s1:intoType" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s1:fromType" />
          <s:element minOccurs="0" maxOccurs="1" name="Where" type="s1:whereType" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupBy" type="s1:groupByType" />
          <s:element minOccurs="0" maxOccurs="1" name="Having" type="s1:havingType" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderBy" type="s1:orderExpressionType" />
          <s:element minOccurs="0" maxOccurs="1" name="StartComment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndComment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="selectionOptionType">
        <s:attribute name="Option" type="s1:allOrDistinctType" use="required" />
      </s:complexType>
      <s:simpleType name="allOrDistinctType">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="DISTINCT" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="selectionLimitType">
        <s:attribute name="Top" type="s:unsignedInt" use="required" />
      </s:complexType>
      <s:complexType name="selectionListType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" type="s1:selectionItemType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="selectionItemType" abstract="true" />
      <s:complexType name="allSelectionItemType">
        <s:complexContent mixed="false">
          <s:extension base="s1:selectionItemType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="scalarExpressionType" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s1:selectionItemType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="closedExprType">
        <s:complexContent mixed="false">
          <s:extension base="s1:scalarExpressionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Arg" type="s1:scalarExpressionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="columnReferenceType">
        <s:complexContent mixed="false">
          <s:extension base="s1:scalarExpressionType">
            <s:attribute name="Table" type="s:string" />
            <s:attribute name="Name" type="s:string" />
            <s:attribute name="xpathName" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="functionType" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s1:scalarExpressionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Allow" type="s1:selectionOptionType" />
              <s:element minOccurs="0" maxOccurs="1" name="Arg" type="s1:selectionItemType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="trigonometricFunctionType">
        <s:complexContent mixed="false">
          <s:extension base="s1:functionType">
            <s:attribute name="Name" type="s1:trigonometricFunctionNameType" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="trigonometricFunctionNameType">
        <s:restriction base="s:string">
          <s:enumeration value="SIN" />
          <s:enumeration value="COS" />
          <s:enumeration value="TAN" />
          <s:enumeration value="COT" />
          <s:enumeration value="ASIN" />
          <s:enumeration value="ACOS" />
          <s:enumeration value="ATAN" />
          <s:enumeration value="ATAN2" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="mathFunctionType">
        <s:complexContent mixed="false">
          <s:extension base="s1:functionType">
            <s:attribute name="Name" type="s1:mathFunctionNameType" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="mathFunctionNameType">
        <s:restriction base="s:string">
          <s:enumeration value="ABS" />
          <s:enumeration value="CEILING" />
          <s:enumeration value="DEGREES" />
          <s:enumeration value="EXP" />
          <s:enumeration value="FLOOR" />
          <s:enumeration value="LOG" />
          <s:enumeration value="PI" />
          <s:enumeration value="POWER" />
          <s:enumeration value="RADIANS" />
          <s:enumeration value="SQRT" />
          <s:enumeration value="SQUARE" />
          <s:enumeration value="LOG10" />
          <s:enumeration value="RAND" />
          <s:enumeration value="ROUND" />
          <s:enumeration value="TRUNCATE" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="aggregateFunctionType">
        <s:complexContent mixed="false">
          <s:extension base="s1:functionType">
            <s:attribute name="Name" type="s1:aggregateFunctionNameType" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="aggregateFunctionNameType">
        <s:restriction base="s:string">
          <s:enumeration value="AVG" />
          <s:enumeration value="MIN" />
          <s:enumeration value="MAX" />
          <s:enumeration value="SUM" />
          <s:enumeration value="COUNT" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="binaryExprType">
        <s:complexContent mixed="false">
          <s:extension base="s1:scalarExpressionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Arg" type="s1:scalarExpressionType" />
            </s:sequence>
            <s:attribute name="Oper" type="s1:binaryOperatorType" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="binaryOperatorType">
        <s:restriction base="s:string">
          <s:enumeration value="+" />
          <s:enumeration value="-" />
          <s:enumeration value="*" />
          <s:enumeration value="/" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="unaryExprType">
        <s:complexContent mixed="false">
          <s:extension base="s1:scalarExpressionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Arg" type="s1:scalarExpressionType" />
            </s:sequence>
            <s:attribute name="Oper" type="s1:unaryOperatorType" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="unaryOperatorType">
        <s:restriction base="s:string">
          <s:enumeration value="+" />
          <s:enumeration value="-" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="atomType">
        <s:complexContent mixed="false">
          <s:extension base="s1:scalarExpressionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Literal" type="s1:literalType" />
              <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="literalType" abstract="true" />
      <s:complexType name="stringType">
        <s:complexContent mixed="false">
          <s:extension base="s1:literalType">
            <s:attribute name="Value" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="numberType" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s1:literalType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="integerType">
        <s:complexContent mixed="false">
          <s:extension base="s1:numberType">
            <s:attribute name="Value" type="s:long" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="realType">
        <s:complexContent mixed="false">
          <s:extension base="s1:numberType">
            <s:attribute name="Value" type="s:double" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="aliasSelectionItemType">
        <s:complexContent mixed="false">
          <s:extension base="s1:selectionItemType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expression" type="s1:scalarExpressionType" />
            </s:sequence>
            <s:attribute name="As" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="intoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="fromType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Table" type="s1:fromTableType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="fromTableType" abstract="true" />
      <s:complexType name="tableType">
        <s:complexContent mixed="false">
          <s:extension base="s1:fromTableType">
            <s:attribute name="Name" type="s:string" />
            <s:attribute name="Alias" type="s:string" />
            <s:attribute name="xpathName" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="archiveTableType">
        <s:complexContent mixed="false">
          <s:extension base="s1:fromTableType">
            <s:attribute name="Archive" type="s:string" />
            <s:attribute name="Name" type="s:string" />
            <s:attribute name="Alias" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="joinTableType">
        <s:complexContent mixed="false">
          <s:extension base="s1:fromTableType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Qualifier" type="s1:jointTableQualifierType" />
              <s:element minOccurs="0" maxOccurs="1" name="Tables" type="s1:ArrayOfFromTableType" />
              <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s1:comparisonPredType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="jointTableQualifierType">
        <s:restriction base="s:string">
          <s:enumeration value="LEFT_OUTER" />
          <s:enumeration value="RIGHT_OUTER" />
          <s:enumeration value="FULL_OUTER" />
          <s:enumeration value="INNER" />
          <s:enumeration value="CROSS" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfFromTableType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="fromTableType" nillable="true" type="s1:fromTableType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="comparisonPredType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Arg" type="s1:scalarExpressionType" />
            </s:sequence>
            <s:attribute name="Comparison" type="s1:comparisonType" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="searchType" abstract="true" />
      <s:complexType name="regionSearchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Region" type="s2:regionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="closedSearchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s1:searchType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="betweenPredType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Arg" type="s1:scalarExpressionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="notBetweenPredType">
        <s:complexContent mixed="false">
          <s:extension base="s1:betweenPredType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="likePredType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Arg" type="s1:scalarExpressionType" />
              <s:element minOccurs="0" maxOccurs="1" name="Pattern" type="s1:atomType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="notLikePredType">
        <s:complexContent mixed="false">
          <s:extension base="s1:likePredType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="xMatchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Table" type="s1:xMatchTableAliasType" />
              <s:element minOccurs="1" maxOccurs="1" name="Nature" type="s1:comparisonType" />
              <s:element minOccurs="0" maxOccurs="1" name="Sigma" type="s1:numberType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="xMatchTableAliasType" abstract="true" />
      <s:complexType name="dropTableType">
        <s:complexContent mixed="false">
          <s:extension base="s1:xMatchTableAliasType">
            <s:attribute name="Name" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="includeTableType">
        <s:complexContent mixed="false">
          <s:extension base="s1:xMatchTableAliasType">
            <s:attribute name="Name" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="comparisonType">
        <s:restriction base="s:string">
          <s:enumeration value="=" />
          <s:enumeration value="&lt;&gt;" />
          <s:enumeration value="&gt;" />
          <s:enumeration value="&gt;=" />
          <s:enumeration value="&lt;" />
          <s:enumeration value="&lt;=" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="intersectionSearchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Condition" type="s1:searchType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="unionSearchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Condition" type="s1:searchType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="inclusiveSearchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expression" type="s1:scalarExpressionType" />
              <s:element minOccurs="0" maxOccurs="1" name="Set" type="s1:inclusionSetType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="inclusionSetType" abstract="true" />
      <s:complexType name="ConstantListSet">
        <s:complexContent mixed="false">
          <s:extension base="s1:inclusionSetType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Item" type="s1:literalType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="subQuerySet">
        <s:complexContent mixed="false">
          <s:extension base="s1:inclusionSetType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="selection" type="s1:selectType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="exclusiveSearchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expression" type="s1:scalarExpressionType" />
              <s:element minOccurs="0" maxOccurs="1" name="Set" type="s1:inclusionSetType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="inverseSearchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:searchType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s1:searchType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="whereType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s1:searchType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="groupByType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Column" type="s1:columnReferenceType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="havingType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s1:searchType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="orderExpressionType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" type="s1:orderType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="orderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Expression" type="s1:scalarExpressionType" />
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="s1:orderOptionType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="orderOptionType">
        <s:attribute name="Direction" type="s1:orderDirectionType" use="required" />
      </s:complexType>
      <s:simpleType name="orderDirectionType">
        <s:restriction base="s:string">
          <s:enumeration value="ASC" />
          <s:enumeration value="DESC" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/STC/STCregion/v1.10">
      <s:import namespace="http://www.ivoa.net/xml/STC/STCcoords/v1.10" />
      <s:complexType name="regionType" abstract="true">
        <s:attribute default="1" name="fill_factor" type="s:double" />
        <s:attribute name="note" type="s:string" />
      </s:complexType>
      <s:complexType name="unionType">
        <s:complexContent mixed="false">
          <s:extension base="s2:regionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Region" type="s2:regionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="negationType">
        <s:complexContent mixed="false">
          <s:extension base="s2:regionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Region" type="s2:regionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="intersectionType">
        <s:complexContent mixed="false">
          <s:extension base="s2:regionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Region" type="s2:regionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="shapeType" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s2:regionType">
            <s:attribute name="coord_system_id" type="s:IDREF" />
            <s:attribute name="unit" type="s3:posUnitType" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="convexHullType">
        <s:complexContent mixed="false">
          <s:extension base="s2:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Point" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="convexType">
        <s:complexContent mixed="false">
          <s:extension base="s2:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Constraint" type="s2:constraintType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="constraintType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Vector" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sectorType">
        <s:complexContent mixed="false">
          <s:extension base="s2:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PosAngle1" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PosAngle2" type="s:double" />
            </s:sequence>
            <s:attribute default="deg" name="pos_angle_unit" type="s3:posUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="polygonType">
        <s:complexContent mixed="false">
          <s:extension base="s2:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Vertex" type="s2:vertexType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="vertexType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SmallCircle" nillable="true" type="s2:smallCircleType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="smallCircleType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pole" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="skyIndexType" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s2:shapeType" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="circleType">
        <s:complexContent mixed="false">
          <s:extension base="s2:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Center" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Radius" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ellipseType">
        <s:complexContent mixed="false">
          <s:extension base="s2:circleType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MinorRadius" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PosAngle" type="s:double" />
            </s:sequence>
            <s:attribute default="deg" name="pos_angle_unit" type="s3:angleUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/STC/STCcoords/v1.10">
      <s:simpleType name="posUnitType">
        <s:restriction base="s:string">
          <s:enumeration value="deg" />
          <s:enumeration value="deg deg m" />
          <s:enumeration value="rad" />
          <s:enumeration value="h" />
          <s:enumeration value="arcmin" />
          <s:enumeration value="arcsec" />
          <s:enumeration value="m" />
          <s:enumeration value="km" />
          <s:enumeration value="mm" />
          <s:enumeration value="au" />
          <s:enumeration value="pc" />
          <s:enumeration value="kpc" />
          <s:enumeration value="Mpc" />
          <s:enumeration value="lyr" />
          <s:enumeration value="" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="angleUnitType">
        <s:restriction base="s:string">
          <s:enumeration value="deg" />
          <s:enumeration value="rad" />
          <s:enumeration value="h" />
          <s:enumeration value="arcmin" />
          <s:enumeration value="arcsec" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://vizier.u-strasbg.fr/xml/VOTable-1.1.xsd">
      <s:complexType name="VOTABLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s4:anyTEXT" />
          <s:element minOccurs="0" maxOccurs="1" name="DEFINITIONS" type="s4:ArrayOfChoice1" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="INFO" type="s4:INFO" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RESOURCE" type="s4:RESOURCE" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="version" type="s4:VOTABLEVersion" />
      </s:complexType>
      <s:complexType name="anyTEXT" mixed="true">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChoice1">
        <s:choice minOccurs="0" maxOccurs="unbounded">
          <s:element minOccurs="0" maxOccurs="1" name="PARAM" type="s4:PARAM" />
          <s:element minOccurs="0" maxOccurs="1" name="COOSYS" type="s4:COOSYS" />
        </s:choice>
      </s:complexType>
      <s:complexType name="PARAM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s4:anyTEXT" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUES" type="s4:VALUES" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="LINK" type="s4:LINK" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="unit" type="s:token" />
        <s:attribute name="datatype" type="s4:dataType" use="required" />
        <s:attribute name="precision" type="s:token" />
        <s:attribute name="width" type="s:positiveInteger" />
        <s:attribute name="ref" type="s:IDREF" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ucd" type="s:token" />
        <s:attribute name="utype" type="s:string" />
        <s:attribute name="value" type="s:string" />
        <s:attribute name="arraysize" type="s:token" />
      </s:complexType>
      <s:complexType name="VALUES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MIN" type="s4:MIN" />
          <s:element minOccurs="0" maxOccurs="1" name="MAX" type="s4:MAX" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="OPTION" type="s4:OPTION" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute default="legal" name="type" type="s4:VALUESType" />
        <s:attribute name="null" type="s:token" />
        <s:attribute name="ref" type="s:IDREF" />
      </s:complexType>
      <s:complexType name="MIN">
        <s:attribute name="value" type="s:string" />
        <s:attribute default="yes" name="inclusive" type="s4:yesno" />
      </s:complexType>
      <s:simpleType name="yesno">
        <s:restriction base="s:string">
          <s:enumeration value="yes" />
          <s:enumeration value="no" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="MAX">
        <s:attribute name="value" type="s:string" />
        <s:attribute default="yes" name="inclusive" type="s4:yesno" />
      </s:complexType>
      <s:complexType name="OPTION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OPTION" type="s4:OPTION" />
        </s:sequence>
        <s:attribute name="name" type="s:token" />
        <s:attribute name="value" type="s:string" />
      </s:complexType>
      <s:simpleType name="VALUESType">
        <s:restriction base="s:string">
          <s:enumeration value="legal" />
          <s:enumeration value="actual" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="LINK" mixed="true">
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="content-role" type="s4:LINKContentrole" />
        <s:attribute name="content-type" type="s:token" />
        <s:attribute name="title" type="s:string" />
        <s:attribute name="value" type="s:string" />
        <s:attribute name="href" type="s:anyURI" />
        <s:attribute name="gref" type="s:token" />
        <s:attribute name="action" type="s:anyURI" />
      </s:complexType>
      <s:simpleType name="LINKContentrole">
        <s:restriction base="s:string">
          <s:enumeration value="query" />
          <s:enumeration value="hints" />
          <s:enumeration value="doc" />
          <s:enumeration value="location" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="dataType">
        <s:restriction base="s:string">
          <s:enumeration value="boolean" />
          <s:enumeration value="bit" />
          <s:enumeration value="unsignedByte" />
          <s:enumeration value="short" />
          <s:enumeration value="int" />
          <s:enumeration value="long" />
          <s:enumeration value="char" />
          <s:enumeration value="unicodeChar" />
          <s:enumeration value="float" />
          <s:enumeration value="double" />
          <s:enumeration value="floatComplex" />
          <s:enumeration value="doubleComplex" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="COOSYS" mixed="true">
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="equinox" type="s:token" />
        <s:attribute name="epoch" type="s:token" />
        <s:attribute default="eq_FK5" name="system" type="s4:COOSYSSystem" />
      </s:complexType>
      <s:simpleType name="COOSYSSystem">
        <s:restriction base="s:string">
          <s:enumeration value="eq_FK4" />
          <s:enumeration value="eq_FK5" />
          <s:enumeration value="ICRS" />
          <s:enumeration value="ecl_FK4" />
          <s:enumeration value="ecl_FK5" />
          <s:enumeration value="galactic" />
          <s:enumeration value="supergalactic" />
          <s:enumeration value="xy" />
          <s:enumeration value="barycentric" />
          <s:enumeration value="geo_app" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="INFO" mixed="true">
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="value" type="s:string" />
      </s:complexType>
      <s:complexType name="RESOURCE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s4:anyTEXT" />
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="PARAM" type="s4:PARAM" />
            <s:element minOccurs="0" maxOccurs="1" name="INFO" type="s4:INFO" />
            <s:element minOccurs="0" maxOccurs="1" name="COOSYS" type="s4:COOSYS" />
          </s:choice>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LINK" type="s4:LINK" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="TABLE" type="s4:TABLE" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RESOURCE" type="s4:RESOURCE" />
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ID" type="s:ID" />
        <s:attribute default="results" name="type" type="s4:RESOURCEType" />
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="TABLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s4:anyTEXT" />
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="PARAM" type="s4:PARAM" />
            <s:element minOccurs="0" maxOccurs="1" name="FIELD" type="s4:FIELD" />
            <s:element minOccurs="0" maxOccurs="1" name="GROUP" type="s4:GROUP" />
          </s:choice>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LINK" type="s4:LINK" />
          <s:element minOccurs="0" maxOccurs="1" name="DATA" type="s4:DATA" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ref" type="s:IDREF" />
      </s:complexType>
      <s:complexType name="FIELD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s4:anyTEXT" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUES" type="s4:VALUES" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="LINK" type="s4:LINK" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="unit" type="s:token" />
        <s:attribute name="datatype" type="s4:dataType" use="required" />
        <s:attribute name="precision" type="s:token" />
        <s:attribute name="width" type="s:positiveInteger" />
        <s:attribute name="ref" type="s:IDREF" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ucd" type="s:token" />
        <s:attribute name="utype" type="s:string" />
        <s:attribute name="arraysize" type="s:string" />
      </s:complexType>
      <s:complexType name="GROUP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s4:anyTEXT" />
          <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element minOccurs="0" maxOccurs="1" name="PARAMref" type="s4:PARAMref" />
            <s:element minOccurs="0" maxOccurs="1" name="PARAM" type="s4:PARAM" />
            <s:element minOccurs="0" maxOccurs="1" name="FIELDref" type="s4:FIELDref" />
            <s:element minOccurs="0" maxOccurs="1" name="FIELD" type="s4:FIELD" />
            <s:element minOccurs="0" maxOccurs="1" name="GROUP" type="s4:GROUP" />
          </s:choice>
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ref" type="s:IDREF" />
        <s:attribute name="ucd" type="s:token" />
        <s:attribute name="utype" type="s:string" />
      </s:complexType>
      <s:complexType name="PARAMref">
        <s:attribute name="ref" type="s:IDREF" />
      </s:complexType>
      <s:complexType name="FIELDref">
        <s:attribute name="ref" type="s:IDREF" />
      </s:complexType>
      <s:complexType name="DATA">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="TABLEDATA" type="s4:TABLEDATA" />
            <s:element minOccurs="0" maxOccurs="1" name="FITS" type="s4:FITS" />
            <s:element minOccurs="0" maxOccurs="1" name="BINARY" type="s4:BINARY" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="TABLEDATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TR" type="s4:TR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TD" type="s4:TD" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TD"><s:simpleContent>
      <s:extension base="s:string">
        <s:attribute name="encoding" type="s4:encodingType" />
      </s:extension>
      </s:simpleContent>
      </s:complexType>
      <s:simpleType name="encodingType">
        <s:restriction base="s:string">
          <s:enumeration value="gzip" />
          <s:enumeration value="base64" />
          <s:enumeration value="dynamic" />
          <s:enumeration value="none" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FITS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="STREAM" type="s4:STREAM" />
        </s:sequence>
        <s:attribute name="extnum" type="s:positiveInteger" />
      </s:complexType>
      <s:complexType name="STREAM">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute default="locator" name="type" type="s4:STREAMType" />
            <s:attribute name="href" type="s:anyURI" />
            <s:attribute default="onRequest" name="actuate" type="s4:STREAMActuate" />
            <s:attribute default="none" name="encoding" type="s4:encodingType" />
            <s:attribute name="expires" type="s:dateTime" />
            <s:attribute name="rights" type="s:token" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="STREAMType">
        <s:restriction base="s:string">
          <s:enumeration value="locator" />
          <s:enumeration value="other" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="STREAMActuate">
        <s:restriction base="s:string">
          <s:enumeration value="onLoad" />
          <s:enumeration value="onRequest" />
          <s:enumeration value="other" />
          <s:enumeration value="none" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="BINARY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="STREAM" type="s4:STREAM" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RESOURCEType">
        <s:restriction base="s:string">
          <s:enumeration value="results" />
          <s:enumeration value="meta" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="VOTABLEVersion">
        <s:restriction base="s:string">
          <s:enumeration value="1.1" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformQuerySoapIn">
    <wsdl:part name="parameters" element="tns:PerformQuery" />
  </wsdl:message>
  <wsdl:message name="PerformQuerySoapOut">
    <wsdl:part name="parameters" element="tns:PerformQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecutePlanSoapIn">
    <wsdl:part name="parameters" element="tns:ExecutePlan" />
  </wsdl:message>
  <wsdl:message name="ExecutePlanSoapOut">
    <wsdl:part name="parameters" element="tns:ExecutePlanResponse" />
  </wsdl:message>
  <wsdl:message name="ExecutePlanRunIDHeader">
    <wsdl:part name="RunIDHeader" element="tns:RunIDHeader" />
  </wsdl:message>
  <wsdl:message name="ColumnSoapIn">
    <wsdl:part name="parameters" element="tns:Column" />
  </wsdl:message>
  <wsdl:message name="ColumnSoapOut">
    <wsdl:part name="parameters" element="tns:ColumnResponse" />
  </wsdl:message>
  <wsdl:message name="ColumnsSoapIn">
    <wsdl:part name="parameters" element="tns:Columns" />
  </wsdl:message>
  <wsdl:message name="ColumnsSoapOut">
    <wsdl:part name="parameters" element="tns:ColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="FootprintSoapIn">
    <wsdl:part name="parameters" element="tns:Footprint" />
  </wsdl:message>
  <wsdl:message name="FootprintSoapOut">
    <wsdl:part name="parameters" element="tns:FootprintResponse" />
  </wsdl:message>
  <wsdl:message name="FormatsSoapIn">
    <wsdl:part name="parameters" element="tns:Formats" />
  </wsdl:message>
  <wsdl:message name="FormatsSoapOut">
    <wsdl:part name="parameters" element="tns:FormatsResponse" />
  </wsdl:message>
  <wsdl:message name="FunctionsSoapIn">
    <wsdl:part name="parameters" element="tns:Functions" />
  </wsdl:message>
  <wsdl:message name="FunctionsSoapOut">
    <wsdl:part name="parameters" element="tns:FunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailabilitySoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailability" />
  </wsdl:message>
  <wsdl:message name="GetAvailabilitySoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCostSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCost" />
  </wsdl:message>
  <wsdl:message name="QueryCostSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCostResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCostRunIDHeader">
    <wsdl:part name="RunIDHeader" element="tns:RunIDHeader" />
  </wsdl:message>
  <wsdl:message name="TableSoapIn">
    <wsdl:part name="parameters" element="tns:Table" />
  </wsdl:message>
  <wsdl:message name="TableSoapOut">
    <wsdl:part name="parameters" element="tns:TableResponse" />
  </wsdl:message>
  <wsdl:message name="TablesSoapIn">
    <wsdl:part name="parameters" element="tns:Tables" />
  </wsdl:message>
  <wsdl:message name="TablesSoapOut">
    <wsdl:part name="parameters" element="tns:TablesResponse" />
  </wsdl:message>
  <wsdl:message name="ColumnHttpGetIn">
    <wsdl:part name="table" type="s:string" />
    <wsdl:part name="column" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ColumnHttpGetOut">
    <wsdl:part name="Body" element="tns:MetaColumn" />
  </wsdl:message>
  <wsdl:message name="ColumnsHttpGetIn">
    <wsdl:part name="table" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ColumnsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMetaColumn" />
  </wsdl:message>
  <wsdl:message name="FormatsHttpGetIn" />
  <wsdl:message name="FormatsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="FunctionsHttpGetIn" />
  <wsdl:message name="FunctionsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMetaFunction" />
  </wsdl:message>
  <wsdl:message name="GetAvailabilityHttpGetIn" />
  <wsdl:message name="GetAvailabilityHttpGetOut">
    <wsdl:part name="Body" element="tns:Availability" />
  </wsdl:message>
  <wsdl:message name="TableHttpGetIn">
    <wsdl:part name="table" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TableHttpGetOut">
    <wsdl:part name="Body" element="tns:MetaTable" />
  </wsdl:message>
  <wsdl:message name="TablesHttpGetIn" />
  <wsdl:message name="TablesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMetaTable" />
  </wsdl:message>
  <wsdl:message name="ColumnHttpPostIn">
    <wsdl:part name="table" type="s:string" />
    <wsdl:part name="column" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ColumnHttpPostOut">
    <wsdl:part name="Body" element="tns:MetaColumn" />
  </wsdl:message>
  <wsdl:message name="ColumnsHttpPostIn">
    <wsdl:part name="table" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ColumnsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMetaColumn" />
  </wsdl:message>
  <wsdl:message name="FormatsHttpPostIn" />
  <wsdl:message name="FormatsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="FunctionsHttpPostIn" />
  <wsdl:message name="FunctionsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMetaFunction" />
  </wsdl:message>
  <wsdl:message name="GetAvailabilityHttpPostIn" />
  <wsdl:message name="GetAvailabilityHttpPostOut">
    <wsdl:part name="Body" element="tns:Availability" />
  </wsdl:message>
  <wsdl:message name="TableHttpPostIn">
    <wsdl:part name="table" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TableHttpPostOut">
    <wsdl:part name="Body" element="tns:MetaTable" />
  </wsdl:message>
  <wsdl:message name="TablesHttpPostIn" />
  <wsdl:message name="TablesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMetaTable" />
  </wsdl:message>
  <wsdl:portType name="SkyNodeSoap">
    <wsdl:operation name="PerformQuery">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Run a query, get back VOData</documentation>
      <wsdl:input message="tns:PerformQuerySoapIn" />
      <wsdl:output message="tns:PerformQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecutePlan">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[FULL] Run an ExecPlan, get back a VOData</documentation>
      <wsdl:input message="tns:ExecutePlanSoapIn" />
      <wsdl:output message="tns:ExecutePlanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Column">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <wsdl:input message="tns:ColumnSoapIn" />
      <wsdl:output message="tns:ColumnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Columns">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <wsdl:input message="tns:ColumnsSoapIn" />
      <wsdl:output message="tns:ColumnsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Footprint">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[FULL] **NOT IMPLEMENTED** Returns a region which is the intersection of the survey and the given region.</documentation>
      <wsdl:input message="tns:FootprintSoapIn" />
      <wsdl:output message="tns:FootprintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Formats">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns a string[] of available query result formats.</documentation>
      <wsdl:input message="tns:FormatsSoapIn" />
      <wsdl:output message="tns:FormatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Functions">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaFunction[] with info for each function supported by the service. These are functions other than the standard ones defined in ADQL.</documentation>
      <wsdl:input message="tns:FunctionsSoapIn" />
      <wsdl:output message="tns:FunctionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns uptime infomration about the is service</documentation>
      <wsdl:input message="tns:GetAvailabilitySoapIn" />
      <wsdl:output message="tns:GetAvailabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryCost">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[FULL] Returns object count for a given criteria.</documentation>
      <wsdl:input message="tns:QueryCostSoapIn" />
      <wsdl:output message="tns:QueryCostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Table">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns a MetaTable</documentation>
      <wsdl:input message="tns:TableSoapIn" />
      <wsdl:output message="tns:TableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tables">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns an array of MetaTable</documentation>
      <wsdl:input message="tns:TablesSoapIn" />
      <wsdl:output message="tns:TablesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SkyNodeHttpGet">
    <wsdl:operation name="Column">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <wsdl:input message="tns:ColumnHttpGetIn" />
      <wsdl:output message="tns:ColumnHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Columns">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <wsdl:input message="tns:ColumnsHttpGetIn" />
      <wsdl:output message="tns:ColumnsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Formats">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns a string[] of available query result formats.</documentation>
      <wsdl:input message="tns:FormatsHttpGetIn" />
      <wsdl:output message="tns:FormatsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Functions">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaFunction[] with info for each function supported by the service. These are functions other than the standard ones defined in ADQL.</documentation>
      <wsdl:input message="tns:FunctionsHttpGetIn" />
      <wsdl:output message="tns:FunctionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns uptime infomration about the is service</documentation>
      <wsdl:input message="tns:GetAvailabilityHttpGetIn" />
      <wsdl:output message="tns:GetAvailabilityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Table">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns a MetaTable</documentation>
      <wsdl:input message="tns:TableHttpGetIn" />
      <wsdl:output message="tns:TableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Tables">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns an array of MetaTable</documentation>
      <wsdl:input message="tns:TablesHttpGetIn" />
      <wsdl:output message="tns:TablesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SkyNodeHttpPost">
    <wsdl:operation name="Column">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <wsdl:input message="tns:ColumnHttpPostIn" />
      <wsdl:output message="tns:ColumnHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Columns">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <wsdl:input message="tns:ColumnsHttpPostIn" />
      <wsdl:output message="tns:ColumnsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Formats">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns a string[] of available query result formats.</documentation>
      <wsdl:input message="tns:FormatsHttpPostIn" />
      <wsdl:output message="tns:FormatsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Functions">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns MetaFunction[] with info for each function supported by the service. These are functions other than the standard ones defined in ADQL.</documentation>
      <wsdl:input message="tns:FunctionsHttpPostIn" />
      <wsdl:output message="tns:FunctionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns uptime infomration about the is service</documentation>
      <wsdl:input message="tns:GetAvailabilityHttpPostIn" />
      <wsdl:output message="tns:GetAvailabilityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Table">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns a MetaTable</documentation>
      <wsdl:input message="tns:TableHttpPostIn" />
      <wsdl:output message="tns:TableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Tables">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">[BASIC] Returns an array of MetaTable</documentation>
      <wsdl:input message="tns:TablesHttpPostIn" />
      <wsdl:output message="tns:TablesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SkyNodeSoap" type="tns:SkyNodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="PerformQuery">
      <soap:operation soapAction="SkyNode.ivoa.net/PerformQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutePlan">
      <soap:operation soapAction="SkyNode.ivoa.net/ExecutePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExecutePlanRunIDHeader" part="RunIDHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Column">
      <soap:operation soapAction="SkyNode.ivoa.net/Column" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Columns">
      <soap:operation soapAction="SkyNode.ivoa.net/Columns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Footprint">
      <soap:operation soapAction="SkyNode.ivoa.net/Footprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Formats">
      <soap:operation soapAction="SkyNode.ivoa.net/Formats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Functions">
      <soap:operation soapAction="SkyNode.ivoa.net/Functions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <soap:operation soapAction="SkyNode.ivoa.net/GetAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCost">
      <soap:operation soapAction="SkyNode.ivoa.net/QueryCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryCostRunIDHeader" part="RunIDHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table">
      <soap:operation soapAction="SkyNode.ivoa.net/Table" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tables">
      <soap:operation soapAction="SkyNode.ivoa.net/Tables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SkyNodeHttpGet" type="tns:SkyNodeHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Column">
      <http:operation location="/Column" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Columns">
      <http:operation location="/Columns" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Formats">
      <http:operation location="/Formats" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Functions">
      <http:operation location="/Functions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <http:operation location="/GetAvailability" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table">
      <http:operation location="/Table" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tables">
      <http:operation location="/Tables" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SkyNodeHttpPost" type="tns:SkyNodeHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Column">
      <http:operation location="/Column" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Columns">
      <http:operation location="/Columns" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Formats">
      <http:operation location="/Formats" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Functions">
      <http:operation location="/Functions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <http:operation location="/GetAvailability" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Table">
      <http:operation location="/Table" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tables">
      <http:operation location="/Tables" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SkyNode">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Interface for basic and full SkyNodes.</documentation>
    <wsdl:port name="SkyNodeSoap" binding="tns:SkyNodeSoap">
      <soap:address location="http://sea.pha.jhu.edu/sky/Skynode/nodeb.asmx" />
    </wsdl:port>
    <wsdl:port name="SkyNodeHttpGet" binding="tns:SkyNodeHttpGet">
      <http:address location="http://sea.pha.jhu.edu/sky/Skynode/nodeb.asmx" />
    </wsdl:port>
    <wsdl:port name="SkyNodeHttpPost" binding="tns:SkyNodeHttpPost">
      <http:address location="http://sea.pha.jhu.edu/sky/Skynode/nodeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>