astrogrid/workflow-objects/schema/JesTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:jes/types/v1"
	xmlns:types="urn:jes/types/v1"
	>
  <!-- from controller -->
                <xsd:complexType name="SubmissionResponse">
                        <xsd:sequence>
                                <xsd:element name="jobURN" type="types:jobURN" />
                                <xsd:element name="message" type="xsd:string" />                              
                        </xsd:sequence>
                        <xsd:attribute name="submissionSuccessful" type="xsd:boolean" />
                </xsd:complexType>
                <xsd:complexType name="ListCriteria">
                        <xsd:sequence>
                                <xsd:element name="community" type="xsd:string" />
                                <xsd:element name="userId" type="xsd:string" />
                        </xsd:sequence>
                </xsd:complexType>
                <xsd:complexType name="WorkflowList">
                        <xsd:sequence>
                        		<xsd:element name="community" type="xsd:string" />
                        		<xsd:element name="userId" type="xsd:string" />
                        		<xsd:element name="message" type="xsd:string" />
                                <xsd:element name="Workflow" type="xsd:string" maxOccurs="unbounded" />
                        </xsd:sequence>
                </xsd:complexType>
                
    <!-- from monitor -->
                <xsd:complexType name="JobInfo">
                        <xsd:sequence>
                                <xsd:element name="jobURN" type="types:jobURN" />
                                <xsd:element name="comment" type="xsd:string" />
                                <xsd:element name="status" type="types:status" /> 
                                <xsd:element name="stepNumber" type="xsd:int" />
                        </xsd:sequence>
                </xsd:complexType>

<!-- define a new type for jobURNs - keeps distinct from String, and allows us to introduce more structure later -->
	<xsd:simpleType name="jobURN">
		<xsd:restriction base="xsd:anyURI" >
			<xsd:pattern value="jes:.*" />
		</xsd:restriction>
	</xsd:simpleType>              
	
	<xsd:simpleType name="status">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INITIALIZED" />
			<xsd:enumeration value="RUNNING" />
			<xsd:enumeration value="COMPLETED" />
			<xsd:enumeration value="ERROR" />
		</xsd:restriction>
		</xsd:simpleType>
</xsd:schema>