astrogrid/mySpace/wsdl/MySpaceManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="mySpace:MySpaceManager" xmlns:impl="mySpace:MySpaceManager" xmlns:intf="mySpace:MySpaceManager" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">

   <wsdl:message name="upLoadResponse">

      <wsdl:part name="upLoadReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupDataHoldersDetailsResponse">

      <wsdl:part name="lookupDataHoldersDetailsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteDataHolderRequest">

      <wsdl:part name="jobDetails" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="copyDataHolderResponse">

      <wsdl:part name="copyDataHolderReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteDataHolderResponse">

      <wsdl:part name="deleteDataHolderReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createContainerResponse">

      <wsdl:part name="createContainerReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="exportDataHolderRequest">

      <wsdl:part name="jobDetails" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="exportDataHolderResponse">

      <wsdl:part name="exportDataHolderReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupDataHolderDetailsRequest">

      <wsdl:part name="jobDetails" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupDataHolderDetailsResponse">

      <wsdl:part name="lookupDataHolderDetailsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="moveDataHolderResponse">

      <wsdl:part name="moveDataHolderReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="moveDataHolderRequest">

      <wsdl:part name="jobDetails" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="copyDataHolderRequest">

      <wsdl:part name="jobDetails" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="upLoadRequest">

      <wsdl:part name="jobDetails" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createContainerRequest">

      <wsdl:part name="jobDetails" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupDataHoldersDetailsRequest">

      <wsdl:part name="jobDetails" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="MySpaceManager">

      <wsdl:operation name="upLoad" parameterOrder="jobDetails">

         <wsdl:input name="upLoadRequest" message="impl:upLoadRequest"/>

         <wsdl:output name="upLoadResponse" message="impl:upLoadResponse"/>

      </wsdl:operation>

      <wsdl:operation name="lookupDataHolderDetails" parameterOrder="jobDetails">

         <wsdl:input name="lookupDataHolderDetailsRequest" message="impl:lookupDataHolderDetailsRequest"/>

         <wsdl:output name="lookupDataHolderDetailsResponse" message="impl:lookupDataHolderDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="lookupDataHoldersDetails" parameterOrder="jobDetails">

         <wsdl:input name="lookupDataHoldersDetailsRequest" message="impl:lookupDataHoldersDetailsRequest"/>

         <wsdl:output name="lookupDataHoldersDetailsResponse" message="impl:lookupDataHoldersDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="copyDataHolder" parameterOrder="jobDetails">

         <wsdl:input name="copyDataHolderRequest" message="impl:copyDataHolderRequest"/>

         <wsdl:output name="copyDataHolderResponse" message="impl:copyDataHolderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="moveDataHolder" parameterOrder="jobDetails">

         <wsdl:input name="moveDataHolderRequest" message="impl:moveDataHolderRequest"/>

         <wsdl:output name="moveDataHolderResponse" message="impl:moveDataHolderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="exportDataHolder" parameterOrder="jobDetails">

         <wsdl:input name="exportDataHolderRequest" message="impl:exportDataHolderRequest"/>

         <wsdl:output name="exportDataHolderResponse" message="impl:exportDataHolderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createContainer" parameterOrder="jobDetails">

         <wsdl:input name="createContainerRequest" message="impl:createContainerRequest"/>

         <wsdl:output name="createContainerResponse" message="impl:createContainerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteDataHolder" parameterOrder="jobDetails">

         <wsdl:input name="deleteDataHolderRequest" message="impl:deleteDataHolderRequest"/>

         <wsdl:output name="deleteDataHolderResponse" message="impl:deleteDataHolderResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MySpaceManagerSoapBinding" type="impl:MySpaceManager">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="upLoad">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="upLoadRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="upLoadResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lookupDataHolderDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupDataHolderDetailsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="lookupDataHolderDetailsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lookupDataHoldersDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupDataHoldersDetailsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="lookupDataHoldersDetailsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="copyDataHolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="copyDataHolderRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="copyDataHolderResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="moveDataHolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="moveDataHolderRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="moveDataHolderResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exportDataHolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportDataHolderRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="exportDataHolderResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createContainer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createContainerRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="createContainerResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDataHolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDataHolderRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="deleteDataHolderResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MySpaceManagerService">

      <wsdl:port name="MySpaceManager" binding="impl:MySpaceManagerSoapBinding">

         <wsdlsoap:address location="http://143.210.36.131:8080/axis/services/MySpaceManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
