astrogrid/mySpace/wsdl/MySpaceManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="mySpace:MySpaceManager" xmlns:impl="mySpace:MySpaceManager" xmlns:intf="mySpace:MySpaceManager" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://mySpaceManager.mySpace.astrogrid.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mySpaceManager.mySpace.astrogrid.org">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="DataItemRecord">
    <sequence>
     <element name="creationDate" nillable="true" type="xsd:dateTime"/>
     <element name="dataItemFile" nillable="true" type="xsd:string"/>
     <element name="dataItemID" type="xsd:int"/>
     <element name="dataItemName" nillable="true" type="xsd:string"/>
     <element name="expiryDate" nillable="true" type="xsd:dateTime"/>
     <element name="ownerID" nillable="true" type="xsd:string"/>
     <element name="permissionsMask" nillable="true" type="xsd:string"/>
     <element name="size" type="xsd:int"/>
     <element name="type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.apache.org/xml-soap">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Vector">
    <sequence>
     <element name="item" minOccurs="0" maxOccurs="unbounded" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="lookupDataHoldersDetailsResponse">

      <wsdl:part name="lookupDataHoldersDetailsReturn" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="deleteDataHolderRequest">

      <wsdl:part name="userID" type="xsd:string"/>

      <wsdl:part name="communityID" type="xsd:string"/>

      <wsdl:part name="jobID" type="xsd:string"/>

      <wsdl:part name="dataItemID" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="copyDataHolderResponse">

      <wsdl:part name="copyDataHolderReturn" type="tns1:DataItemRecord"/>

   </wsdl:message>

   <wsdl:message name="deleteDataHolderResponse">

      <wsdl:part name="deleteDataHolderReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="setRegistryNameResponse">

   </wsdl:message>

   <wsdl:message name="lookupDataHolderDetailsRequest">

      <wsdl:part name="userID" type="xsd:string"/>

      <wsdl:part name="communityID" type="xsd:string"/>

      <wsdl:part name="jobID" type="xsd:string"/>

      <wsdl:part name="dataItemID" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="lookupDataHolderDetailsResponse">

      <wsdl:part name="lookupDataHolderDetailsReturn" type="tns1:DataItemRecord"/>

   </wsdl:message>

   <wsdl:message name="setRegistryNameRequest">

      <wsdl:part name="registryName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="copyDataHolderRequest">

      <wsdl:part name="userID" type="xsd:string"/>

      <wsdl:part name="communityID" type="xsd:string"/>

      <wsdl:part name="jobID" type="xsd:string"/>

      <wsdl:part name="oldDataItemID" type="xsd:int"/>

      <wsdl:part name="newDataItemName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupDataHoldersDetailsRequest">

      <wsdl:part name="userID" type="xsd:string"/>

      <wsdl:part name="communityID" type="xsd:string"/>

      <wsdl:part name="jobID" type="xsd:string"/>

      <wsdl:part name="query" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="MySpaceManager">

      <wsdl:operation name="lookupDataHolderDetails" parameterOrder="userID communityID jobID dataItemID">

         <wsdl:input name="lookupDataHolderDetailsRequest" message="impl:lookupDataHolderDetailsRequest"/>

         <wsdl:output name="lookupDataHolderDetailsResponse" message="impl:lookupDataHolderDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="lookupDataHoldersDetails" parameterOrder="userID communityID jobID query">

         <wsdl:input name="lookupDataHoldersDetailsRequest" message="impl:lookupDataHoldersDetailsRequest"/>

         <wsdl:output name="lookupDataHoldersDetailsResponse" message="impl:lookupDataHoldersDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="copyDataHolder" parameterOrder="userID communityID jobID oldDataItemID newDataItemName">

         <wsdl:input name="copyDataHolderRequest" message="impl:copyDataHolderRequest"/>

         <wsdl:output name="copyDataHolderResponse" message="impl:copyDataHolderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteDataHolder" parameterOrder="userID communityID jobID dataItemID">

         <wsdl:input name="deleteDataHolderRequest" message="impl:deleteDataHolderRequest"/>

         <wsdl:output name="deleteDataHolderResponse" message="impl:deleteDataHolderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setRegistryName" parameterOrder="registryName">

         <wsdl:input name="setRegistryNameRequest" message="impl:setRegistryNameRequest"/>

         <wsdl:output name="setRegistryNameResponse" message="impl:setRegistryNameResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MySpaceManagerSoapBinding" type="impl:MySpaceManager">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="lookupDataHolderDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupDataHolderDetailsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="lookupDataHolderDetailsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lookupDataHoldersDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupDataHoldersDetailsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="lookupDataHoldersDetailsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="copyDataHolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="copyDataHolderRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="copyDataHolderResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDataHolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDataHolderRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="deleteDataHolderResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setRegistryName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setRegistryNameRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:input>

         <wsdl:output name="setRegistryNameResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mySpace:MySpaceManager"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MySpaceManagerService">

      <wsdl:port name="MySpaceManager" binding="impl:MySpaceManagerSoapBinding">

         <wsdlsoap:address location="http://143.210.36.107:8080/axis/services/MySpaceManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
