astrogrid/applications/schema/SExtractorParameters-complex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Paul Harrison (Contractor) -->
<!-- $Id: SExtractorParameters-complex.xsd,v 1.1 2003/11/23 22:21:43 pah Exp $ -->
<!-- this is still under construction - derived from the schema that is used in the ACE tool -->
<schema targetNamespace="http://www.astrogrid.org/schema/applications/SExtractorV2.3" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sex="http://www.astrogrid.org/schema/applications/SExtractorV2.3" elementFormDefault="unqualified">
	<annotation>
		<documentation xml:lang="en">
            Toplevel schema for SExtractor Service input, intended for
            AstroGrid Applications Integration  Configured for SExtractor v2.2.2.
      </documentation>
	</annotation>
	<complexType name="ImageToCatalog">
		<sequence>
			<element name="arg" type="string"/>
		</sequence>
	</complexType>
	<complexType name="ImageToMeasure">
		<sequence>
			<element name="arg" type="string"/>
		</sequence>
	</complexType>
	<complexType name="ANALYSIS_THRESH">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="double">
						<minInclusive value="-1.0E30"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ASSOC_DATA">
		<sequence>
			<element name="arg" maxOccurs="32">
				<simpleType>
					<restriction base="nonNegativeInteger">
						<maxInclusive value="1000000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ASSOC_NAME">
		<sequence>
			<element name="arg" type="string"/>
		</sequence>
	</complexType>
	<complexType name="ASSOC_PARAMS">
		<sequence>
			<element name="arg" minOccurs="2" maxOccurs="3">
				<simpleType>
					<restriction base="nonNegativeInteger">
						<maxInclusive value="1000000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ASSOC_RADIUS">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="1.0E-10"/>
						<maxInclusive value="1.0E10"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ASSOC_TYPE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="string">
						<enumeration value="FIRST"/>
						<enumeration value="NEAREST"/>
						<enumeration value="MEAN"/>
						<enumeration value="MAG_MEAN"/>
						<enumeration value="SUM"/>
						<enumeration value="MAG_SUM"/>
						<enumeration value="MIN"/>
						<enumeration value="MAX"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ASSOCSELEC_TYPE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="string">
						<enumeration value="ALL"/>
						<enumeration value="MATCHED"/>
						<enumeration value="-MATCHED"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BACK_FILTERSIZE">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="positiveInteger">
						<maxInclusive value="11"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BACK_FILTTHRESH">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.0"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BACK_SIZE">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="positiveInteger">
						<maxInclusive value="2000000000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BACK_TYPE">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="string">
						<enumeration value="AUTO"/>
						<enumeration value="MANUAL"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BACK_VALUE">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="double">
						<minInclusive value="-1.0E30"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BACKPHOTO_THICK">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="positiveInteger">
						<maxInclusive value="256"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BACKPHOTO_TYPE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="string">
						<enumeration value="GLOBAL"/>
						<enumeration value="LOCAL"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="CHECKIMAGE_NAME">
		<sequence>
			<element name="arg" type="string" maxOccurs="16"/>
		</sequence>
	</complexType>
	<complexType name="CHECKIMAGE_TYPE">
		<sequence>
			<element name="arg" maxOccurs="16">
				<simpleType>
					<restriction base="string">
						<enumeration value="NONE"/>
						<enumeration value="IDENTICAL"/>
						<enumeration value="BACKGROUND"/>
						<enumeration value="BACKGROUND_RMS"/>
						<enumeration value="MINIBACKGROUND"/>
						<enumeration value="MINIBACK_RMS"/>
						<enumeration value="-BACKGROUND"/>
						<enumeration value="FILTERED"/>
						<enumeration value="OBJECTS"/>
						<enumeration value="-OBJECTS"/>
						<enumeration value="APERTURES"/>
						<enumeration value="SEGMENTATION"/>
						<enumeration value="ASSOC"/>
						<enumeration value="-PSF_PROTOS"/>
						<enumeration value="PSF_PROTOS"/>
						<enumeration value="-PC_CONVPROTOS"/>
						<enumeration value="PC_CONVPROTOS"/>
						<enumeration value="PC_PROTOS"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="CLEAN">
		<sequence>
			<element name="arg" type="boolean"/>
		</sequence>
	</complexType>
	<complexType name="CLEAN_PARAM">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.1"/>
						<maxInclusive value="10.0"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="DEBLEND_MINCONT">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.0"/>
						<maxInclusive value="1.0"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="DEBLEND_NTHRESH">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="positiveInteger">
						<maxInclusive value="64"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="DETECT_MINAREA">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="positiveInteger">
						<maxInclusive value="1000000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="DETECT_THRESH">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="double">
						<minInclusive value="-1.0E30"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="DETECT_TYPE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="string">
						<enumeration value="CCD"/>
						<enumeration value="PHOTO"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="FILTER">
		<sequence>
			<element name="arg" type="boolean"/>
		</sequence>
	</complexType>
	<complexType name="FILTER_NAME">
		<sequence>
			<element name="arg" type="string"/>
		</sequence>
	</complexType>
	<complexType name="FILTER_THRESH">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="double">
						<minInclusive value="-1.0E30"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="FITS_UNSIGNED">
		<sequence>
			<element name="arg" type="boolean"/>
		</sequence>
	</complexType>
	<complexType name="FLAG_IMAGE">
		<sequence>
			<element name="arg" type="string" maxOccurs="4"/>
		</sequence>
	</complexType>
	<complexType name="FLAG_TYPE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="string">
						<enumeration value="OR"/>
						<enumeration value="AND"/>
						<enumeration value="MIN"/>
						<enumeration value="MAX"/>
						<enumeration value="MOST"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="GAIN">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.0"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="INTERP_MAXXLAG">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="nonNegativeInteger">
						<maxInclusive value="1000000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="INTERP_MAXYLAG">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="nonNegativeInteger">
						<maxInclusive value="1000000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="INTERP_TYPE">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="string">
						<enumeration value="NONE"/>
						<enumeration value="VAR_ONLY"/>
						<enumeration value="ALL"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="MAG_GAMMA">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="1.0E-10"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="MAG_ZEROPOINT">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="-100.0"/>
						<maxInclusive value="100.0"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="MAMA_CORFLEX">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="-1.0"/>
						<maxInclusive value="1.0"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="MASK_TYPE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="string">
						<enumeration value="NONE"/>
						<enumeration value="BLANK"/>
						<enumeration value="CORRECT"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="MEMORY_BUFSIZE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="positiveInteger">
						<minInclusive value="8"/>
						<maxInclusive value="65534"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="MEMORY_OBJSTACK">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="positiveInteger">
						<minInclusive value="16"/>
						<maxInclusive value="65536"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="MEMORY_PIXSTACK">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="positiveInteger">
						<minInclusive value="1000"/>
						<maxInclusive value="10000000"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PHOT_APERTURES">
		<sequence>
			<element name="arg" maxOccurs="32">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.0"/>
						<maxInclusive value="2097152"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PHOT_AUTOPARAMS">
		<sequence>
			<element name="arg" minOccurs="2" maxOccurs="2">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.0"/>
						<maxInclusive value="10.0"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PHOT_AUTOAPERS">
		<sequence>
			<element name="arg" minOccurs="2" maxOccurs="2">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.0"/>
						<maxInclusive value="1.0E6"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PHOT_FLUXFRAC">
		<sequence>
			<element name="arg" maxOccurs="32">
				<simpleType>
					<restriction base="double">
						<minInclusive value="1.0E-6"/>
						<maxInclusive value="1.0"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PIXEL_SCALE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.0"/>
						<maxInclusive value="1.0E10"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PSF_NAME">
		<sequence>
			<element name="arg" type="string"/>
		</sequence>
	</complexType>
	<complexType name="PSF_NMAX">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="positiveInteger">
						<maxInclusive value="11"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PSFDISPLAY_TYPE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="string">
						<enumeration value="SPLIT"/>
						<enumeration value="VECTOR"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SATUR_LEVEL">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="float">
						<minInclusive value="-1.0E30"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SEEING_FWHM">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="float">
						<minInclusive value="1.0E-10"/>
						<maxInclusive value="1.0E10"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SOM_NAME">
		<sequence>
			<element name="arg" type="string"/>
		</sequence>
	</complexType>
	<complexType name="STARNNW_NAME">
		<sequence>
			<element name="arg" type="string"/>
		</sequence>
	</complexType>
	<complexType name="THRESH_TYPE">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="string">
						<enumeration value="RELATIVE"/>
						<enumeration value="ABSOLUTE"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="VERBOSE_TYPE">
		<sequence>
			<element name="arg">
				<simpleType>
					<restriction base="string">
						<enumeration value="QUIET"/>
						<enumeration value="NORMAL"/>
						<enumeration value="EXTRA_WARNINGS"/>
						<enumeration value="FULL"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="WEIGHT_GAIN">
		<sequence>
			<element name="arg" type="boolean"/>
		</sequence>
	</complexType>
	<complexType name="WEIGHT_IMAGE">
		<sequence>
			<element name="arg" type="string" maxOccurs="2"/>
		</sequence>
	</complexType>
	<complexType name="WEIGHT_THRESH">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="double">
						<minInclusive value="0.0"/>
						<maxInclusive value="1.0E30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="WEIGHT_TYPE">
		<sequence>
			<element name="arg" maxOccurs="2">
				<simpleType>
					<restriction base="string">
						<enumeration value="NONE"/>
						<enumeration value="BACKGROUND"/>
						<enumeration value="MAP_RMS"/>
						<enumeration value="MAP_VAR"/>
						<enumeration value="MAP_WEIGHT"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="OUTPUT_COLUMNS">
		<sequence>
			<element name="arg" maxOccurs="unbounded">
				<simpleType>
					<restriction base="string">
						<enumeration value="FLUX_ISO"/>
						<enumeration value="FLUXERR_ISO"/>
						<enumeration value="MAG_ISO"/>
						<enumeration value="MAGERR_ISO"/>
						<enumeration value="FLUX_ISOCOR"/>
						<enumeration value="FLUXERR_ISOCOR"/>
						<enumeration value="MAG_ISOCOR"/>
						<enumeration value="MAGERR_ISOCOR"/>
						<enumeration value="FLUX_AUTO"/>
						<enumeration value="FLUXERR_AUTO"/>
						<enumeration value="MAG_AUTO"/>
						<enumeration value="MAGERR_AUTO"/>
						<enumeration value="FLUX_BEST"/>
						<enumeration value="FLUXERR_BEST"/>
						<enumeration value="MAG_BEST"/>
						<enumeration value="MAGERR_BEST"/>
						<enumeration value="FLUX_PROFILE"/>
						<enumeration value="FLUXERR_PROFILE"/>
						<enumeration value="MAG_PROFILE"/>
						<enumeration value="MAGERR_PROFILE"/>
						<enumeration value="FLUX_SOMFIT"/>
						<enumeration value="FLUXERR_SOMFIT"/>
						<enumeration value="MAG_SOMFIT"/>
						<enumeration value="MAGERR_SOMFIT"/>
						<enumeration value="ERROR_SOMFIT"/>
						<enumeration value="FLUX_GALFIT"/>
						<enumeration value="FLUXERR_GALFIT"/>
						<enumeration value="MAG_GALFIT"/>
						<enumeration value="MAGERR_GALFIT"/>
						<enumeration value="ERROR_GALFIT"/>
						<enumeration value="GALDANG_IMAGE"/>
						<enumeration value="GALDSCALE_IMAGE"/>
						<enumeration value="GALDASPEC_IMAGE"/>
						<enumeration value="GALDE1_IMAGE"/>
						<enumeration value="GALDE2_IMAGE"/>
						<enumeration value="GALBRATIO_IMAGE"/>
						<enumeration value="GALBANG_IMAGE"/>
						<enumeration value="GALBSCALE_IMAGE"/>
						<enumeration value="GALBASPEC_IMAGE"/>
						<enumeration value="KRON_RADIUS"/>
						<enumeration value="BACKGROUND"/>
						<enumeration value="THRESHOLD"/>
						<enumeration value="FLUX_MAX"/>
						<enumeration value="ISOAREA_IMAGE"/>
						<enumeration value="ISOAREAF_IMAGE"/>
						<enumeration value="XMIN_IMAGE"/>
						<enumeration value="YMIN_IMAGE"/>
						<enumeration value="XMAX_IMAGE"/>
						<enumeration value="YMAX_IMAGE"/>
						<enumeration value="XPEAK_IMAGE"/>
						<enumeration value="YPEAK_IMAGE"/>
						<enumeration value="XPEAK_WORLD"/>
						<enumeration value="YPEAK_WORLD"/>
						<enumeration value="ALPHAPEAK_SKY"/>
						<enumeration value="DELTAPEAK_SKY"/>
						<enumeration value="ALPHAPEAK_J2000"/>
						<enumeration value="DELTAPEAK_J2000"/>
						<enumeration value="ALPHAPEAK_B1950"/>
						<enumeration value="DELTAPEAK_B1950"/>
						<enumeration value="X_IMAGE"/>
						<enumeration value="Y_IMAGE"/>
						<enumeration value="X_IMAGE_DBL"/>
						<enumeration value="Y_IMAGE_DBL"/>
						<enumeration value="X_WORLD"/>
						<enumeration value="Y_WORLD"/>
						<enumeration value="X_MAMA"/>
						<enumeration value="Y_MAMA"/>
						<enumeration value="ALPHA_SKY"/>
						<enumeration value="DELTA_SKY"/>
						<enumeration value="ALPHA_J2000"/>
						<enumeration value="DELTA_J2000"/>
						<enumeration value="ALPHA_B1950"/>
						<enumeration value="DELTA_B1950"/>
						<enumeration value="X2_IMAGE"/>
						<enumeration value="Y2_IMAGE"/>
						<enumeration value="XY_IMAGE"/>
						<enumeration value="X2_WORLD"/>
						<enumeration value="Y2_WORLD"/>
						<enumeration value="XY_WORLD"/>
						<enumeration value="CXX_IMAGE"/>
						<enumeration value="CYY_IMAGE"/>
						<enumeration value="CXY_IMAGE"/>
						<enumeration value="CXX_WORLD"/>
						<enumeration value="CYY_WORLD"/>
						<enumeration value="CXY_WORLD"/>
						<enumeration value="A_IMAGE"/>
						<enumeration value="B_IMAGE"/>
						<enumeration value="THETA_IMAGE"/>
						<enumeration value="A_WORLD"/>
						<enumeration value="B_WORLD"/>
						<enumeration value="THETA_WORLD"/>
						<enumeration value="THETA_SKY"/>
						<enumeration value="THETA_J2000"/>
						<enumeration value="THETA_B1950"/>
						<enumeration value="ERRX2_IMAGE"/>
						<enumeration value="ERRY2_IMAGE"/>
						<enumeration value="ERRXY_IMAGE"/>
						<enumeration value="ERRX2_WORLD"/>
						<enumeration value="ERRY2_WORLD"/>
						<enumeration value="ERRXY_WORLD"/>
						<enumeration value="ERRCXX_IMAGE"/>
						<enumeration value="ERRCYY_IMAGE"/>
						<enumeration value="ERRCXY_IMAGE"/>
						<enumeration value="ERRCXX_WORLD"/>
						<enumeration value="ERRCYY_WORLD"/>
						<enumeration value="ERRCXY_WORLD"/>
						<enumeration value="ERRA_IMAGE"/>
						<enumeration value="ERRB_IMAGE"/>
						<enumeration value="ERRTHETA_IMAGE"/>
						<enumeration value="ERRA_WORLD"/>
						<enumeration value="ERRB_WORLD"/>
						<enumeration value="ERRTHETA_WORLD"/>
						<enumeration value="ERRTHETA_SKY"/>
						<enumeration value="ERRTHETA_J2000"/>
						<enumeration value="ERRTHETA_B1950"/>
						<enumeration value="MU_THRESHOLD"/>
						<enumeration value="MU_MAX"/>
						<enumeration value="ISOAREA_WORLD"/>
						<enumeration value="ISOAREAF_WORLD"/>
						<enumeration value="ISO0"/>
						<enumeration value="ISO1"/>
						<enumeration value="ISO2"/>
						<enumeration value="ISO3"/>
						<enumeration value="ISO4"/>
						<enumeration value="ISO5"/>
						<enumeration value="ISO6"/>
						<enumeration value="ISO7"/>
						<enumeration value="FLAGS"/>
						<enumeration value="IMAFLAGS_ISO"/>
						<enumeration value="NIMAFLAGS_ISO"/>
						<enumeration value="FWHM_IMAGE"/>
						<enumeration value="FWHM_WORLD"/>
						<enumeration value="ELONGATION"/>
						<enumeration value="ELLIPTICITY"/>
						<enumeration value="CLASS_STAR"/>
						<enumeration value="NUMBER_ASSOC"/>
						<enumeration value="THRESHOLDMAX"/>
						<enumeration value="FLUX_GROWTHSTEP"/>
						<enumeration value="MAG_GROWTH"/>
						<enumeration value="MAG_GROWTHSTEP"/>
						<enumeration value="FLUX_RADIUS"/>
						<enumeration value="XPSF_IMAGE"/>
						<enumeration value="YPSF_IMAGE"/>
						<enumeration value="XPSF_WORLD"/>
						<enumeration value="YPSF_WORLD"/>
						<enumeration value="ALPHAPSF_SKY"/>
						<enumeration value="DELTAPSF_SKY"/>
						<enumeration value="ALPHAPSF_J2000"/>
						<enumeration value="DELTAPSF_J2000"/>
						<enumeration value="ALPHAPSF_B1950"/>
						<enumeration value="DELTAPSF_B1950"/>
						<enumeration value="FLUX_PSF"/>
						<enumeration value="FLUXERR_PSF"/>
						<enumeration value="MAG_PSF"/>
						<enumeration value="MAGERR_PSF"/>
						<enumeration value="NITER_PSF"/>
						<enumeration value="CHI2_PSF"/>
						<enumeration value="ERRX2PSF_IMAGE"/>
						<enumeration value="ERRY2PSF_IMAGE"/>
						<enumeration value="ERRXYPSF_IMAGE"/>
						<enumeration value="ERRX2PSF_WORLD"/>
						<enumeration value="ERRY2PSF_WORLD"/>
						<enumeration value="ERRXYPSF_WORLD"/>
						<enumeration value="ERRCXXPSF_IMAGE"/>
						<enumeration value="ERRCYYPSF_IMAGE"/>
						<enumeration value="ERRCXYPSF_IMAGE"/>
						<enumeration value="ERRCXXPSF_WORLD"/>
						<enumeration value="ERRCYYPSF_WORLD"/>
						<enumeration value="ERRCXYPSF_WORLD"/>
						<enumeration value="ERRAPSF_IMAGE"/>
						<enumeration value="ERRBPSF_IMAGE"/>
						<enumeration value="ERRTHTPSF_IMAGE"/>
						<enumeration value="ERRAPSF_WORLD"/>
						<enumeration value="ERRBPSF_WORLD"/>
						<enumeration value="ERRTHTPSF_WORLD"/>
						<enumeration value="ERRTHTPSF_SKY"/>
						<enumeration value="ERRTHTPSF_J2000"/>
						<enumeration value="ERRTHTPSF_B1950"/>
						<enumeration value="X2PC_IMAGE"/>
						<enumeration value="Y2PC_IMAGE"/>
						<enumeration value="XYPC_IMAGE"/>
						<enumeration value="APC_IMAGE"/>
						<enumeration value="BPC_IMAGE"/>
						<enumeration value="THETAPC_IMAGE"/>
						<enumeration value="PC"/>
						<enumeration value="FLUX_APER"/>
						<enumeration value="FLUXERR_APER"/>
						<enumeration value="MAG_APER"/>
						<enumeration value="MAGERR_APER"/>
						<enumeration value="VECTOR_SOMFIT"/>
						<enumeration value="VECTOR_ASSOC"/>
						<enumeration value="FLUX_GROWTH"/>
						<enumeration value="VIGNET"/>
						<enumeration value="VIGNET_SHIFT"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
</schema>