astrogrid/workflow-objects/wsdl/CommonExecutionConnnector.wsdl

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Paul Harrison (Contractor) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:impl.cea.applications.astrogrid.org" xmlns:intf="urn:cea.applications.astrogrid.org" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cea="http://www.astrogrid.org/schema/CommonExecutionArchitectureBase/v1" xmlns:wkf="http://www.astrogrid.org/schema/AGWorkflow/v1" xmlns:agcred="http://www.astrogrid.org/schema/Credentials/v1" xmlns:agpd="http://www.astrogrid.org/schema/AGParameterDefinition/v1" xmlns:ceat="http://www.astrogrid.org/schema/CEATypes/v1" xmlns:ns="http://www.astrogrid.org/schema/ExecutionRecord/v1" targetNamespace="urn:cea.applications.astrogrid.org">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:impl.cea.applications.astrogrid.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:annotation>
				<xsd:documentation>AGApplictionBase needed for the application descriptions</xsd:documentation>
			</xsd:annotation>
			<xsd:import namespace="http://www.astrogrid.org/schema/CommonExecutionArchitectureBase/v1" schemaLocation="../schema/AGApplicationBase.xsd"/>
			<xsd:annotation>
				<xsd:documentation>Workflow,xsd is needed for the tool element</xsd:documentation>
			</xsd:annotation>
			<xsd:import namespace="http://www.astrogrid.org/schema/AGWorkflow/v1" schemaLocation="../schema/Workflow.xsd"/>
			<xsd:annotation>
				<xsd:documentation>CEATypes is needed for the status callback..</xsd:documentation>
			</xsd:annotation>
			<xsd:import namespace="http://www.astrogrid.org/schema/CEATypes/v1" schemaLocation="../schema/CEATypes.xsd"/>
			<xsd:annotation>
				<xsd:documentation>The following types are all needed for the wrapped style of the interface</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="execute">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="wkf:tool"/>
						<xsd:element name="jobstepID" type="ceat:job-identifier-type">
							<xsd:annotation>
								<xsd:documentation>The identifier for the job step being executed</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="jobMonitorURL" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The endpoint of the JobMonitor service that is to be used for status callbacks</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="executeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="executeReturn" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The idetifier that can be used to track this particular execution instance of the application</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="abort">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="executionId" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The identifier for the execution instance that is to be aborted.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="abortResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="abortReturn" type="xsd:boolean">
							<xsd:annotation>
								<xsd:documentation>returns true if the application was successfully aborted</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listApplications">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="listApplicationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="cea:ApplicationList"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getApplicationDescription">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicationID" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getApplicationDescriptionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ApplicationDesciption" type="cea:ApplicationBase"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryExecutionStatus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="executionId" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The identifier for the execution instance that is to be queried</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryExecutionStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queryExecutionStatusReturn" type="ceat:message-type">
							<xsd:annotation>
								<xsd:documentation>This is the standard execution status message</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="returnRegistryEntry">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="returnRegistryEntryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnRegistryEntryReturn">
							<xsd:annotation>
								<xsd:documentation>This should probably be a proper xml type when registry schema extension is defined.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any namespace="##any" processContents="lax"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="abortResponse">
		<wsdl:part name="parameters" element="impl:abortResponse"/>
	</wsdl:message>
	<wsdl:message name="executeResponse">
		<wsdl:part name="parameters" element="impl:executeResponse"/>
	</wsdl:message>
	<wsdl:message name="queryExecutionStatusRequest">
		<wsdl:part name="parameters" element="impl:queryExecutionStatus"/>
	</wsdl:message>
	<wsdl:message name="executeRequest">
		<wsdl:part name="parameters" element="impl:execute"/>
	</wsdl:message>
	<wsdl:message name="returnRegistryEntryResponse">
		<wsdl:part name="parameters" element="impl:returnRegistryEntryResponse"/>
	</wsdl:message>
	<wsdl:message name="listApplicationsRequest">
		<wsdl:part name="parameters" element="impl:listApplications"/>
	</wsdl:message>
	<wsdl:message name="queryExecutionStatusResponse">
		<wsdl:part name="parameters" element="impl:queryExecutionStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="listApplicationsResponse">
		<wsdl:part name="parameters" element="impl:listApplicationsResponse"/>
	</wsdl:message>
	<wsdl:message name="abortRequest">
		<wsdl:part name="parameters" element="impl:abort"/>
	</wsdl:message>
	<wsdl:message name="getApplicationDescriptionRequest">
		<wsdl:part name="parameters" element="impl:getApplicationDescription"/>
	</wsdl:message>
	<wsdl:message name="returnRegistryEntryRequest">
		<wsdl:part name="parameters" element="impl:returnRegistryEntry"/>
	</wsdl:message>
	<wsdl:message name="getApplicationDescriptionResponse">
		<wsdl:part name="parameters" element="impl:getApplicationDescriptionResponse"/>
	</wsdl:message>
	<wsdl:message name="ceaFault">
		<wsdl:part name="message" type="xsd:string"/>
	</wsdl:message>
	<wsdl:portType name="CommonExecutionConnector">
		<wsdl:operation name="execute" parameterOrder="">
			<wsdl:documentation>Run an application asynchronously</wsdl:documentation>
			<wsdl:input name="executeRequest" message="intf:executeRequest"/>
			<wsdl:output name="executeResponse" message="intf:executeResponse"/>
			<wsdl:fault name="executeFault" message="intf:ceaFault"/>
		</wsdl:operation>
		<wsdl:operation name="abort" parameterOrder="">
			<wsdl:documentation>Abort a running application</wsdl:documentation>
			<wsdl:input name="abortRequest" message="intf:abortRequest"/>
			<wsdl:output name="abortResponse" message="intf:abortResponse"/>
			<wsdl:fault name="abortFault" message="intf:ceaFault"/>
		</wsdl:operation>
		<wsdl:operation name="listApplications">
			<wsdl:documentation>List the applications that this CommonExecutionController manages</wsdl:documentation>
			<wsdl:input name="listApplicationsRequest" message="intf:listApplicationsRequest"/>
			<wsdl:output name="listApplicationsResponse" message="intf:listApplicationsResponse"/>
			<wsdl:fault name="listApplicationsFault" message="intf:ceaFault"/>
		</wsdl:operation>
		<wsdl:operation name="getApplicationDescription" parameterOrder="">
			<wsdl:documentation>Get a particular applicationID</wsdl:documentation>
			<wsdl:input name="getApplicationDescriptionRequest" message="intf:getApplicationDescriptionRequest"/>
			<wsdl:output name="getApplicationDescriptionResponse" message="intf:getApplicationDescriptionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="queryExecutionStatus" parameterOrder="">
			<wsdl:documentation>uery the status of a running application</wsdl:documentation>
			<wsdl:input name="queryExecutionStatusRequest" message="intf:queryExecutionStatusRequest"/>
			<wsdl:output name="queryExecutionStatusResponse" message="intf:queryExecutionStatusResponse"/>
			<wsdl:fault name="queryExecutionStatusFault" message="intf:ceaFault"/>
		</wsdl:operation>
		<wsdl:operation name="returnRegistryEntry">
			<wsdl:documentation>return an entry for the registry - this really belongs in an interface that the registry should be providing</wsdl:documentation>
			<wsdl:input name="returnRegistryEntryRequest" message="intf:returnRegistryEntryRequest"/>
			<wsdl:output name="returnRegistryEntryResponse" message="intf:returnRegistryEntryResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CommonExecutionConnectorServiceSoapBinding" type="intf:CommonExecutionConnector">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:output>
			<wsdl:fault name="executeFault">
				<wsdlsoap:fault name="ceaFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="abort">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:output>
			<wsdl:fault name="abortFault">
				<wsdlsoap:fault name="ceaFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listApplications">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:output>
			<wsdl:fault name="listApplicationsFault">
				<wsdlsoap:fault name="ceaFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getApplicationDescription">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryExecutionStatus">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:output>
			<wsdl:fault name="queryExecutionStatusFault">
				<wsdlsoap:fault name="ceaFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="returnRegistryEntry">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="urn:cea.applications.astrogrid.org"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CommonExecutionConnectorService">
		<wsdl:port name="CommonExecutionConnectorService" binding="intf:CommonExecutionConnectorServiceSoapBinding">
			<wsdlsoap:address location="http://localhost:8080/astrogrid-applications/services/CommonExecutionConnectorService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
