astrogrid/datacenter/client/src/wsdl/AxisDataServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    targetNamespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1"
    xmlns="http://www.astrogrid.org/datacenter/It04/dataserver/v1"
    xmlns:ag="http://astrogrid.org"
    xmlns:agq="http://query.datacenter.astrogrid.org"
    xmlns:io="http://io.java"
    xmlns:net="http://net.java"
    xmlns:types="http://www.astrogrid.org/datacenter/It04/dataserver/v1/types"

    xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:sax="http://sax.xml.org"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"

    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/          http://schemas.xmlsoap.org/soap/encoding/ http://schemas.xmlsoap.org/soap/encoding/         http://schemas.xmlsoap.org/wsdl/soap/ http://schemas.xmlsoap.org/wsdl/soap/         http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
    <wsdl:import location="../xsd/AxisDataServer.xsd" namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1/types"/>
    <wsdl:types>
        <!-- our exception types -->
        <xsd:schema targetNamespace="http://astrogrid.org" xmlns="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:complexType name="AstroGridException">
                <xsd:sequence>
                    <xsd:element name="astroGridMessage" nillable="true" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://query.datacenter.astrogrid.org" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="QueryException">
                <complexContent>
                    <extension base="ag:AstroGridException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sax.xml.org" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="SAXException">
                <sequence>
                    <element name="exception" nillable="true" type="xsd:anyType"/>
                    <element name="message" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
	</xsd:schema>
	<xsd:schema targetNamespace="http://io.java" xmlns="http://www.w3.org/2001/XMLSchema">
		<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
		<complexType name="IOException">
			<sequence>
				<element name="message" nillable="true" type="xsd:string" />
			</sequence>
		</complexType>
	</xsd:schema>
	<xsd:schema targetNamespace="http://net.java" xmlns="http://www.w3.org/2001/XMLSchema">
		<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
		<complexType name="MalformedURLException">
			<complexContent>
			<extension base="io:IOException">
				<sequence />
			</extension>
			</complexContent>
		</complexType>
	</xsd:schema>
    </wsdl:types>
    <!-- messages -->
    <wsdl:message name="getMetadata">
       <wsdl:part element="types:getMetadata" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getMetadataResponse">
          <wsdl:part element="types:getMetadataResponse" name="parameters" />
    </wsdl:message>

    <wsdl:message name="doQuery">
        <wsdl:part element="types:doQuery" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="doQueryResponse">
        <wsdl:part element="types:doQueryResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="makeQuery">
        <wsdl:part element="types:makeQuery" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="makeQueryWithId">
        <wsdl:part element="types:makeQueryWithId" name="parameters" />
    </wsdl:message>    
    <wsdl:message name="makeQueryResponse">
        <wsdl:part element="types:makeQueryResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="setResultsDestination">
           <wsdl:part element="types:setResultsDestination" name="parameters" />
    </wsdl:message>
    <wsdl:message name="setResultsDestinationResponse">
    </wsdl:message>
    
    <wsdl:message name="startQuery">
            <wsdl:part element="types:startQuery" name="parameters" />
    </wsdl:message>
    <wsdl:message name="startQueryResponse">
    </wsdl:message>
  
    <wsdl:message name="getResultsAndClose">
        <wsdl:part element="types:getResultsAndClose" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getResultsAndCloseResponse">
        <wsdl:part element="types:getResultsAndCloseResponse" name="parameters"/>
    </wsdl:message>  
        
    <wsdl:message name="abortQuery">
        <wsdl:part element="types:abortQuery" name="parameters" />
    </wsdl:message>
    <wsdl:message name="abortQueryResponse">
    </wsdl:message>
    
    <wsdl:message name="getStatus">
        <wsdl:part element="types:getStatus" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getStatusResponse">
        <wsdl:part element="types:getStatusResponse" name="parameters" />
    </wsdl:message>

    <wsdl:message name="registerWebListener">
        <wsdl:part element="types:registerWebListener" name="parameters" />
    </wsdl:message>
    <wsdl:message name="registerWebListenerResponse">
    </wsdl:message>
    <wsdl:message name="registerJobMonitor">
        <wsdl:part element="types:registerJobMonitor" name="parameters" />
    </wsdl:message>
    <wsdl:message name="registerJobMonitorResponse">
    </wsdl:message>
    

    <!-- exception types -->
    <wsdl:message name="QueryException">
        <wsdl:part name="fault" type="agq:QueryException" />
    </wsdl:message>
    <wsdl:message name="SAXException">
        <wsdl:part name="fault" type="sax:SAXException" />
    </wsdl:message>
    <wsdl:message name="IOException">
    	<wsdl:part name="fault" type="io:IOException" />
    </wsdl:message>
    <wsdl:message name="MalformedURLException">
    	<wsdl:part name="fault" type="net:MalformedURLException" />
    </wsdl:message>



    <!-- the port type -->
    <wsdl:portType name="AxisDataServer">

        <wsdl:operation name="getMetadata">
            <wsdl:input message="getMetadata" name="getMetadata" />
            <wsdl:output message="getMetadataResponse" name="getMetadataResponse" />
        </wsdl:operation>

        <wsdl:operation name="doQuery">
            <wsdl:input message="doQuery" name="doQuery"/>
            <wsdl:output message="doQueryResponse" name="doQueryResponse"/>
            <wsdl:fault message="QueryException" name="QueryException"/>
            <wsdl:fault message="SAXException" name="SAXException"/>            
	    <wsdl:fault message="IOException" name="IOException" />
        </wsdl:operation>

        <wsdl:operation name="makeQuery">
            <wsdl:input message="makeQuery" name="makeQuery"/>
            <wsdl:output message="makeQueryResponse" name="makeQueryResponse"/>
            <wsdl:fault message="QueryException" name="QueryException"/>
            <wsdl:fault message="SAXException" name="SAXException"/>
	    <wsdl:fault message="IOException" name="IOException" />
        </wsdl:operation>
        <wsdl:operation name="makeQueryWithId">
            <wsdl:input message="makeQueryWithId" name="makeQueryWithId" />
            <wsdl:output message="makeQueryResponse" name="makeQueryResponse" />
            <wsdl:fault message="QueryException" name="QueryException"/>
            <wsdl:fault message="SAXException" name="SAXException"/>
	    <wsdl:fault message="IOException" name="IOException" />
        </wsdl:operation>

        <wsdl:operation name="setResultsDestination">
            <wsdl:input message="setResultsDestination" name="setResultsDestination" />
            <wsdl:output message="setResultsDestinationResponse" name="setResultsDestinationResponse" />
        </wsdl:operation>

        <wsdl:operation name="startQuery">
            <wsdl:input message="startQuery" name="startQuery" />
            <wsdl:output message="startQueryResponse" name="startQueryResponse" />
        </wsdl:operation>

        <wsdl:operation name="getResultsAndClose">
            <wsdl:input message="getResultsAndClose" name="getResultsAndClose"/>
            <wsdl:output message="getResultsAndCloseResponse" name="getResultsAndCloseResponse"/>
			<wsdl:fault message="SAXException" name="SAXException"/>
        </wsdl:operation>
        <wsdl:operation name="abortQuery">
            <wsdl:input message="abortQuery" name="abortQuery" />
            <wsdl:output message="abortQueryResponse" name="abortQueryResponse" />
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <wsdl:input message="getStatus" name="getStatus" />
            <wsdl:output message="getStatusResponse" name="getStatusResponse" />
        </wsdl:operation>
        <wsdl:operation name="registerWebListener">
            <wsdl:input message="registerWebListener" name="registerWebListener" />
            <wsdl:output message="registerWebListenerResponse" name="registerWebListenerResponse" />
	       <wsdl:fault message="MalformedURLException" name="MalformedURLException" />
        </wsdl:operation>

        <wsdl:operation name="registerJobMonitor">
            <wsdl:input message="registerJobMonitor" name="registerJobMonitor" />
            <wsdl:output message="registerJobMonitorResponse" name="registerJobMonitorResponse" />
	    <wsdl:fault message="MalformedURLException" name="MalformedURLException" />
        </wsdl:operation>

    </wsdl:portType>

    <!-- the binding -->
    <wsdl:binding name="AxisDataServerSoapBinding" type="AxisDataServer">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getMetadata">
            <wsdl:input name="getMetadata">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMetadataResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

          <wsdl:operation name="doQuery">
            <wsdl:input name="doQuery">
                <wsdlsoap:body  use="literal"/>
            </wsdl:input>
            <wsdl:output name="doQueryResponse">
                <wsdlsoap:body  use="literal"/>
            </wsdl:output>
           <wsdl:fault name="QueryException">
            <wsdlsoap:fault  use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="SAXException">
            <wsdlsoap:fault use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="IOException">
            <wsdlsoap:fault use="literal"/>
         </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="makeQuery">
            <wsdl:input name="makeQuery">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="makeQueryResponse">
                <wsdlsoap:body  use="literal"/>
            </wsdl:output>
           <wsdl:fault name="QueryException">
            <wsdlsoap:fault use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="SAXException">
            <wsdlsoap:fault use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="IOException">
            <wsdlsoap:fault  use="literal"/>
         </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="makeQueryWithId">
            <wsdl:input name="makeQueryWithId">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="makeQueryResponse">
                <wsdlsoap:body  use="literal"/>
            </wsdl:output>
           <wsdl:fault name="QueryException">
            <wsdlsoap:fault  use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="SAXException">
            <wsdlsoap:fault  use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="IOException">
            <wsdlsoap:fault use="literal"/>
         </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="setResultsDestination">
            <wsdl:input name="setResultsDestination">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="setResultsDestinationResponse">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="startQuery">
            <wsdl:input name="startQuery">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="startQueryResponse">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getResultsAndClose">
            <wsdl:input name="getResultsAndClose">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getResultsAndCloseResponse">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:output>
         <wsdl:fault name="SAXException">
            <wsdlsoap:fault namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
         </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="abortQuery">
            <wsdl:input name="abortQuery">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="abortQueryResponse">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

       <wsdl:operation name="getStatus">
            <wsdl:input name="getStatus">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStatusResponse">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="registerWebListener">
            <wsdl:input name="registerWebListener">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerWebListenerResponse">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:output>
         <wsdl:fault name="MalformedURLException">
            <wsdlsoap:fault namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
         </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="registerJobMonitor">
            <wsdl:input name="registerJobMonitor">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerJobMonitorResponse">
                <wsdlsoap:body namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
            </wsdl:output>
         <wsdl:fault name="MalformedURLException">
            <wsdlsoap:fault namespace="http://www.astrogrid.org/datacenter/It04/dataserver/v1" use="literal"/>
         </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <!-- the service -->
    <wsdl:service name="AxisDataServerService">
        <wsdl:port binding="AxisDataServerSoapBinding" name="AxisDataServer">
            <wsdlsoap:address location="http://localhost:8080/axis/services/AxisDataServer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
