astrogrid/datacenter/client/src/wsdl/SkyNode0.7.3.1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions   xmlns:s1="http://www.ivoa.net/xml/VOResource/v0.9"
               xmlns:s6="urn:nvo-region"
               xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
               xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
               xmlns:s="http://www.w3.org/2001/XMLSchema"
               xmlns:s0="http://voql.ivoa.net"
               xmlns:s3="http://www.ivoa.net/xml/ConeSearch/v0.2"
               xmlns:s2="http://www.ivoa.net/xml/VORegistry/v0.2"
               xmlns:s5="http://www.ivoa.net/xml/VOCommunity/v0.2"
               xmlns:s4="http://www.ivoa.net/xml/SIA/v0.6"
               xmlns:s7="urn:nvo-coords"
               xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
               xmlns:s8="http://www.ivoa.net/xml/VOTable/v1.0"
               xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
               xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
               targetNamespace="http://voql.ivoa.net"
               xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://voql.ivoa.net">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.9" />
      <s:import namespace="urn:nvo-region" />
      <s:import namespace="http://www.w3.org/2001/XMLSchema">
      <s:import namespace="http://www.ivoa.net/xml/VOTable/v1.0" />
      <s:element name="Columns">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="table" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ColumnsResult" type="s0:ArrayOfMetaColumn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaColumn" nillable="true" type="s0:MetaColumn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UCD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Functions">
        <s:complexType />
      </s:element>
      <s:element name="FunctionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FunctionsResult" type="s0:ArrayOfMetaFunction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaFunction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaFunction" nillable="true" type="s0:MetaFunction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaFunction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s0:ArrayOfParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="s0:Parameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Formats">
        <s:complexType />
      </s:element>
      <s:element name="FormatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FormatsResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MetaData">
        <s:complexType />
      </s:element>
      <s:element name="MetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:MetaDataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Select" nillable="true" type="s0:Select" />
            <s:element minOccurs="0" maxOccurs="1" name="format" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Select">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OptionalAllOrDistinct" type="s0:SelectionOption" />
          <s:element minOccurs="0" maxOccurs="1" name="OptionalTop" type="s0:SelectionLimit" />
          <s:element minOccurs="0" maxOccurs="1" name="Selection" type="s0:SelectionList" />
          <s:element minOccurs="0" maxOccurs="1" name="TableClause" type="s0:TableExpression" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderBy" type="s0:OrderExpression" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SelectionOption">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Option" type="s0:AllOrDistinct" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AllOrDistinct">
        <s:restriction base="s:string">
          <s:enumeration value="ALL" />
          <s:enumeration value="DISTINCT" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="SelectionLimit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:unsignedInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SelectionList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="s0:ArrayOfSelectionItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSelectionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SelectionItem" nillable="true" type="s0:SelectionItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SelectionItem" abstract="true" />
      <s:complexType name="AliasSelectionItem">
        <s:complexContent mixed="false">
          <s:extension base="s0:SelectionItem">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
              <s:element minOccurs="0" maxOccurs="1" name="AliasName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ScalarExpression" abstract="true" />
      <s:complexType name="ClosedExpr">
        <s:complexContent mixed="false">
          <s:extension base="s0:ScalarExpression">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BinaryExpr">
        <s:complexContent mixed="false">
          <s:extension base="s0:ScalarExpression">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstExpr" type="s0:ScalarExpression" />
              <s:element minOccurs="1" maxOccurs="1" name="Operator" type="s0:BinaryOperator" />
              <s:element minOccurs="0" maxOccurs="1" name="SecondExpr" type="s0:ScalarExpression" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="BinaryOperator">
        <s:restriction base="s:string">
          <s:enumeration value="+" />
          <s:enumeration value="-" />
          <s:enumeration value="*" />
          <s:enumeration value="/" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="UnaryExpr">
        <s:complexContent mixed="false">
          <s:extension base="s0:ScalarExpression">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Operator" type="s0:UnaryOperator" />
              <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="UnaryOperator">
        <s:restriction base="s:string">
          <s:enumeration value="+" />
          <s:enumeration value="-" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ColumnExpr">
        <s:complexContent mixed="false">
          <s:extension base="s0:ScalarExpression">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Column" type="s0:ColumnReference" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ColumnReference" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AllColumnReference">
        <s:complexContent mixed="false">
          <s:extension base="s0:ColumnReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SingleColumnReference">
        <s:complexContent mixed="false">
          <s:extension base="s0:ColumnReference">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FunctionExpr">
        <s:complexContent mixed="false">
          <s:extension base="s0:ScalarExpression">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FunctionReference" type="s0:Function" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Function" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FunctionReference" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MutipleColumnsFunction">
        <s:complexContent mixed="false">
          <s:extension base="s0:Function" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AllExpressionsFunction">
        <s:complexContent mixed="false">
          <s:extension base="s0:Function">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ExpressionFunction">
        <s:complexContent mixed="false">
          <s:extension base="s0:Function">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DistinctColumnFunction">
        <s:complexContent mixed="false">
          <s:extension base="s0:Function">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Column" type="s0:ColumnReference" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AtomExpr">
        <s:complexContent mixed="false">
          <s:extension base="s0:ScalarExpression">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Value" type="s0:Atom" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Atom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s0:Literal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Literal" abstract="true" />
      <s:complexType name="StringLiteral">
        <s:complexContent mixed="false">
          <s:extension base="s0:Literal">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Value" type="s0:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="NumberLiteral">
        <s:complexContent mixed="false">
          <s:extension base="s0:Literal">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Num" type="s0:Number" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Number" abstract="true" />
      <s:complexType name="IntNum">
        <s:complexContent mixed="false">
          <s:extension base="s0:Number">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApproxNum">
        <s:complexContent mixed="false">
          <s:extension base="s0:Number">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AllSelectionItem">
        <s:complexContent mixed="false">
          <s:extension base="s0:SelectionItem" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ExprSelectionItem">
        <s:complexContent mixed="false">
          <s:extension base="s0:SelectionItem">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TableExpression">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FromClause" type="s0:From" />
          <s:element minOccurs="0" maxOccurs="1" name="WhereClause" type="s0:Where" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupByClause" type="s0:GroupBy" />
          <s:element minOccurs="0" maxOccurs="1" name="HavingClause" type="s0:Having" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="From">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TableReference" type="s0:ArrayOfTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Table" nillable="true" type="s0:Table" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Table">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AliasName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArchiveTable">
        <s:complexContent mixed="false">
          <s:extension base="s0:Table">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Archive" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Where">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s0:Search" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Search" abstract="true" />
      <s:complexType name="RegionSearch">
        <s:complexContent mixed="false">
          <s:extension base="s0:Search">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Region" type="s6:regionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClosedSearch">
        <s:complexContent mixed="false">
          <s:extension base="s0:Search">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s0:Search" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UnionSearch">
        <s:complexContent mixed="false">
          <s:extension base="s0:Search">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstCondition" type="s0:Search" />
              <s:element minOccurs="0" maxOccurs="1" name="SecondCondition" type="s0:Search" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PredicateSearch">
        <s:complexContent mixed="false">
          <s:extension base="s0:Search">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Pred" type="s0:Predicate" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Predicate" abstract="true" />
      <s:complexType name="BetweenPred">
        <s:complexContent mixed="false">
          <s:extension base="s0:Predicate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
              <s:element minOccurs="1" maxOccurs="1" name="Negate" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstExpr" type="s0:ScalarExpression" />
              <s:element minOccurs="0" maxOccurs="1" name="SecondExpr" type="s0:ScalarExpression" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LikePred">
        <s:complexContent mixed="false">
          <s:extension base="s0:Predicate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
              <s:element minOccurs="1" maxOccurs="1" name="Negate" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" type="s0:Atom" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ComparisonPred">
        <s:complexContent mixed="false">
          <s:extension base="s0:Predicate">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstExpr" type="s0:ScalarExpression" />
              <s:element minOccurs="1" maxOccurs="1" name="Compare" type="s0:Comparison" />
              <s:element minOccurs="0" maxOccurs="1" name="SecondExpr" type="s0:ScalarExpression" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="Comparison">
        <s:restriction base="s:string">
          <s:enumeration value="=" />
          <s:enumeration value="&lt;&gt;" />
          <s:enumeration value="&gt;" />
          <s:enumeration value="&gt;=" />
          <s:enumeration value="&lt;" />
          <s:enumeration value="&lt;=" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="IntersectionSearch">
        <s:complexContent mixed="false">
          <s:extension base="s0:Search">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstCondition" type="s0:Search" />
              <s:element minOccurs="0" maxOccurs="1" name="SecondCondition" type="s0:Search" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="XMatch">
        <s:complexContent mixed="false">
          <s:extension base="s0:Search">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Args" type="s0:ArrayOfAlias" />
              <s:element minOccurs="1" maxOccurs="1" name="Compare" type="s0:Comparison" />
              <s:element minOccurs="0" maxOccurs="1" name="Distance" type="s0:Number" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAlias">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Alias" nillable="true" type="s0:Alias" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Alias">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Negate" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InverseSearch">
        <s:complexContent mixed="false">
          <s:extension base="s0:Search">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s0:Search" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GroupBy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Column" type="s0:ArrayOfColumnReference" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfColumnReference">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ColumnReference" nillable="true" type="s0:ColumnReference" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Having">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s0:Search" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderExpression">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderList" type="s0:ArrayOfOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="s0:Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Expr" type="s0:ScalarExpression" />
          <s:element minOccurs="0" maxOccurs="1" name="Option" type="s0:OrderOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderOption">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Direction" type="s0:OrderDirection" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OrderDirection">
        <s:restriction base="s:string">
          <s:enumeration value="ASC" />
          <s:enumeration value="DESC" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="VOResult" abstract="true" />
      <s:complexType name="DataSetResult">
        <s:complexContent mixed="false">
          <s:extension base="s0:VOResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DataSet">
                <s:complexType>
                  <s:sequence>
                    <s:element ref="s:schema" />
                    <s:any />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ErrorResult">
        <s:complexContent mixed="false">
          <s:extension base="s0:VOResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VOTABLEResult">
        <s:complexContent mixed="false">
          <s:extension base="s0:VOResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="VOTABLE" type="s8:VOTABLE" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PerformQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformQueryResult" type="s0:VOResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HeartBeat">
        <s:complexType />
      </s:element>
      <s:complexType name="HeartBeatMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="timeOnServer" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="upTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="validTo" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Servername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HeartBeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HeartBeatResult" type="s0:HeartBeatMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tables">
        <s:complexType />
      </s:element>
      <s:element name="TablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TablesResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecutePlan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plan" type="s0:ExecPlan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExecPlan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PlanId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Format" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PortalURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanElements" type="s0:ArrayOfPlanElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlanElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlanElement" nillable="true" type="s0:PlanElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlanElement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="XMatch" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="XUpload">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Statement" type="s0:Select" />
          <s:element minOccurs="0" maxOccurs="1" name="Target" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hosts" type="s0:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecutePlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecutePlanResult" type="s0:VOResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Footprint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s6:regionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FootprintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FootprintResult" type="s6:regionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Select" nillable="true" type="s0:Select" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QueryCostResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Select" nillable="true" type="s0:Select" />
            <s:element minOccurs="0" maxOccurs="1" name="votables" type="s8:ArrayOfVOTABLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VOTABLE" nillable="true" type="s8:VOTABLE" />
      <s:element name="XMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMatchResult" type="s0:VOResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfMetaColumn" nillable="true" type="s0:ArrayOfMetaColumn" />
      <s:element name="ArrayOfMetaFunction" nillable="true" type="s0:ArrayOfMetaFunction" />
      <s:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
      <s:element name="HeartBeatMessage" nillable="true" type="s0:HeartBeatMessage" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/VOResource/v0.9">
      <s:import namespace="http://www.ivoa.net/xml/VORegistry/v0.2" />
      <s:import namespace="http://www.ivoa.net/xml/ConeSearch/v0.2" />
      <s:import namespace="http://www.ivoa.net/xml/SIA/v0.6" />
      <s:import namespace="http://www.ivoa.net/xml/VOCommunity/v0.2" />
      <s:element name="MetaDataResult" type="s1:VOResource" />
      <s:complexType name="VOResource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Resource" type="s1:ResourceType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResourceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s1:IdentifierType" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s1:SummaryType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Type" type="s1:categoryType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RelatedResource" type="s1:RelatedResourceType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="LogicalIdentifier" type="s1:LogicalIdentifierType" />
          <s:element minOccurs="0" maxOccurs="1" name="Curation" type="s1:CurationType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContentLevel" type="s1:ContentLevelType" />
        </s:sequence>
        <s:attribute form="unqualified" name="created" type="s:date" />
        <s:attribute form="unqualified" name="updated" type="s:date" />
        <s:attribute default="active" form="unqualified" name="status" type="s1:ResourceTypeStatus" />
      </s:complexType>
      <s:complexType name="IdentifierType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthorityID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResourceKey" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LogicalIdentifierType">
        <s:complexContent mixed="false">
          <s:extension base="s1:IdentifierType">
            <s:attribute form="unqualified" name="role" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SummaryType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceURL" type="s:anyURI" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s1:SourceType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SourceType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute form="unqualified" name="format" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="categoryType">
        <s:restriction base="s:string">
          <s:enumeration value="Other" />
          <s:enumeration value="Archive" />
          <s:enumeration value="Bibliography" />
          <s:enumeration value="Catalog" />
          <s:enumeration value="Journal" />
          <s:enumeration value="Library" />
          <s:enumeration value="Simulation" />
          <s:enumeration value="Survey" />
          <s:enumeration value="Transformation" />
          <s:enumeration value="Education" />
          <s:enumeration value="Outreach" />
          <s:enumeration value="EPOResource" />
          <s:enumeration value="Animation" />
          <s:enumeration value="Artwork" />
          <s:enumeration value="Background" />
          <s:enumeration value="BasicData" />
          <s:enumeration value="Historical" />
          <s:enumeration value="Photographic" />
          <s:enumeration value="Press" />
          <s:enumeration value="Organisation" />
          <s:enumeration value="Project" />
          <s:enumeration value="Person" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="RelatedResourceType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Relationship" type="s1:RelationshipType" />
          <s:element minOccurs="0" maxOccurs="1" name="RelatedTo" type="s1:ResourceReferenceType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RelationshipType">
        <s:restriction base="s:string">
          <s:enumeration value="mirror-of" />
          <s:enumeration value="service-for" />
          <s:enumeration value="derived-from" />
          <s:enumeration value="related-to" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ResourceReferenceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s1:IdentifierType" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceURL" type="s:anyURI" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CurationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="s1:ResourceReferenceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s1:ContactType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Date" type="s1:DateType" />
          <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s1:CreatorType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contributor" type="s1:NameReferenceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s1:IdentifierType" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateType">
        <s:simpleContent>
          <s:extension base="s:date">
            <s:attribute default="representative" form="unqualified" name="role" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="CreatorType">
        <s:complexContent mixed="false">
          <s:extension base="s1:NameReferenceType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Logo" type="s:anyURI" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="NameReferenceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s1:IdentifierType" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ContentLevelType">
        <s:restriction base="s:string">
          <s:enumeration value="General" />
          <s:enumeration value="Elementary Education" />
          <s:enumeration value="Middle School Education" />
          <s:enumeration value="Secondary Education" />
          <s:enumeration value="Community College" />
          <s:enumeration value="University" />
          <s:enumeration value="Research" />
          <s:enumeration value="Amateur" />
          <s:enumeration value="Informal Education" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ResourceTypeStatus">
        <s:restriction base="s:string">
          <s:enumeration value="active" />
          <s:enumeration value="inactive" />
          <s:enumeration value="deleted" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ServiceType">
        <s:complexContent mixed="false">
          <s:extension base="s1:ResourceType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Capability" type="s1:CapabilityType" />
              <s:element minOccurs="0" maxOccurs="1" name="Interface" type="s1:InterfaceType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CapabilityType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StandardURL" type="s:anyURI" />
          <s:element minOccurs="0" maxOccurs="1" name="StandardID" type="s1:IdentifierType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InterfaceType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Invocation" type="s1:InvocationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessURL" type="s1:AccessURLType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="InvocationType">
        <s:restriction base="s:string">
          <s:enumeration value="Custom" />
          <s:enumeration value="Extended" />
          <s:enumeration value="WebService" />
          <s:enumeration value="WebBrowser" />
          <s:enumeration value="GLUService" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AccessURLType">
        <s:simpleContent>
          <s:extension base="s:anyURI">
            <s:attribute form="unqualified" name="use" type="s1:AccessURLTypeUse" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="AccessURLTypeUse">
        <s:restriction base="s:string">
          <s:enumeration value="full" />
          <s:enumeration value="base" />
          <s:enumeration value="dir" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Facility" type="s1:ResourceReferenceType" />
      <s:element name="Instrument" type="s1:ResourceReferenceType" />
      <s:element name="VOResource" type="s1:VOResource" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/VORegistry/v0.2">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.9" />
      <s:complexType name="AuthorityType">
        <s:complexContent mixed="false">
          <s:extension base="s1:ResourceType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ManagingOrg" type="s1:IdentifierType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RegistryType">
        <s:complexContent mixed="false">
          <s:extension base="s1:ServiceType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="ManagedAuthority" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/ConeSearch/v0.2">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.9" />
      <s:complexType name="ConeSearchType">
        <s:complexContent mixed="false">
          <s:extension base="s1:CapabilityType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaxSR" type="s:float" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Verbosity" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/SIA/v0.6">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.9" />
      <s:complexType name="SimpleImageAccessType">
        <s:complexContent mixed="false">
          <s:extension base="s1:CapabilityType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ImageServiceType" type="s4:ImageServiceType" />
              <s:element minOccurs="0" maxOccurs="1" name="MaxQueryRegionSize" type="s4:MaxQueryRegionSize" />
              <s:element minOccurs="0" maxOccurs="1" name="MaxImageExtent" type="s4:MaxImageExtent" />
              <s:element minOccurs="0" maxOccurs="1" name="MaxImageSize" type="s4:MaxImageSize" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxFileSize" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="ImageServiceType">
        <s:restriction base="s:string">
          <s:enumeration value="Cutout" />
          <s:enumeration value="Mosaic" />
          <s:enumeration value="Atlas" />
          <s:enumeration value="Pointed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="MaxQueryRegionSize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="long" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MaxImageExtent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="long" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MaxImageSize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="long" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/VOCommunity/v0.2">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.9" />
      <s:complexType name="OrganisationType">
        <s:complexContent mixed="false">
          <s:extension base="s1:ResourceType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" ref="s1:Facility" />
              <s:element minOccurs="0" maxOccurs="unbounded" ref="s1:Instrument" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ProjectType">
        <s:complexContent mixed="false">
          <s:extension base="s5:OrganisationType" />
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:nvo-region">
      <s:import namespace="urn:nvo-coords" />
      <s:complexType name="regionType" abstract="true">
        <s:attribute default="1" name="fill_factor" type="s:double" />
        <s:attribute name="note" type="s:string" />
      </s:complexType>
      <s:complexType name="unionType">
        <s:complexContent mixed="false">
          <s:extension base="s6:regionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Region" type="s6:regionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="intersectionType">
        <s:complexContent mixed="false">
          <s:extension base="s6:regionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Region" type="s6:regionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="negationType">
        <s:complexContent mixed="false">
          <s:extension base="s6:regionType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Region" type="s6:regionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="shapeType" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s6:regionType">
            <s:attribute name="coord_system_id" type="s:IDREF" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="circleType">
        <s:complexContent mixed="false">
          <s:extension base="s6:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Center" type="s7:coordsType" />
              <s:element minOccurs="1" maxOccurs="1" name="Radius" type="s:double" />
            </s:sequence>
            <s:attribute default="deg" name="radius_unit" type="s7:posUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ellipseType">
        <s:complexContent mixed="false">
          <s:extension base="s6:circleType">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MinorRadius" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PosAngle" type="s:double" />
            </s:sequence>
            <s:attribute default="deg" name="pos_angle_unit" type="s7:angleUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="convexHullType">
        <s:complexContent mixed="false">
          <s:extension base="s6:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Point" type="s7:coordsType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="polygonType">
        <s:complexContent mixed="false">
          <s:extension base="s6:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Vertex" type="s6:vertexType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="vertexType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="s7:coordsType" />
          <s:element minOccurs="1" maxOccurs="1" name="SmallCircle" nillable="true" type="s6:smallCircleType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="smallCircleType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pole" type="s7:coordsType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="sectorType">
        <s:complexContent mixed="false">
          <s:extension base="s6:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Position" type="s7:coordsType" />
              <s:element minOccurs="1" maxOccurs="1" name="PosAngle1" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PosAngle2" type="s:double" />
            </s:sequence>
            <s:attribute default="deg" name="pos_angle_unit" type="s7:posUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="convexType">
        <s:complexContent mixed="false">
          <s:extension base="s6:shapeType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="Constraint" type="s6:constraintType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="constraintType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Vector" type="s7:coordsType" />
          <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:nvo-coords">
      <s:complexType name="coordsType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="Redshift" type="s7:velScalarType" />
            <s:element minOccurs="0" maxOccurs="1" name="Vel3Vector" type="s7:vel3VectorType" />
            <s:element minOccurs="0" maxOccurs="1" name="VelScalar" type="s7:velScalarType" />
            <s:element minOccurs="0" maxOccurs="1" name="Spectrum" type="s7:coordSpectralType" />
            <s:element minOccurs="0" maxOccurs="1" name="CoordFile" type="s:anyURI" />
            <s:element minOccurs="0" maxOccurs="1" name="Time" type="s7:coordTimeType" />
            <s:element minOccurs="0" maxOccurs="1" name="Vel2Vector" type="s7:vel2VectorType" />
            <s:element minOccurs="0" maxOccurs="1" name="Pos2Vector" type="s7:pos2VectorType" />
            <s:element minOccurs="0" maxOccurs="1" name="PosScalar" type="s7:posScalarType" />
            <s:element minOccurs="0" maxOccurs="1" name="Pos3Vector" type="s7:pos3VectorType" />
          </s:choice>
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="coord_system_id" type="s:IDREF" />
      </s:complexType>
      <s:complexType name="velScalarType">
        <s:complexContent mixed="false">
          <s:extension base="s7:velCoordType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CoordValue" type="s7:coordValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordError" type="s7:coordValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordResolution" type="s7:coordValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordSize" type="s7:coordValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordPixsize" type="s7:coordValueType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="velCoordType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
        <s:attribute default="s" name="vel_time_unit" type="s7:velTimeUnitType" />
      </s:complexType>
      <s:simpleType name="velTimeUnitType">
        <s:restriction base="s:string">
          <s:enumeration value="s" />
          <s:enumeration value="h" />
          <s:enumeration value="d" />
          <s:enumeration value="a" />
          <s:enumeration value="yr" />
          <s:enumeration value="century" />
          <s:enumeration value="" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="vel2VectorType">
        <s:complexContent mixed="false">
          <s:extension base="s7:velCoordType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CoordValue" type="s7:coord2ValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordError" type="s7:coord2SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordResolution" type="s7:coord2SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordSize" type="s7:coord2SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordPixsize" type="s7:coord2SizeType" />
            </s:sequence>
            <s:attribute default="deg" name="pos_ang_unit" type="s7:angleUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="coord2ValueType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s7:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="Value60" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:IDREFS" />
          </s:choice>
        </s:sequence>
        <s:attribute default="deg" name="pos1_unit" type="s7:posUnitType" />
        <s:attribute default="deg" name="pos2_unit" type="s7:posUnitType" />
      </s:complexType>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="posUnitType">
        <s:restriction base="s:string">
          <s:enumeration value="deg" />
          <s:enumeration value="rad" />
          <s:enumeration value="h" />
          <s:enumeration value="arcmin" />
          <s:enumeration value="arcsec" />
          <s:enumeration value="m" />
          <s:enumeration value="km" />
          <s:enumeration value="mm" />
          <s:enumeration value="au" />
          <s:enumeration value="pc" />
          <s:enumeration value="kpc" />
          <s:enumeration value="Mpc" />
          <s:enumeration value="lyr" />
          <s:enumeration value="" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="coord2SizeType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="PosAngleRef" type="s:IDREF" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s7:ArrayOfDouble" />
            <s:element minOccurs="1" maxOccurs="1" name="Matrix" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:IDREFS" />
            <s:element minOccurs="1" maxOccurs="1" name="PosAngle" type="s:double" />
          </s:choice>
        </s:sequence>
        <s:attribute default="deg" name="pos1_unit" type="s7:posUnitType" />
        <s:attribute default="deg" name="pos2_unit" type="s7:posUnitType" />
      </s:complexType>
      <s:simpleType name="angleUnitType">
        <s:restriction base="s:string">
          <s:enumeration value="deg" />
          <s:enumeration value="rad" />
          <s:enumeration value="h" />
          <s:enumeration value="arcmin" />
          <s:enumeration value="arcsec" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="vel3VectorType">
        <s:complexContent mixed="false">
          <s:extension base="s7:velCoordType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CoordValue" type="s7:coord3ValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordError" type="s7:coord3SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordResolution" type="s7:coord3SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordSize" type="s7:coord3SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordPixsize" type="s7:coord3SizeType" />
            </s:sequence>
            <s:attribute default="deg" name="pos_ang_unit" type="s7:angleUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="coord3ValueType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s7:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:IDREFS" />
          </s:choice>
        </s:sequence>
        <s:attribute name="pos1_unit" type="s7:posUnitType" />
        <s:attribute name="pos2_unit" type="s7:posUnitType" />
        <s:attribute name="pos3_unit" type="s7:posUnitType" />
      </s:complexType>
      <s:complexType name="coord3SizeType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="PosAngleRef" type="s:IDREFS" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s7:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="Matrix" type="s7:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:IDREFS" />
            <s:element minOccurs="0" maxOccurs="1" name="PosAngle" type="s7:ArrayOfDouble" />
          </s:choice>
        </s:sequence>
        <s:attribute name="pos1_unit" type="s7:posUnitType" />
        <s:attribute name="pos2_unit" type="s7:posUnitType" />
        <s:attribute name="pos3_unit" type="s7:posUnitType" />
      </s:complexType>
      <s:complexType name="coordValueType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s7:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="Value60" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:IDREF" />
          </s:choice>
        </s:sequence>
        <s:attribute default="deg" name="pos_unit" type="s7:posUnitType" />
      </s:complexType>
      <s:complexType name="coordSpectralType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordValue" type="s7:coordSpectralValueType" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordError" type="s7:coordSpectralValueType" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordResolution" type="s7:coordSpectralValueType" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordSize" type="s7:coordSpectralValueType" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordPixsize" type="s7:coordSpectralValueType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="coordSpectralValueType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:IDREF" />
          </s:choice>
        </s:sequence>
        <s:attribute default="Hz" name="spectral_unit" type="s7:spectralUnitType" />
      </s:complexType>
      <s:simpleType name="spectralUnitType">
        <s:restriction base="s:string">
          <s:enumeration value="Hz" />
          <s:enumeration value="kHz" />
          <s:enumeration value="MHz" />
          <s:enumeration value="GHz" />
          <s:enumeration value="m" />
          <s:enumeration value="mm" />
          <s:enumeration value="micron" />
          <s:enumeration value="nm" />
          <s:enumeration value="A" />
          <s:enumeration value="eV" />
          <s:enumeration value="keV" />
          <s:enumeration value="MeV" />
          <s:enumeration value="GeV" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="coordTimeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordValue" type="s7:astronTimeType" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordError" type="s7:coordTimeValueType" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordResolution" type="s7:coordTimeValueType" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordSize" type="s7:coordTimeValueType" />
          <s:element minOccurs="0" maxOccurs="1" name="CoordPixsize" type="s7:coordTimeValueType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="astronTimeType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="1" maxOccurs="1" name="MJDRefTime" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s7:astronTimeTypeReference" />
            <s:element minOccurs="0" maxOccurs="1" name="RelativeTime" type="s7:astronTimeTypeRelativeTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ISORefTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ISOTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="JDTime" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="MJDTime" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="JDRefTime" type="s:decimal" />
          </s:choice>
          <s:element minOccurs="1" maxOccurs="1" name="TimeScale" type="s7:timeScaleType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="astronTimeTypeReference">
        <s:simpleContent>
          <s:extension base="s:IDREF">
            <s:attribute default="ISO8601" name="time_base" type="s7:astronTimeTypeReferenceTime_base" />
            <s:attribute default="s" name="unit" type="s7:astronTimeTypeReferenceUnit" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="astronTimeTypeReferenceTime_base">
        <s:restriction base="s:string">
          <s:enumeration value="ISO8601" />
          <s:enumeration value="JD" />
          <s:enumeration value="MJD" />
          <s:enumeration value="relative" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="astronTimeTypeReferenceUnit">
        <s:restriction base="s:string">
          <s:enumeration value="s" />
          <s:enumeration value="d" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="astronTimeTypeRelativeTime">
        <s:simpleContent>
          <s:extension base="s:double">
            <s:attribute default="s" name="unit" type="s7:astronTimeTypeRelativeTimeUnit" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="astronTimeTypeRelativeTimeUnit">
        <s:restriction base="s:string">
          <s:enumeration value="s" />
          <s:enumeration value="d" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="timeScaleType">
        <s:restriction base="s:string">
          <s:enumeration value="TT" />
          <s:enumeration value="TDT" />
          <s:enumeration value="ET" />
          <s:enumeration value="TDB" />
          <s:enumeration value="TCG" />
          <s:enumeration value="TCB" />
          <s:enumeration value="TAI" />
          <s:enumeration value="IAT" />
          <s:enumeration value="UTC" />
          <s:enumeration value="LST" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="coordTimeValueType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:IDREF" />
          </s:choice>
        </s:sequence>
        <s:attribute default="s" name="time_unit" type="s7:velTimeUnitType" />
      </s:complexType>
      <s:complexType name="pos2VectorType">
        <s:complexContent mixed="false">
          <s:extension base="s7:posCoordType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CoordValue" type="s7:coord2ValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordError" type="s7:coord2SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordResolution" type="s7:coord2SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordSize" type="s7:coord2SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordPixsize" type="s7:coord2SizeType" />
            </s:sequence>
            <s:attribute default="deg" name="pos_ang_unit" type="s7:angleUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="posCoordType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="pos3VectorType">
        <s:complexContent mixed="false">
          <s:extension base="s7:posCoordType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CoordValue" type="s7:coord3ValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordError" type="s7:coord3SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordResolution" type="s7:coord3SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordSize" type="s7:coord3SizeType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordPixsize" type="s7:coord3SizeType" />
            </s:sequence>
            <s:attribute default="deg" name="pos_ang_unit" type="s7:angleUnitType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="posScalarType">
        <s:complexContent mixed="false">
          <s:extension base="s7:posCoordType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CoordValue" type="s7:coordValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordError" type="s7:coordValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordResolution" type="s7:coordValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordSize" type="s7:coordValueType" />
              <s:element minOccurs="0" maxOccurs="1" name="CoordPixsize" type="s7:coordValueType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/VOTable/v1.0">
      <s:import namespace="http://voql.ivoa.net" />
      <s:complexType name="VOTABLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DEFINITIONS" type="s8:ArrayOfChoice1" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="INFO" type="s8:INFO" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RESOURCE" type="s8:RESOURCE" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="version" type="s8:VOTABLEVersion" />
      </s:complexType>
      <s:complexType name="ArrayOfChoice1">
        <s:choice minOccurs="0" maxOccurs="unbounded">
          <s:element minOccurs="0" maxOccurs="1" name="PARAM" type="s8:PARAM" />
          <s:element minOccurs="0" maxOccurs="1" name="COOSYS" type="s8:COOSYS" />
        </s:choice>
      </s:complexType>
      <s:complexType name="PARAM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="VALUES" type="s8:VALUES" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="LINK" type="s8:LINK" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="unit" type="s:token" />
        <s:attribute name="datatype" type="s8:dataType" />
        <s:attribute name="precision" type="s:token" />
        <s:attribute name="width" type="s:positiveInteger" />
        <s:attribute name="ref" type="s:IDREF" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ucd" type="s:token" />
        <s:attribute name="value" type="s:string" />
        <s:attribute name="arraysize" type="s:token" />
      </s:complexType>
      <s:complexType name="VALUES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MIN" type="s8:MIN" />
          <s:element minOccurs="0" maxOccurs="1" name="MAX" type="s8:MAX" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="OPTION" type="s8:OPTION" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute default="legal" name="type" type="s8:VALUESType" />
        <s:attribute name="null" type="s:token" />
        <s:attribute default="no" name="invalid" type="s8:yesno" />
      </s:complexType>
      <s:complexType name="MIN">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="value" type="s:string" />
            <s:attribute default="yes" name="inclusive" type="s8:yesno" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="yesno">
        <s:restriction base="s:string">
          <s:enumeration value="yes" />
          <s:enumeration value="no" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="MAX">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="value" type="s:string" />
            <s:attribute default="yes" name="inclusive" type="s8:yesno" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="OPTION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OPTION" type="s8:OPTION" />
        </s:sequence>
        <s:attribute name="name" type="s:token" />
        <s:attribute name="value" type="s:string" />
      </s:complexType>
      <s:simpleType name="VALUESType">
        <s:restriction base="s:string">
          <s:enumeration value="legal" />
          <s:enumeration value="actual" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="LINK">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="ID" type="s:ID" />
            <s:attribute name="content-role" type="s8:LINKContentrole" />
            <s:attribute name="content-type" type="s:token" />
            <s:attribute name="title" type="s:string" />
            <s:attribute name="value" type="s:string" />
            <s:attribute name="href" type="s:anyURI" />
            <s:attribute name="gref" type="s:token" />
            <s:attribute name="action" type="s:anyURI" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="LINKContentrole">
        <s:restriction base="s:string">
          <s:enumeration value="query" />
          <s:enumeration value="hints" />
          <s:enumeration value="doc" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="dataType">
        <s:restriction base="s:string">
          <s:enumeration value="boolean" />
          <s:enumeration value="bit" />
          <s:enumeration value="unsignedByte" />
          <s:enumeration value="short" />
          <s:enumeration value="int" />
          <s:enumeration value="long" />
          <s:enumeration value="char" />
          <s:enumeration value="unicodeChar" />
          <s:enumeration value="float" />
          <s:enumeration value="double" />
          <s:enumeration value="floatComplex" />
          <s:enumeration value="doubleComplex" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="COOSYS">
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="equinox" type="s:token" />
        <s:attribute name="epoch" type="s:token" />
        <s:attribute default="eq_FK5" name="system" type="s8:COOSYSSystem" />
      </s:complexType>
      <s:simpleType name="COOSYSSystem">
        <s:restriction base="s:string">
          <s:enumeration value="eq_FK4" />
          <s:enumeration value="eq_FK5" />
          <s:enumeration value="ICRS" />
          <s:enumeration value="ecl_FK4" />
          <s:enumeration value="ecl_FK5" />
          <s:enumeration value="galactic" />
          <s:enumeration value="supergalactic" />
          <s:enumeration value="xy" />
          <s:enumeration value="barycentric" />
          <s:enumeration value="geo_app" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="INFO">
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="value" type="s:string" />
      </s:complexType>
      <s:complexType name="RESOURCE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="unbounded" name="INFO" type="s8:INFO" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="COOSYS" type="s8:COOSYS" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="PARAM" type="s8:PARAM" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="LINK" type="s8:LINK" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="TABLE" type="s8:TABLE" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="RESOURCE" type="s8:RESOURCE" />
        </s:sequence>
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ID" type="s:ID" />
        <s:attribute default="results" name="type" type="s8:RESOURCEType" />
      </s:complexType>
      <s:complexType name="TABLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FIELD" type="s8:FIELD" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="LINK" type="s8:LINK" />
          <s:element minOccurs="0" maxOccurs="1" name="DATA" type="s8:DATA" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ref" type="s:IDREF" />
      </s:complexType>
      <s:complexType name="FIELD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s8:ArrayOfXmlNode" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="VALUES" type="s8:VALUES" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="LINK" type="s8:LINK" />
        </s:sequence>
        <s:attribute name="ID" type="s:ID" />
        <s:attribute name="unit" type="s:token" />
        <s:attribute name="datatype" type="s8:dataType" use="required" />
        <s:attribute name="precision" type="s:token" />
        <s:attribute name="width" type="s:positiveInteger" />
        <s:attribute name="ref" type="s:IDREF" />
        <s:attribute name="name" type="s:token" />
        <s:attribute name="ucd" type="s:string" />
        <s:attribute name="arraysize" type="s:string" />
        <s:attribute name="type" type="s8:FIELDType" />
      </s:complexType>
      <s:complexType name="ArrayOfXmlNode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XmlNode" nillable="true">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FIELDType">
        <s:restriction base="s:string">
          <s:enumeration value="hidden" />
          <s:enumeration value="no_query" />
          <s:enumeration value="trigger" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="DATA">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="BINARY" type="s8:StreamTABLEFORMATType" />
            <s:element minOccurs="0" maxOccurs="1" name="FITS" type="s8:DATATABLEFORMATFITS" />
            <s:element minOccurs="0" maxOccurs="1" name="TABLEDATA" type="s8:DATATABLEFORMATTABLEDATA" />
          </s:choice>
        </s:sequence>
      </s:complexType>
      <s:complexType name="StreamTABLEFORMATType">
        <s:complexContent mixed="false">
          <s:extension base="s8:TABLEFORMATType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="STREAM" type="s8:STREAM" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TABLEFORMATType" />
      <s:complexType name="DATATABLEFORMATTABLEDATA">
        <s:complexContent mixed="false">
          <s:extension base="s8:TABLEFORMATType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TR" type="s8:ArrayOfTD" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfTD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TD" type="s8:TD" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TD">
        <s:attribute name="ref" type="s:IDREF" />
      </s:complexType>
      <s:complexType name="STREAM">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute default="locator" name="type" type="s8:STREAMType" />
            <s:attribute name="href" type="s:anyURI" />
            <s:attribute default="onRequest" name="actuate" type="s8:STREAMActuate" />
            <s:attribute default="none" name="encoding" type="s8:STREAMEncoding" />
            <s:attribute name="expires" type="s:dateTime" />
            <s:attribute name="rights" type="s:token" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="STREAMType">
        <s:restriction base="s:string">
          <s:enumeration value="locator" />
          <s:enumeration value="other" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="STREAMActuate">
        <s:restriction base="s:string">
          <s:enumeration value="onLoad" />
          <s:enumeration value="onRequest" />
          <s:enumeration value="other" />
          <s:enumeration value="none" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="STREAMEncoding">
        <s:restriction base="s:string">
          <s:enumeration value="gzip" />
          <s:enumeration value="base64" />
          <s:enumeration value="dynamic" />
          <s:enumeration value="none" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="DATATABLEFORMATFITS">
        <s:complexContent mixed="false">
          <s:extension base="s8:StreamTABLEFORMATType">
            <s:attribute name="extnum" type="s:positiveInteger" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="RESOURCEType">
        <s:restriction base="s:string">
          <s:enumeration value="results" />
          <s:enumeration value="meta" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="VOTABLEVersion">
        <s:restriction base="s:string">
          <s:enumeration value="1.0" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfVOTABLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s0:VOTABLE" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="ColumnsSoapIn">
    <part name="parameters" element="s0:Columns" />
  </message>
  <message name="ColumnsSoapOut">
    <part name="parameters" element="s0:ColumnsResponse" />
  </message>
  <message name="FunctionsSoapIn">
    <part name="parameters" element="s0:Functions" />
  </message>
  <message name="FunctionsSoapOut">
    <part name="parameters" element="s0:FunctionsResponse" />
  </message>
  <message name="FormatsSoapIn">
    <part name="parameters" element="s0:Formats" />
  </message>
  <message name="FormatsSoapOut">
    <part name="parameters" element="s0:FormatsResponse" />
  </message>
  <message name="MetaDataSoapIn">
    <part name="parameters" element="s0:MetaData" />
  </message>
  <message name="MetaDataSoapOut">
    <part name="parameters" element="s0:MetaDataResponse" />
  </message>
  <message name="PerformQuerySoapIn">
    <part name="parameters" element="s0:PerformQuery" />
  </message>
  <message name="PerformQuerySoapOut">
    <part name="parameters" element="s0:PerformQueryResponse" />
  </message>
  <message name="HeartBeatSoapIn">
    <part name="parameters" element="s0:HeartBeat" />
  </message>
  <message name="HeartBeatSoapOut">
    <part name="parameters" element="s0:HeartBeatResponse" />
  </message>
  <message name="TablesSoapIn">
    <part name="parameters" element="s0:Tables" />
  </message>
  <message name="TablesSoapOut">
    <part name="parameters" element="s0:TablesResponse" />
  </message>
  <message name="ExecutePlanSoapIn">
    <part name="parameters" element="s0:ExecutePlan" />
  </message>
  <message name="ExecutePlanSoapOut">
    <part name="parameters" element="s0:ExecutePlanResponse" />
  </message>
  <message name="FootprintSoapIn">
    <part name="parameters" element="s0:Footprint" />
  </message>
  <message name="FootprintSoapOut">
    <part name="parameters" element="s0:FootprintResponse" />
  </message>
  <message name="QueryCostSoapIn">
    <part name="parameters" element="s0:QueryCost" />
  </message>
  <message name="QueryCostSoapOut">
    <part name="parameters" element="s0:QueryCostResponse" />
  </message>
  <message name="XMatchSoapIn">
    <part name="parameters" element="s0:XMatch" />
  </message>
  <message name="XMatchSoapOut">
    <part name="parameters" element="s0:XMatchResponse" />
  </message>
  <message name="ColumnsHttpGetIn">
    <part name="table" type="s:string" />
  </message>
  <message name="ColumnsHttpGetOut">
    <part name="Body" element="s0:ArrayOfMetaColumn" />
  </message>
  <message name="FunctionsHttpGetIn" />
  <message name="FunctionsHttpGetOut">
    <part name="Body" element="s0:ArrayOfMetaFunction" />
  </message>
  <message name="FormatsHttpGetIn" />
  <message name="FormatsHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="MetaDataHttpGetIn" />
  <message name="MetaDataHttpGetOut">
    <part name="Body" element="s1:VOResource" />
  </message>
  <message name="HeartBeatHttpGetIn" />
  <message name="HeartBeatHttpGetOut">
    <part name="Body" element="s0:HeartBeatMessage" />
  </message>
  <message name="TablesHttpGetIn" />
  <message name="TablesHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="ColumnsHttpPostIn">
    <part name="table" type="s:string" />
  </message>
  <message name="ColumnsHttpPostOut">
    <part name="Body" element="s0:ArrayOfMetaColumn" />
  </message>
  <message name="FunctionsHttpPostIn" />
  <message name="FunctionsHttpPostOut">
    <part name="Body" element="s0:ArrayOfMetaFunction" />
  </message>
  <message name="FormatsHttpPostIn" />
  <message name="FormatsHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="MetaDataHttpPostIn" />
  <message name="MetaDataHttpPostOut">
    <part name="Body" element="s1:VOResource" />
  </message>
  <message name="HeartBeatHttpPostIn" />
  <message name="HeartBeatHttpPostOut">
    <part name="Body" element="s0:HeartBeatMessage" />
  </message>
  <message name="TablesHttpPostIn" />
  <message name="TablesHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <portType name="SkyNodeSoap">
    <operation name="Columns">
      <documentation>[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <input message="s0:ColumnsSoapIn" />
      <output message="s0:ColumnsSoapOut" />
    </operation>
    <operation name="Functions">
      <documentation>[BASIC] Returns MetaFunction[] with info for each function supported by the service. These are functions other than the standard ones defined in ADQL.</documentation>
      <input message="s0:FunctionsSoapIn" />
      <output message="s0:FunctionsSoapOut" />
    </operation>
    <operation name="Formats">
      <documentation>[BASIC] Returns a string[] of available query result formats.</documentation>
      <input message="s0:FormatsSoapIn" />
      <output message="s0:FormatsSoapOut" />
    </operation>
    <operation name="MetaData">
      <documentation>[BASIC] Returns VOResource metadata as defined in the RSM document</documentation>
      <input message="s0:MetaDataSoapIn" />
      <output message="s0:MetaDataSoapOut" />
    </operation>
    <operation name="PerformQuery">
      <documentation>[BASIC] Run a query, get back VOResult</documentation>
      <input message="s0:PerformQuerySoapIn" />
      <output message="s0:PerformQuerySoapOut" />
    </operation>
    <operation name="HeartBeat">
      <documentation>[BASIC] Returns uptime infomration about the is service</documentation>
      <input message="s0:HeartBeatSoapIn" />
      <output message="s0:HeartBeatSoapOut" />
    </operation>
    <operation name="Tables">
      <documentation>[BASIC] Returns a list of all tables that may be used from vot node.</documentation>
      <input message="s0:TablesSoapIn" />
      <output message="s0:TablesSoapOut" />
    </operation>
    <operation name="ExecutePlan">
      <documentation>[FULL] Run an ExecPlan, get back a VOResult</documentation>
      <input message="s0:ExecutePlanSoapIn" />
      <output message="s0:ExecutePlanSoapOut" />
    </operation>
    <operation name="Footprint">
      <documentation>[FULL] Returns a region which is the intersection of the survey and the given region.</documentation>
      <input message="s0:FootprintSoapIn" />
      <output message="s0:FootprintSoapOut" />
    </operation>
    <operation name="QueryCost">
      <documentation>[FULL] Returns object count for a given criteria.</documentation>
      <input message="s0:QueryCostSoapIn" />
      <output message="s0:QueryCostSoapOut" />
    </operation>
    <operation name="XMatch">
      <documentation>[FULL] i.e. Crossmatch</documentation>
      <input message="s0:XMatchSoapIn" />
      <output message="s0:XMatchSoapOut" />
    </operation>
  </portType>
  <portType name="SkyNodeHttpGet">
    <operation name="Columns">
      <documentation>[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <input message="s0:ColumnsHttpGetIn" />
      <output message="s0:ColumnsHttpGetOut" />
    </operation>
    <operation name="Functions">
      <documentation>[BASIC] Returns MetaFunction[] with info for each function supported by the service. These are functions other than the standard ones defined in ADQL.</documentation>
      <input message="s0:FunctionsHttpGetIn" />
      <output message="s0:FunctionsHttpGetOut" />
    </operation>
    <operation name="Formats">
      <documentation>[BASIC] Returns a string[] of available query result formats.</documentation>
      <input message="s0:FormatsHttpGetIn" />
      <output message="s0:FormatsHttpGetOut" />
    </operation>
    <operation name="MetaData">
      <documentation>[BASIC] Returns VOResource metadata as defined in the RSM document</documentation>
      <input message="s0:MetaDataHttpGetIn" />
      <output message="s0:MetaDataHttpGetOut" />
    </operation>
    <operation name="HeartBeat">
      <documentation>[BASIC] Returns uptime infomration about the is service</documentation>
      <input message="s0:HeartBeatHttpGetIn" />
      <output message="s0:HeartBeatHttpGetOut" />
    </operation>
    <operation name="Tables">
      <documentation>[BASIC] Returns a list of all tables that may be used from vot node.</documentation>
      <input message="s0:TablesHttpGetIn" />
      <output message="s0:TablesHttpGetOut" />
    </operation>
  </portType>
  <portType name="SkyNodeHttpPost">
    <operation name="Columns">
      <documentation>[BASIC] Returns MetaColumn[] info for a given table.</documentation>
      <input message="s0:ColumnsHttpPostIn" />
      <output message="s0:ColumnsHttpPostOut" />
    </operation>
    <operation name="Functions">
      <documentation>[BASIC] Returns MetaFunction[] with info for each function supported by the service. These are functions other than the standard ones defined in ADQL.</documentation>
      <input message="s0:FunctionsHttpPostIn" />
      <output message="s0:FunctionsHttpPostOut" />
    </operation>
    <operation name="Formats">
      <documentation>[BASIC] Returns a string[] of available query result formats.</documentation>
      <input message="s0:FormatsHttpPostIn" />
      <output message="s0:FormatsHttpPostOut" />
    </operation>
    <operation name="MetaData">
      <documentation>[BASIC] Returns VOResource metadata as defined in the RSM document</documentation>
      <input message="s0:MetaDataHttpPostIn" />
      <output message="s0:MetaDataHttpPostOut" />
    </operation>
    <operation name="HeartBeat">
      <documentation>[BASIC] Returns uptime infomration about the is service</documentation>
      <input message="s0:HeartBeatHttpPostIn" />
      <output message="s0:HeartBeatHttpPostOut" />
    </operation>
    <operation name="Tables">
      <documentation>[BASIC] Returns a list of all tables that may be used from vot node.</documentation>
      <input message="s0:TablesHttpPostIn" />
      <output message="s0:TablesHttpPostOut" />
    </operation>
  </portType>
  <binding name="SkyNodeSoap" type="s0:SkyNodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Columns">
      <soap:operation soapAction="http://voql.ivoa.net/Columns" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Functions">
      <soap:operation soapAction="http://voql.ivoa.net/Functions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Formats">
      <soap:operation soapAction="http://voql.ivoa.net/Formats" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MetaData">
      <soap:operation soapAction="http://voql.ivoa.net/MetaData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PerformQuery">
      <soap:operation soapAction="http://voql.ivoa.net/PerformQuery" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HeartBeat">
      <soap:operation soapAction="http://voql.ivoa.net/HeartBeat" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Tables">
      <soap:operation soapAction="http://voql.ivoa.net/Tables" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ExecutePlan">
      <soap:operation soapAction="http://voql.ivoa.net/ExecutePlan" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Footprint">
      <soap:operation soapAction="http://voql.ivoa.net/Footprint" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryCost">
      <soap:operation soapAction="http://voql.ivoa.net/QueryCost" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="XMatch">
      <soap:operation soapAction="http://voql.ivoa.net/XMatch" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="SkyNodeHttpGet" type="s0:SkyNodeHttpGet">
    <http:binding verb="GET" />
    <operation name="Columns">
      <http:operation location="/Columns" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Functions">
      <http:operation location="/Functions" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Formats">
      <http:operation location="/Formats" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="MetaData">
      <http:operation location="/MetaData" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="HeartBeat">
      <http:operation location="/HeartBeat" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Tables">
      <http:operation location="/Tables" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="SkyNodeHttpPost" type="s0:SkyNodeHttpPost">
    <http:binding verb="POST" />
    <operation name="Columns">
      <http:operation location="/Columns" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Functions">
      <http:operation location="/Functions" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Formats">
      <http:operation location="/Formats" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="MetaData">
      <http:operation location="/MetaData" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="HeartBeat">
      <http:operation location="/HeartBeat" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Tables">
      <http:operation location="/Tables" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="SkyNode">
    <documentation>Interface for basic and full SkyNodes.</documentation>
    <port name="SkyNodeSoap" binding="s0:SkyNodeSoap">
      <soap:address location="http://skyservice.pha.jhu.edu/devel/SkyNode/SkyNode.asmx" />
    </port>
    <port name="SkyNodeHttpGet" binding="s0:SkyNodeHttpGet">
      <http:address location="http://skyservice.pha.jhu.edu/devel/SkyNode/SkyNode.asmx" />
    </port>
    <port name="SkyNodeHttpPost" binding="s0:SkyNodeHttpPost">
      <http:address location="http://skyservice.pha.jhu.edu/devel/SkyNode/SkyNode.asmx" />
    </port>
  </service>
</definitions>
